Repository adventuregamestudio/ags, pull requests merged in 2018-07, with the labels that each got.

#460 3.4.1: Separate native and displayed image formats; support actual 16-bit native mode again
  Common/ac/gamesetupstruct.h
  Engine/ac/character.cpp
  Engine/ac/dialog.cpp
  Engine/ac/display.cpp
  Engine/ac/draw.cpp
  Engine/ac/draw.h
  Engine/ac/dynamicsprite.cpp
  Engine/ac/game.cpp
  Engine/ac/gamesetup.cpp
  Engine/ac/gamesetup.h
  Engine/ac/global_debug.cpp
  Engine/ac/global_game.cpp
  Engine/ac/global_overlay.cpp
  Engine/ac/gui.cpp
  Engine/ac/mouse.cpp
  Engine/ac/object.cpp
  Engine/ac/room.cpp
  Engine/ac/sprite.cpp
  Engine/game/savegame.cpp
  Engine/gfx/ali3dogl.cpp
  Engine/gfx/ali3dogl.h
  Engine/gfx/ali3dsw.cpp
  Engine/gfx/ali3dsw.h
  Engine/gfx/gfx_util.cpp
  Engine/gfx/gfx_util.h
  Engine/gfx/gfxdriverbase.cpp
  Engine/gfx/gfxdriverbase.h
  Engine/gfx/graphicsdriver.h
  Engine/gui/gui_engine.cpp
  Engine/main/config.cpp
  Engine/main/engine.cpp
  Engine/main/engine_setup.cpp
  Engine/main/main.cpp
  Engine/media/video/video.cpp
  Engine/platform/windows/gfx/ali3dd3d.cpp
  Engine/platform/windows/gfx/ali3dd3d.h
  Engine/platform/windows/setup/winsetup.cpp
  Engine/resource/version.rc
Labels: ags3

#465 3.4.1: make sure that service key commands work everywhere in game
  Engine/ac/dialog.cpp
  Engine/ac/display.cpp
  Engine/ac/global_debug.cpp
  Engine/gui/cscidialog.cpp
  Engine/main/game_run.cpp
  Engine/main/game_run.h
  Engine/media/video/video.cpp
  Engine/platform/windows/media/video/acwavi.cpp
  Engine/platform/windows/media/video/acwavi3d.cpp
  Engine/plugin/agsplugin.cpp
Labels: ags3

#467 3.4.1: hotfix script editor to let Undo work after save
  Editor/AGS.Editor/Panes/ScintillaWrapper.cs
Labels: ags3, editor

#466 3.4.1: implemented scrollbars and zoom for the GUI editor
  Editor/AGS.Editor/NativeProxy.cs
  Editor/AGS.Editor/Panes/GUIEditor.Designer.cs
  Editor/AGS.Editor/Panes/GUIEditor.cs
  Editor/AGS.Native/NativeMethods.cpp
  Editor/AGS.Native/NativeMethods.h
  Editor/AGS.Native/agsnative.cpp
  Editor/AGS.Types/GUI.cs
  Editor/AGS.Types/NormalGUI.cs
  Editor/AGS.Types/TextWindowGUI.cs
Labels: ags3, editor

#470 AGS 3: remove the fonts limit
  Common/ac/gamesetupstruct.cpp
  Common/ac/gamesetupstruct.h
  Common/ac/gamestructdefines.h
  Common/font/fonts.cpp
  Common/font/fonts.h
  Common/game/main_game_file.cpp
  Common/game/main_game_file.h
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/Components/FontsComponent.cs
  Editor/AGS.Editor/DataFileWriter.cs
  Editor/AGS.Editor/Utils/NativeConstants.cs
  Editor/AGS.Native/NativeMethods.cpp
  Editor/AGS.Native/agsnative.cpp
  Editor/AGS.Types/Game.cs
  Engine/game/game_init.cpp
Labels: ags3

#477 Add quotes to "copy" command
  Editor/AGS.Native/NativeDLL.vcxproj
Labels: editor

#476 Compiled script must be newer than source
  Editor/AGS.Editor/Utils/Utilities.cs
Labels: ags3, editor

#478 Don't sleep when building autocomplete cache
  Editor/AGS.Editor/AutoComplete.cs
Labels: ags3, editor

#475 Editor: improved Room pane's zoom
  Editor/AGS.Editor/NativeProxy.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/BaseAreasEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/CharactersEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/EdgesEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/EmptyEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/HotspotsEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/ObjectsEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/WalkBehindsEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomSettingsEditor.Designer.cs
  Editor/AGS.Editor/Panes/Room/RoomSettingsEditor.cs
  Editor/AGS.Editor/Panes/Room/RoomSettingsEditor.resx
  Editor/AGS.Native/NativeMethods.cpp
  Editor/AGS.Native/NativeMethods.h
  Editor/AGS.Native/agsnative.cpp
Labels: ags3

#482 AGS 3: improvements to the new Room Editor's interface
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/ComponentController.cs
  Editor/AGS.Editor/Components/CharacterIDChangedEventArgs.cs
  Editor/AGS.Editor/Components/CharacterRoomChangedEventArgs.cs
  Editor/AGS.Editor/Components/CharactersComponent.cs
  Editor/AGS.Editor/Components/RoomsComponent.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/BaseAreasEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/CharactersEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/DesignTimeProperties.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/EdgesEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/EmptyEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/HotspotsEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/IRoomEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/ObjectsEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/RegionsEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/SelectedRoomItemEventArgs.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/WalkBehindsEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/WalkableAreasEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditNode.cs
  Editor/AGS.Editor/Panes/Room/RoomSettingsEditor.cs
  Editor/AGS.Types/Character.cs
  Editor/AGS.Types/RoomObject.cs
Labels: ags3, editor
