Repository adventuregamestudio/ags, pull requests merged in 2018-08, with the labels that each got.

#486 AGS 3: serialize room's design-time data
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/Components/RoomDesignData.cs
  Editor/AGS.Editor/Components/RoomsComponent.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/BaseAreasEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/CharactersEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/EdgesEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/EmptyEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/HotspotsEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/IRoomEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/ObjectsEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/RegionsEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/WalkBehindsEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/WalkableAreasEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditNode.cs
  Editor/AGS.Editor/Panes/Room/RoomSettingsEditor.cs
  Editor/AGS.Types/Interfaces/IRoom.cs
  Editor/AGS.Types/SerializeUtils.cs
  Editor/AGS.Types/UnloadedRoom.cs
Labels: ags3, editor

#490 AGS 3: deprecate RoomObject.Locked property and use DesignTimeProperties instead
  Common/ac/common_defines.h
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/ObjectsEditorFilter.cs
  Editor/AGS.Native/agsnative.cpp
  Editor/AGS.Types/RoomObject.cs
Labels: ags3, editor

#497 Sign assemblies to generate a strongname
  Editor/AGS.CScript.Compiler/AGS.CScript.Compiler.csproj
  Editor/AGS.CScript.Compiler/AGS.CScript.Compiler.snk
  Editor/AGS.Controls/AGS.Controls.csproj
  Editor/AGS.Controls/AGS.Controls.snk
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/AGSEditor.snk
  Editor/AGS.Native/AGS.Native.snk
  Editor/AGS.Native/NativeDLL.vcxproj
  Editor/AGS.Types/AGS.Types.csproj
  Editor/AGS.Types/AGS.Types.snk
Labels: editor

#495 AGS 3: updated data formats to make use of 64-bit file offsets
  Common/ac/roomstruct.cpp
  Common/ac/roomstruct.h
  Common/ac/spritecache.cpp
  Common/ac/spritecache.h
  Common/core/asset.h
  Common/core/assetmanager.cpp
  Common/core/assetmanager.h
  Common/util/compress.cpp
  Common/util/compress.h
  Common/util/multifilelib.h
  Common/util/mutifilelib.cpp
  Editor/AGS.Editor/BuildTargets/BuildTargetWindows.cs
  Editor/AGS.Editor/DataFileWriter.cs
  Editor/AGS.Editor/Utils/NativeConstants.cs
  Editor/AGS.Native/NativeMethods.cpp
  Editor/AGS.Native/ScriptCompiler.cpp
  Editor/AGS.Native/agsnative.cpp
  Editor/AGS.Native/agsnative.h
  Engine/game/savegame.cpp
  Engine/game/savegame.h
  Engine/game/savegame_components.cpp
Labels: ags3
