Repository adventuregamestudio/ags, pull requests merged in 2018-12, with the labels that each got.

#532 Use native CreateHardLink
  Editor/AGS.Editor/Utils/Utilities.cs
Labels: ags3, editor

#538 Add user templates folder and remove template wizard
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/ColorThemes/ColorThemes.cs
  Editor/AGS.Editor/Components/FileCommandsComponent.cs
  Editor/AGS.Editor/Components/RoomsComponent.cs
  Editor/AGS.Editor/GUI/GUIController.cs
  Editor/AGS.Editor/GUI/MakeTemplateWizardPage.Designer.cs
  Editor/AGS.Editor/GUI/MakeTemplateWizardPage.cs
  Editor/AGS.Editor/GUI/MakeTemplateWizardPage.resx
  Editor/AGS.Editor/GUI/WindowsLayoutManager.cs
  Editor/AGS.Editor/Utils/Utilities.cs
Labels: ags3, editor

#545 Spritesheet import: inverted mouse selection and fixes
  Editor/AGS.Editor/Panes/SpriteImportWindow.cs
  Editor/AGS.Editor/Panes/SpriteSelector.cs
  Editor/AGS.Editor/Utils/SpriteSheet.cs
Labels: ags3, editor

#552 Engine: restored a piece of code that handled resized cache sprites
  Engine/ac/object.cpp
Labels: ags 4

#549 Script API: helper functions for Viewport and Camera
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/draw.cpp
  Engine/ac/draw.h
  Engine/ac/dynobj/scriptcamera.cpp
  Engine/ac/dynobj/scriptuserobject.cpp
  Engine/ac/dynobj/scriptuserobject.h
  Engine/ac/game.cpp
  Engine/ac/gamestate.cpp
  Engine/ac/gamestate.h
  Engine/ac/screen.cpp
  Engine/ac/viewport.cpp
  Engine/game/viewport.h
  Engine/main/engine_setup.cpp
  Engine/script/exports.cpp
  Engine/script/script_api.h
Labels: ags3, pull: under review
