Repository adventuregamestudio/ags, pull requests merged in 2019-05, with the labels that each got.

#744 Further separating Win-specific code from the general modules
  Common/ac/spritecache.cpp
  Common/util/directory.h
  Common/util/file.h
  Common/util/ini_util.cpp
  Common/util/path.cpp
  Common/util/path.h
  Common/util/wgt2allg.h
  Engine/ac/dynamicsprite.cpp
  Engine/ac/dynobj/cc_serializer.cpp
  Engine/ac/file.cpp
  Engine/ac/game.cpp
  Engine/ac/math.cpp
  Engine/ac/sprite.cpp
  Engine/debug/debug.cpp
  Engine/debug/filebasedagsdebugger.cpp
  Engine/game/savegame.cpp
  Engine/main/config.cpp
  Engine/main/engine.cpp
  Engine/main/engine.h
  Engine/main/main.cpp
  Engine/main/main.h
  Engine/main/quit.cpp
  Engine/platform/windows/minidump.cpp
  Engine/platform/windows/win_ex_handling.cpp
  Engine/platform/windows/win_ex_handling.h
  Engine/platform/windows/winapi_exclusive.h
  Engine/plugin/agsplugin.cpp
  Engine/test/test_inifile.cpp
  Engine/util/library_windows.h
  Engine/util/mutex_windows.h
  Engine/util/thread_std.h
  Engine/util/thread_windows.h
  Solutions/Engine.App/Engine.App.vcxproj
  Solutions/Engine.App/Engine.App.vcxproj.filters
Labels: ags3

#748 Editor: custom replacements for Say and Display in dialog scripts
  Editor/AGS.Editor/DataFileWriter.cs
  Editor/AGS.Editor/Panes/DialogEditor.cs
  Editor/AGS.Editor/Panes/DialogOptionEditor.cs
  Editor/AGS.Editor/Panes/GeneralSettingsPane.cs
  Editor/AGS.Editor/Utils/DialogScriptConverter.cs
  Editor/AGS.Types/Settings.cs
Labels: ags3, editor

#759 gitignore: Split into directory specific gitignore files where it makes sense
  .gitignore
  Android/.gitignore
  Editor/.gitignore
  Manual/.gitignore
  OSX/.gitignore
  Solutions/.gitignore
  iOS/.gitignore
Labels: ags3

#764 Create all subdirectories when writing a file by script command
  Common/util/directory.cpp
  Common/util/directory.h
  Common/util/path.cpp
  Common/util/path.h
  Common/util/string.cpp
  Common/util/string.h
  Engine/ac/dynamicsprite.cpp
  Engine/ac/file.cpp
  Engine/ac/game.cpp
  Engine/ac/global_dynamicsprite.cpp
  Engine/ac/global_file.cpp
  Engine/ac/listbox.cpp
  Engine/ac/path_helper.h
  Engine/test/test_string.cpp
Labels: ags3, pull: under review

#765 Game file name option in General Settings
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/BuildTargets/BuildTargetBase.cs
  Editor/AGS.Editor/BuildTargets/BuildTargetDataFile.cs
  Editor/AGS.Editor/BuildTargets/BuildTargetDebug.cs
  Editor/AGS.Editor/BuildTargets/BuildTargetLinux.cs
  Editor/AGS.Editor/BuildTargets/BuildTargetWindows.cs
  Editor/AGS.Editor/Tasks.cs
  Editor/AGS.Types/Interfaces/IBuildTarget.cs
  Editor/AGS.Types/Settings.cs
  Editor/AGS.Types/WorkspaceState.cs
Labels: ags3, editor, pull: under review

#768 Compiler: fixed accessing non-static members of static members
  Compiler/script/cs_parser.cpp
  Compiler/test/cs_parser_test.cpp
Labels: ags3, pull: under review, script compiler

#770 3.5.0 Android fixes
  Android/library/jni/Android.mk
  Engine/Makefile-objs
  Engine/ac/display.cpp
  Engine/ac/global_game.cpp
  Engine/main/update.cpp
  Engine/media/audio/audio.cpp
  Engine/platform/android/acpland.cpp
Labels: ags3, pull: under review, system: android

#776 3.5.0: fix Sprite Cache after faulty refactor
  Common/ac/spritecache.cpp
  Common/ac/spritecache.h
  Common/game/main_game_file.cpp
  Editor/AGS.Native/agsnative.cpp
  Editor/Native/sprcache_agsnative.cpp
  Engine/ac/dynamicsprite.cpp
  Engine/ac/game.cpp
  Engine/ac/global_dynamicsprite.cpp
  Engine/ac/invwindow.cpp
  Engine/ac/room.cpp
  Engine/ac/sprite.cpp
  Engine/ac/spritecache_engine.cpp
  Engine/game/savegame_components.cpp
  Engine/plugin/agsplugin.cpp
Labels: ags3, pull: under review, spritecache

#798 multifilelib: don't allow head sig search to extend past tail offset
  Common/util/mutifilelib.cpp
Labels: ags3, pull: under review
