Repository adventuregamestudio/ags, pull requests merged in 2019-06, with the labels that each got.

#797 Ags3.5 timing use counter only
  Engine/ac/dialog.cpp
  Engine/ac/display.cpp
  Engine/ac/event.cpp
  Engine/ac/game.cpp
  Engine/ac/invwindow.cpp
  Engine/ac/sys_events.cpp
  Engine/ac/timer.cpp
  Engine/ac/timer.h
  Engine/gfx/ali3dogl.cpp
  Engine/gfx/ali3dsw.cpp
  Engine/gfx/gfxdriverbase.cpp
  Engine/gfx/gfxdriverbase.h
  Engine/gui/cscidialog.cpp
  Engine/gui/mypushbutton.cpp
  Engine/main/engine.cpp
  Engine/main/game_run.cpp
  Engine/main/graphics_mode.cpp
  Engine/platform/base/agsplatformdriver.cpp
  Engine/platform/windows/gfx/ali3dd3d.cpp
  Engine/platform/windows/media/video/acwavi3d.cpp
Labels: ags3

#804 3.5.0: fix viewport/camera restoration by reading data into temp structs and applying later
  Engine/ac/game.cpp
  Engine/ac/gamestate.cpp
  Engine/ac/gamestate.h
  Engine/ac/room.cpp
  Engine/game/savegame.cpp
  Engine/game/savegame_components.cpp
  Engine/game/savegame_internal.h
Labels: pull: under review

#788 3.5.0: safety changes for Editor loading and saving sprite file
  Common/ac/spritecache.cpp
  Common/ac/spritecache.h
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/InteractiveTasks.cs
  Editor/AGS.Editor/NativeProxy.cs
  Editor/AGS.Editor/Tasks.cs
  Editor/AGS.Native/NativeMethods.cpp
  Editor/AGS.Native/NativeMethods.h
  Editor/AGS.Native/agsnative.cpp
  Engine/ac/global_game.cpp
  Engine/main/engine.cpp
Labels: ags3, editor

#825 AGS 3.5.0 - macOS colour fix
  Common/core/platform.h
  Engine/CMakeLists.txt
  Engine/main/engine_setup.cpp
Labels: ags3

#813 Script API: replaced "sorted" and "caseSensitive" boolean params with enums
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/scriptcontainers.cpp
Labels: ags3, script api

#832 Android: embed alfont and freetype lib sources
  Android/buildlibs/buildall.sh
  Android/library/jni/Android.mk
  libsrc/download.sh
  libsrc/sha1sums
Labels: ags3, pull: under review, system: android

#831 Add alpha channel import preference for Sprites
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/Panes/SpriteImportWindow.cs
  Editor/AGS.Editor/Panes/SpriteSelector.cs
  Editor/AGS.Editor/Tasks.cs
  Editor/AGS.Editor/Utils/SpriteTools.cs
  Editor/AGS.Types/Sprite.cs
Labels: ags3, editor

#837 Remove freespace checks and fix project data saving when writes fail
  Editor/AGS.Editor/AGSEditor.cs
Labels: ags3, editor

#842 ags3/timing: reimplement timing changes similar to c4907f5d but without counter
  Engine/ac/dialog.cpp
  Engine/ac/display.cpp
  Engine/ac/event.cpp
  Engine/ac/invwindow.cpp
  Engine/ac/timer.cpp
  Engine/ac/timer.h
  Engine/gfx/ali3dogl.cpp
  Engine/gfx/ali3dsw.cpp
  Engine/gui/cscidialog.cpp
  Engine/gui/mypushbutton.cpp
  Engine/main/engine.cpp
  Engine/main/game_run.cpp
  Engine/main/game_run.h
  Engine/platform/base/agsplatformdriver.cpp
  Engine/platform/windows/gfx/ali3dd3d.cpp
  Engine/platform/windows/media/video/acwavi3d.cpp
Labels: ags3

#850 SimulateKeyPress: correctly maps from AGS keycodes to allegro4 keycodes.
  Engine/CMakeLists.txt
  Engine/ac/game.cpp
  Engine/ac/keycode.cpp
  Engine/ac/keycode.h
  Engine/main/game_run.cpp
  Solutions/Engine.App/Engine.App.vcxproj
  Solutions/Engine.App/Engine.App.vcxproj.filters
Labels: ags3
