Repository adventuregamestudio/ags, pull requests merged in 2019-10, with the labels that each got.

#943 3.5.0: have movement speed independent from room mask resolution by default
  Common/ac/gamestructdefines.h
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/DataFileWriter.cs
  Editor/AGS.Editor/Tasks.cs
  Editor/AGS.Editor/Utils/NativeConstants.cs
  Editor/AGS.Native/NativeMethods.cpp
  Editor/AGS.Native/agsnative.cpp
  Editor/AGS.Types/Settings.cs
  Engine/ac/room.cpp
  Engine/ac/route_finder.h
Labels: context: game logic, pull: under review, type: enhancement

#941 Editor: remember last selected item in the room
  Editor/AGS.Editor/Components/RoomDesignData.cs
  Editor/AGS.Editor/GUI/GUIController.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/BaseAreasEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/CharactersEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/HotspotsEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/ObjectsEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/RegionsEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/WalkBehindsEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/WalkableAreasEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomSettingsEditor.cs
Labels: type: enhancement, what: editor

#974 Engine: clear D3D9 borders
  Engine/platform/windows/gfx/ali3dd3d.cpp
  Engine/platform/windows/gfx/ali3dd3d.h
Labels: pull: under review

#977 Add editable sprite properties for import width and height
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/Panes/SpriteSelector.cs
  Editor/AGS.Editor/Tasks.cs
  Editor/AGS.Editor/Utils/SpriteTools.cs
  Editor/AGS.Types/Sprite.cs
Labels: pull: under review
