Repository adventuregamestudio/ags, pull requests merged in 2019-01, with the labels that each got.

#568 Fix path joins with mixed directory seperators
  Editor/AGS.Editor/Utils/Utilities.cs
Labels: ags3, editor

#569 Add option to view the source file for a sprite
  Editor/AGS.Editor/Panes/SpriteSelector.cs
Labels: ags3, editor

#551 Tokenised sprite export
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/GUI/SpriteExportDialog.Designer.cs
  Editor/AGS.Editor/GUI/SpriteExportDialog.cs
  Editor/AGS.Editor/GUI/SpriteExportDialog.resx
  Editor/AGS.Editor/Panes/SpriteSelector.cs
  Editor/AGS.Editor/Utils/SpriteTools.cs
Labels: ags3, editor

#555 Editor: explicitly save room masks in indexed BMP format
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/BaseAreasEditorFilter.cs
  Editor/AGS.Types/Constants.cs
Labels: ags3

#572 AGS 3: Refactor and remove unnecessary global screen bitmaps
  Common/ac/gamesetupstruct.h
  Common/ac/gamesetupstructbase.h
  Common/gfx/allegrobitmap.h
  Common/gfx/bitmap.cpp
  Common/gfx/bitmap.h
  Common/util/wgt2allg.cpp
  Common/util/wgt2allg.h
  Engine/ac/dialog.cpp
  Engine/ac/display.cpp
  Engine/ac/draw.cpp
  Engine/ac/draw.h
  Engine/ac/dynamicsprite.cpp
  Engine/ac/event.cpp
  Engine/ac/game.cpp
  Engine/ac/gamesetup.h
  Engine/ac/global_debug.cpp
  Engine/ac/global_drawingsurface.cpp
  Engine/ac/global_game.cpp
  Engine/ac/global_overlay.cpp
  Engine/ac/global_screen.cpp
  Engine/ac/invwindow.cpp
  Engine/ac/mouse.cpp
  Engine/ac/room.cpp
  Engine/ac/screen.cpp
  Engine/ac/speech.cpp
  Engine/device/mousew32.cpp
  Engine/device/mousew32.h
  Engine/gfx/ali3dogl.cpp
  Engine/gfx/ali3dogl.h
  Engine/gfx/ali3dsw.cpp
  Engine/gfx/ali3dsw.h
  Engine/gfx/gfxdriverbase.cpp
  Engine/gfx/gfxdriverbase.h
  Engine/gfx/graphicsdriver.h
  Engine/gui/cscidialog.cpp
  Engine/gui/cscidialog.h
  Engine/gui/guidialog.cpp
  Engine/gui/guidialog.h
  Engine/gui/guidialogdefines.h
  Engine/gui/mycontrols.h
  Engine/gui/mylabel.cpp
  Engine/gui/mylabel.h
  Engine/gui/mylistbox.cpp
  Engine/gui/mylistbox.h
  Engine/gui/mypushbutton.cpp
  Engine/gui/mypushbutton.h
  Engine/gui/mytextbox.cpp
  Engine/gui/mytextbox.h
  Engine/gui/newcontrol.cpp
  Engine/gui/newcontrol.h
  Engine/main/engine.cpp
  Engine/main/engine.h
  Engine/main/engine_setup.cpp
  Engine/media/video/video.cpp
  Engine/platform/windows/acplwin.cpp
  Engine/platform/windows/gfx/ali3dd3d.cpp
  Engine/platform/windows/gfx/ali3dd3d.h
  Engine/platform/windows/media/video/acwavi.cpp
  Engine/plugin/agsplugin.cpp
Labels: ags3

#576 Refactor audio player
  Editor/AGS.Editor/Audio/IAudioPreviewer.cs
  Editor/AGS.Editor/Audio/IrrklangPlayer.cs
  Editor/AGS.Editor/Audio/MidiPlayer.cs
  Editor/AGS.Editor/Panes/AudioEditor.Designer.cs
  Editor/AGS.Editor/Panes/AudioEditor.cs
  Editor/AGS.Editor/Panes/AudioEditor.resx
Labels: ags3, editor

#578 Fix crash when loading invalid image data
  Editor/AGS.Editor/Panes/SpriteImportWindow.cs
  Editor/AGS.Editor/Panes/SpriteSelector.cs
  Editor/AGS.Editor/Utils/SpriteTools.cs
Labels: ags3, bug, editor

#581 Use Magick.Net as a GIF loader
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/GIFLoader/AnimatedGifEncoder.cs
  Editor/AGS.Editor/GIFLoader/GifDecoder.cs
  Editor/AGS.Editor/GIFLoader/LZWEncoder.cs
  Editor/AGS.Editor/GIFLoader/NeuQuant.cs
  Editor/AGS.Editor/Utils/SpriteTools.cs
  Editor/AGS.Editor/packages.config
Labels: ags3, editor, pull: under review

#594 AGS 3: fixed the use of fixed-point Allegro functions
  Common/gfx/allegrobitmap.h
  Common/libsrc/aastr-0.1.1/aarot.c
  Common/util/wgt2allg.h
  Engine/Makefile-defs.linux
  Engine/Makefile-defs.osx
  Engine/Makefile-objs
  Engine/Makefile.psp
  Solutions/Common.Lib/Common.Lib.vcxproj
  Solutions/Common.Lib/Common.Lib.vcxproj.filters
  Solutions/Engine.App/Engine.App.vcxproj
Labels: ags3

#595 Update the Fedora compile documentation per Fedora 29 packages
  debian/README.md
Labels: system: linux
