Repository adventuregamestudio/ags, pull requests merged in 2021-03, with the labels that each got.

#1221 Room serialization
  Editor/AGS.Editor.Tests/Types/RoomHotspotTests.cs
  Editor/AGS.Editor.Tests/Types/RoomMessageTests.cs
  Editor/AGS.Editor.Tests/Types/RoomObjectTests.cs
  Editor/AGS.Editor.Tests/Types/RoomRegionTests.cs
  Editor/AGS.Editor.Tests/Types/RoomTests.cs
  Editor/AGS.Editor.Tests/Types/RoomWalkBehindTests.cs
  Editor/AGS.Editor.Tests/Types/RoomWalkableAreaTests.cs
  Editor/AGS.Editor.Tests/Types/UnloadedRoomTests.cs
  Editor/AGS.Editor/Components/RoomsComponent.cs
  Editor/AGS.Native/NativeDLL.vcxproj
  Editor/AGS.Types/Room.cs
  Editor/AGS.Types/RoomHotspot.cs
  Editor/AGS.Types/RoomMessage.cs
  Editor/AGS.Types/RoomObject.cs
  Editor/AGS.Types/RoomRegion.cs
  Editor/AGS.Types/RoomWalkBehind.cs
  Editor/AGS.Types/RoomWalkableArea.cs
  Editor/AGS.Types/SerializeUtils.cs
  Editor/AGS.Types/UnloadedRoom.cs
Labels: ags 4, pull: under review

#1212 Script API: add access to blocking speech overlays and latest skip reason
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/character.cpp
  Engine/ac/display.cpp
  Engine/ac/display.h
  Engine/ac/draw.cpp
  Engine/ac/game.cpp
  Engine/ac/gamestate.cpp
  Engine/ac/gamestate.h
  Engine/ac/global_game.cpp
  Engine/ac/gui.cpp
  Engine/ac/overlay.cpp
  Engine/ac/overlay.h
  Engine/ac/runtime_defines.h
  Engine/ac/speech.cpp
  Engine/ac/speech.h
  Engine/game/savegame.cpp
  Engine/main/engine.cpp
  Engine/main/game_run.cpp
  Engine/main/update.cpp
Labels: ags 4, context: script api, pull: under review

#1220 New compiler: Memory allocation bug when the section changes
  Compiler/script2/cc_compiledscript.cpp
  Compiler/script2/cc_compiledscript.h
  Compiler/script2/cs_parser.cpp
  Compiler/script2/cs_parser.h
Labels: ags 4, context: script compiler

#1239 3.5.0 patch: on Linux: fixed OpenGL window did not set to proper size after GL init
  Engine/gfx/ali3dogl.cpp
Labels: ags3, backend: allegro, context: graphics mode, pull: under review, system: linux
