Repository adventuregamestudio/ags, pull requests merged in 2021-02, with the labels that each got.

#1191 AGS4: BlendMode remake
  Common/ac/characterinfo.cpp
  Common/ac/characterinfo.h
  Common/ac/game_version.h
  Common/game/main_game_file.cpp
  Common/game/main_game_file.h
  Common/game/room_file.cpp
  Common/game/room_version.h
  Common/game/roomstruct.cpp
  Common/game/roomstruct.h
  Common/gfx/gfx_def.h
  Common/gui/guidefines.h
  Common/gui/guimain.cpp
  Common/gui/guimain.h
  Editor/AGS.Editor/DataFileWriter.cs
  Editor/AGS.Editor/Resources/agsdefns.sh
  Editor/AGS.Native/agsnative.cpp
  Editor/AGS.Types/AGS.Types.csproj
  Editor/AGS.Types/Character.cs
  Editor/AGS.Types/Enums/BlendMode.cs
  Editor/AGS.Types/GUI.cs
  Editor/AGS.Types/RoomObject.cs
  Engine/ac/character.cpp
  Engine/ac/character.h
  Engine/ac/characterextras.cpp
  Engine/ac/characterextras.h
  Engine/ac/draw.cpp
  Engine/ac/draw.h
  Engine/ac/drawingsurface.cpp
  Engine/ac/global_drawingsurface.cpp
  Engine/ac/gui.cpp
  Engine/ac/object.cpp
  Engine/ac/overlay.cpp
  Engine/ac/overlay.h
  Engine/ac/room.cpp
  Engine/ac/roomobject.cpp
  Engine/ac/roomobject.h
  Engine/ac/roomstatus.cpp
  Engine/ac/roomstatus.h
  Engine/ac/screenoverlay.cpp
  Engine/ac/screenoverlay.h
  Engine/game/game_init.cpp
  Engine/game/savegame.h
  Engine/game/savegame_components.cpp
  Engine/gfx/ali3dogl.cpp
  Engine/gfx/ali3dogl.h
  Engine/gfx/ali3dsw.cpp
  Engine/gfx/ali3dsw.h
  Engine/gfx/blender.cpp
  Engine/gfx/blender.h
  Engine/gfx/ddb.h
  Engine/gfx/gfx_util.cpp
  Engine/gfx/gfx_util.h
  Engine/platform/windows/gfx/ali3dd3d.cpp
  Engine/platform/windows/gfx/ali3dd3d.h
  Engine/plugin/agsplugin.cpp
Labels: ags 4, context: graphics, context: script api, pull: under review

#1201 Editor: adjustments for room panning controls
  Editor/AGS.Editor/GUI/TabbedDocumentManager.cs
  Editor/AGS.Editor/Panes/FreePanControl.cs
  Editor/AGS.Editor/Panes/Room/RoomSettingsEditor.cs
  Editor/AGS.Types/EditorFeatures/EditorContentPanel.cs
Labels: ags 4, context: ui/ux, pull: under review, what: editor

#1196 Editor: enforce a rebuild-all when running after upgrading the project
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/InteractiveTasks.cs
  Editor/AGS.Types/WorkspaceState.cs
Labels: ags 4, pull: under review, what: editor

#1204 (Test) AGS 4: use standard ColorDialog as a color picker for properties
  Editor/AGS.Editor/GUI/GUIController.cs
  Editor/AGS.Types/AGS.Types.csproj
  Editor/AGS.Types/Character.cs
  Editor/AGS.Types/GUI.cs
  Editor/AGS.Types/GUIButton.cs
  Editor/AGS.Types/GUILabel.cs
  Editor/AGS.Types/GUIListBox.cs
  Editor/AGS.Types/GUITextBox.cs
  Editor/AGS.Types/NormalGUI.cs
  Editor/AGS.Types/PaletteEntry.cs
  Editor/AGS.Types/PropertyGridExtras/ColorUIEditor.cs
Labels: ags 4, pull: under review, what: editor

#1206 Script API: implement Overlay.ZOrder
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/draw.cpp
  Engine/ac/overlay.cpp
  Engine/ac/screenoverlay.h
Labels: ags 4, context: script api, pull: under review

#1215 script compiler: implement parsing of const function return type
  Compiler/script/cs_parser.cpp
Labels: pull: under review

#1138 Refactored room editor to use graphics from C# instead of AGS.Native
  Editor/AGS.Editor.Tests/Types/RoomTests.cs
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/ApplicationController.cs
  Editor/AGS.Editor/Components/RoomsComponent.cs
  Editor/AGS.Editor/NativeProxy.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/BaseAreasEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/CharactersEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/EdgesEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/EmptyEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/HotspotsEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/IRoomEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/ObjectsEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/RegionsEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/WalkBehindsEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/WalkableAreasEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomSettingsEditor.cs
  Editor/AGS.Editor/Utils/BitmapExtensions.cs
  Editor/AGS.Native/NativeMethods.cpp
  Editor/AGS.Native/NativeMethods.h
  Editor/AGS.Native/agsnative.cpp
  Editor/AGS.Types/Enums/PaletteColourType.cs
  Editor/AGS.Types/Interfaces/IRoomController.cs
  Editor/AGS.Types/Room.cs
Labels: ags 4, pull: under review
