Repository adventuregamestudio/ags, pull requests merged in 2021-09, with the labels that each got.

#1408 Engine: Link in such a way that functions can call all imported (!) functions, no matter the module sequence
  Engine/ac/room.cpp
  Engine/script/cc_instance.cpp
  Engine/script/cc_instance.h
  Engine/script/script.cpp
Labels: pull: under review, ags 4, context: script vm

#1405 New compiler: Better error messages for type mismatches
  Compiler/script2/cs_parser.cpp
  Compiler/script2/cs_parser.h
  Compiler/test2/cc_parser_test_0.cpp
  Compiler/test2/cc_parser_test_1.cpp
Labels: pull: under review, ags 4, context: script compiler

#1397 Reimplement room mask display as a persistent overlay
  Engine/ac/draw.cpp
  Engine/ac/draw.h
  Engine/ac/global_debug.cpp
  Engine/ac/walkablearea.cpp
Labels: pull: under review
