Repository adventuregamestudio/ags, pull requests merged in 2021-08, with the labels that each got.

#1381 New compiler: Join juxtaposed string literals
  Compiler/script2/cs_scanner.cpp
  Compiler/script2/cs_scanner.h
  Compiler/test2/cc_scanner_test.cpp
Labels: pull: under review

#1380 Script API: AudioClip.PlayOnChannel()
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/audioclip.cpp
Labels: type: enhancement, ags3, context: script api

#1385 Windows: support UTF-8 paths in the engine
  Common/util/directory.cpp
  Common/util/file.cpp
  Common/util/filestream.cpp
  Common/util/path.cpp
  Common/util/path.h
  Common/util/path_ex.cpp
  Common/util/stdio_compat.c
  Common/util/stdio_compat.h
  Engine/ac/global_dynamicsprite.cpp
  Engine/ac/runtime_defines.h
  Engine/main/engine.cpp
  Engine/main/main.cpp
  Engine/main/main.h
  Engine/platform/base/agsplatformdriver.cpp
  Engine/platform/base/agsplatformdriver.h
  Engine/platform/windows/acplwin.cpp
  Engine/platform/windows/debug/namedpipesagsdebugger.cpp
  Engine/platform/windows/debug/namedpipesagsdebugger.h
  Engine/platform/windows/setup/winsetup.cpp
Labels: pull: under review, system: windows

#1389 Android single game package
  .gitignore
  Android/library/runtime/src/main/java/uk/co/adventuregamestudio/runtime/AGSRuntimeActivity.java
  Android/mygame/LICENSE
  Android/mygame/README.md
  Android/mygame/app/build.gradle
  Android/mygame/app/src/main/AndroidManifest.xml
  Android/mygame/app/src/main/java/com/mystudioname/mygamename/ExpansionAlarmReceiver.java
  Android/mygame/app/src/main/java/com/mystudioname/mygamename/ExpansionDownloaderActivity.java
  Android/mygame/app/src/main/java/com/mystudioname/mygamename/ExpansionDownloaderService.java
  Android/mygame/app/src/main/java/com/mystudioname/mygamename/MainActivity.java
  Android/mygame/app/src/main/res/values/private.xml
  Android/mygame/app/src/main/res/values/project.xml
  Android/mygame/downloader_library/.gitignore
  Android/mygame/downloader_library/COPYING
  Android/mygame/downloader_library/README.md
  Android/mygame/downloader_library/build.gradle
  Android/mygame/downloader_library/src/main/AndroidManifest.xml
  Android/mygame/downloader_library/src/main/java/com/google/android/vending/expansion/downloader/Constants.java
  Android/mygame/downloader_library/src/main/java/com/google/android/vending/expansion/downloader/DownloadProgressInfo.java
  Android/mygame/downloader_library/src/main/java/com/google/android/vending/expansion/downloader/DownloaderClientMarshaller.java
  Android/mygame/downloader_library/src/main/java/com/google/android/vending/expansion/downloader/DownloaderServiceMarshaller.java
  Android/mygame/downloader_library/src/main/java/com/google/android/vending/expansion/downloader/Helpers.java
  Android/mygame/downloader_library/src/main/java/com/google/android/vending/expansion/downloader/IDownloaderClient.java
  Android/mygame/downloader_library/src/main/java/com/google/android/vending/expansion/downloader/IDownloaderService.java
  Android/mygame/downloader_library/src/main/java/com/google/android/vending/expansion/downloader/IStub.java
  Android/mygame/downloader_library/src/main/java/com/google/android/vending/expansion/downloader/SystemFacade.java
  Android/mygame/downloader_library/src/main/java/com/google/android/vending/expansion/downloader/impl/AndroidHttpClient.java
  Android/mygame/downloader_library/src/main/java/com/google/android/vending/expansion/downloader/impl/CustomIntentService.java
  Android/mygame/downloader_library/src/main/java/com/google/android/vending/expansion/downloader/impl/CustomNotificationFactory.java
  Android/mygame/downloader_library/src/main/java/com/google/android/vending/expansion/downloader/impl/DownloadInfo.java
  Android/mygame/downloader_library/src/main/java/com/google/android/vending/expansion/downloader/impl/DownloadNotification.java
  Android/mygame/downloader_library/src/main/java/com/google/android/vending/expansion/downloader/impl/DownloadThread.java
  Android/mygame/downloader_library/src/main/java/com/google/android/vending/expansion/downloader/impl/DownloaderService.java
  Android/mygame/downloader_library/src/main/java/com/google/android/vending/expansion/downloader/impl/DownloadsDB.java
  Android/mygame/downloader_library/src/main/java/com/google/android/vending/expansion/downloader/impl/HttpDateTime.java
  Android/mygame/downloader_library/src/main/java/com/google/android/vending/expansion/downloader/impl/V14CustomNotification.java
  Android/mygame/downloader_library/src/main/java/com/google/android/vending/expansion/downloader/impl/V3CustomNotification.java
  Android/mygame/downloader_library/src/main/res/drawable-hdpi/notify_panel_notification_icon_bg.png
  Android/mygame/downloader_library/src/main/res/drawable-mdpi/notify_panel_notification_icon_bg.png
  Android/mygame/downloader_library/src/main/res/layout/status_bar_ongoing_event_progress_bar.xml
  Android/mygame/downloader_library/src/main/res/values-v11/styles.xml
  Android/mygame/downloader_library/src/main/res/values-v9/styles.xml
  Android/mygame/downloader_library/src/main/res/values/strings.xml
  Android/mygame/downloader_library/src/main/res/values/styles.xml
  Android/mygame/game/build.gradle
  Android/mygame/game/src/main/assets/.gitkeep
  Android/mygame/gradlew
  Android/mygame/gradlew.bat
  Android/mygame/local.static.properties
  Android/mygame/settings.gradle
  Common/CMakeLists.txt
  Common/util/aasset_stream.cpp
  Common/util/aasset_stream.h
  Common/util/file.cpp
  Compiler/CMakeLists.txt
  Engine/CMakeLists.txt
  Engine/main/engine.cpp
  Engine/platform/android/acpland.cpp
  Engine/platform/base/agsplatformdriver.h
Labels: ags3, system: android
