Repository adventuregamestudio/ags, pull requests merged in 2021-11, with the labels that each got.

#1448 New compiler: Track when registers are set
  Compiler/script2/cc_compiledscript.h
  Compiler/script2/cs_parser.cpp
  Compiler/script2/cs_parser.h
  Compiler/script2/cs_parser_common.h
  Compiler/test2/cc_bytecode_test_0.cpp
  Compiler/test2/cc_bytecode_test_1.cpp
Labels: ags 4, context: script compiler

#1450 Editor: allow to import TTF by searching for a point size matching pixel height
  Common/font/ttffontrenderer.cpp
  Common/font/ttffontrenderer.h
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/GUI/ImportTTFDialog.Designer.cs
  Editor/AGS.Editor/GUI/ImportTTFDialog.cs
  Editor/AGS.Editor/GUI/ImportTTFDialog.resx
  Editor/AGS.Editor/NativeProxy.cs
  Editor/AGS.Editor/Panes/FontEditor.cs
  Editor/AGS.Native/NativeMethods.cpp
  Editor/AGS.Native/NativeMethods.h
Labels: pull: under review, what: editor, context: fonts

#1447 Upgrade to .NET 4.6
  .cirrus.yml
  Editor/AGS.CScript.Compiler/AGS.CScript.Compiler.csproj
  Editor/AGS.Controls/AGS.Controls.csproj
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/packages.config
  Editor/AGS.Native/NativeDLL.vcxproj
  Editor/AGS.Types/AGS.Types.csproj
  Windows/Installer/ags.iss
  Windows/README.md
  ci/windows/Dockerfile
Labels: pull: under review

#1452 New compiler: Improve error handling
  Common/script/cc_error.h
  Compiler/script2/cs_compile_time.cpp
  Compiler/script2/cs_compile_time.h
  Compiler/script2/cs_compiler.cpp
  Compiler/script2/cs_message_handler.cpp
  Compiler/script2/cs_message_handler.h
  Compiler/script2/cs_parser.cpp
  Compiler/script2/cs_parser.h
  Compiler/script2/cs_scanner.cpp
  Compiler/script2/cs_scanner.h
  Compiler/test2/cc_parser_test_0.cpp
  Compiler/test2/cc_scanner_test.cpp
  Editor/AGS.Native/ScriptCompiler.cpp
Labels: pull: under review, ags 4, context: script compiler

#1453 Support multiple Speech VOXes for game translations
  Common/core/assetmanager.h
  Editor/AGS.Editor/Components/SpeechComponent.cs
  Editor/AGS.Editor/DataFileWriter.cs
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/display.cpp
  Engine/ac/game.cpp
  Engine/ac/game.h
  Engine/ac/gamestate.cpp
  Engine/ac/gamestate.h
  Engine/ac/global_audio.cpp
  Engine/ac/global_audio.h
  Engine/ac/global_debug.cpp
  Engine/ac/speech.cpp
  Engine/ac/speech.h
  Engine/game/savegame.cpp
  Engine/game/savegame_internal.h
  Engine/main/engine.cpp
  Engine/main/engine.h
  Engine/script/script_api.h
Labels: pull: under review, context: game files, context: editor assets, context: speech, context: translations
