Repository adventuregamestudio/ags, pull requests merged in 2022-05, with the labels that each got.

#1641 AGS 4: reimplemented native room operations as NativeRoom class
  Common/game/roomstruct.cpp
  Common/game/roomstruct.h
  Editor/AGS.Editor/Components/RoomsComponent.cs
  Editor/AGS.Editor/NativeProxy.cs
  Editor/AGS.Editor/Tasks.cs
  Editor/AGS.Native/NativeDLL.vcxproj
  Editor/AGS.Native/NativeDLL.vcxproj.filters
  Editor/AGS.Native/NativeMethods.cpp
  Editor/AGS.Native/NativeMethods.h
  Editor/AGS.Native/NativeRoom.cpp
  Editor/AGS.Native/NativeRoom.h
  Editor/AGS.Native/agsnative.cpp
  Editor/AGS.Types/Room.cs
Labels: what: editor, ags 4, context: code, context: game building

#1643 Tidy up mobile config once more and get rid of psp_* variables
  Engine/ac/gamesetup.cpp
  Engine/ac/gamesetup.h
  Engine/gfx/gfx_util.cpp
  Engine/main/config.cpp
  Engine/main/engine.cpp
  Engine/main/main.cpp
  Engine/main/main.h
  Engine/media/video/video.cpp
  Engine/platform/android/acpland.cpp
  Engine/platform/base/agsplatformdriver.h
  Engine/platform/base/mobile_base.cpp
  Engine/platform/base/mobile_base.h
  Engine/platform/ios/acplios.cpp
Labels: system: android, context: code, system: ios

#1650 Refactored Bitmap loading non locked bitmaps method as util
  Editor/AGS.Editor/Components/RoomsComponent.cs
  Editor/AGS.Editor/Utils/BitmapExtensions.cs
Labels: what: editor, ags 4

#1636 Script API: implement Character.AnimationVolume and volume param for Animate()
  Common/gui/guidefines.h
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/button.cpp
  Engine/ac/character.cpp
  Engine/ac/character.h
  Engine/ac/characterextras.cpp
  Engine/ac/characterextras.h
  Engine/ac/characterinfo_engine.cpp
  Engine/ac/global_object.cpp
  Engine/ac/global_object.h
  Engine/ac/object.cpp
  Engine/ac/roomobject.cpp
  Engine/ac/roomobject.h
  Engine/ac/viewframe.cpp
  Engine/ac/viewframe.h
  Engine/game/savegame_components.cpp
  Engine/game/savegame_v321.cpp
  Engine/gui/animatingguibutton.cpp
  Engine/gui/animatingguibutton.h
  Engine/script/script_api.h
Labels: type: enhancement, context: audio, context: script api

#1639 3.6.0: Room Overlays
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/character.cpp
  Engine/ac/display.cpp
  Engine/ac/display.h
  Engine/ac/draw.cpp
  Engine/ac/global_overlay.cpp
  Engine/ac/overlay.cpp
  Engine/ac/overlay.h
  Engine/ac/screenoverlay.cpp
  Engine/ac/screenoverlay.h
  Engine/game/savegame_components.cpp
  Engine/game/savegame_v321.cpp
  Engine/main/update.cpp
Labels: type: enhancement, context: graphics, context: script api, context: game logic

#1646 Support graphical Overlays not cloning the assigned sprite
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/draw.cpp
  Engine/ac/game.cpp
  Engine/ac/global_overlay.cpp
  Engine/ac/overlay.cpp
  Engine/ac/overlay.h
  Engine/ac/screenoverlay.cpp
  Engine/ac/screenoverlay.h
  Engine/game/savegame_components.cpp
  Engine/game/savegame_v321.cpp
  Engine/main/update.cpp
Labels: context: graphics, context: script api, context: game logic, context: perfomance

#1651 Expand the sprite export options and add a quick sourceless sprite fixup command
  Editor/AGS.Editor/GUI/SpriteExportDialog.Designer.cs
  Editor/AGS.Editor/GUI/SpriteExportDialog.cs
  Editor/AGS.Editor/Panes/SpriteSelector.cs
  Editor/AGS.Editor/Utils/SpriteTools.cs
Labels: what: editor, context: editor assets

#1661 Use BufferedStream for writing files + added stream tests
  Common/core/platform.h
  Common/test/stream_test.cpp
  Common/util/bufferedstream.cpp
  Common/util/bufferedstream.h
  Common/util/file.cpp
  Common/util/filestream.h
  Common/util/memorystream.cpp
  Common/util/memorystream.h
Labels: context: game files, context: perfomance

#1657 Perfomance: implement short-term texture cache
  Engine/ac/draw.cpp
  Engine/ac/draw.h
  Engine/ac/game.cpp
  Engine/gfx/ali3dogl.cpp
  Engine/gfx/ali3dogl.h
  Engine/gfx/ali3dsw.h
  Engine/gfx/ddb.h
  Engine/gfx/gfxdriverbase.cpp
  Engine/gfx/gfxdriverbase.h
  Engine/gfx/graphicsdriver.h
  Engine/platform/windows/gfx/ali3dd3d.cpp
  Engine/platform/windows/gfx/ali3dd3d.h
Labels: type: enhancement, context: graphics, what: engine, context: perfomance

#1658 Editor: assign room Object script names, expand test for conflicts
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/Components/RoomsComponent.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/ObjectsEditorFilter.cs
  Editor/AGS.Types/Room.cs
Labels: what: editor

#1663 Add WaitInput in the Script API
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/gamestate.cpp
  Engine/ac/global_api.cpp
  Engine/ac/global_game.cpp
  Engine/ac/global_game.h
  Engine/ac/runtime_defines.h
Labels: context: script api

#1665 Editor: DialogEditor selects line when required
  Editor/AGS.Editor/Components/DialogsComponent.cs
  Editor/AGS.Editor/Panes/DialogEditor.cs
Labels: what: editor, context: ui/ux

#1666 Restore support for sound streaming if file is big enough + sound cache for small sounds
  Engine/CMakeLists.txt
  Engine/Makefile-objs
  Engine/ac/gamesetup.h
  Engine/ac/room.cpp
  Engine/main/config.cpp
  Engine/main/engine.cpp
  Engine/media/audio/audio.cpp
  Engine/media/audio/audio_core.cpp
  Engine/media/audio/audio_core.h
  Engine/media/audio/sdldecoder.cpp
  Engine/media/audio/sdldecoder.h
  Engine/media/audio/sound.cpp
  Engine/media/audio/sound.h
  Engine/platform/base/mobile_base.cpp
  Engine/util/sdl2_util.cpp
  Engine/util/sdl2_util.h
  OPTIONS.md
  Solutions/Common.Lib/Common.Lib.vcxproj
  Solutions/Common.Lib/Common.Lib.vcxproj.filters
  Solutions/Engine.App/Engine.App.vcxproj
  Solutions/Engine.App/Engine.App.vcxproj.filters
Labels: context: audio, context: perfomance
