Repository adventuregamestudio/ags, pull requests merged in 2022-07, with the labels that each got.

#1726 Editor: some fixes for the script Autocomplete
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/AGSEditorController.cs
  Editor/AGS.Editor/AutoComplete.cs
  Editor/AGS.Editor/Components/GlobalVariablesComponent.cs
  Editor/AGS.Editor/Components/ScriptsComponent.cs
  Editor/AGS.Editor/ImportExport.cs
  Editor/AGS.Editor/Panes/ScintillaWrapper.cs
  Editor/AGS.Editor/Panes/ScriptEditor.cs
  Editor/AGS.Editor/Plugins/NativePlugin.cs
  Editor/AGS.Editor/TextProcessing/FindAllUsages.cs
  Editor/scintilla/lexlib/CharacterSet.cxx
Labels: what: editor, context: ui/ux

#1738 AGS4: New compiler: Accept LONG_MIN in scanner + parser; don't treat leading '0' as octal
  Compiler/script2/cc_symboltable.cpp
  Compiler/script2/cc_symboltable.h
  Compiler/script2/cs_compile_time.cpp
  Compiler/script2/cs_parser.cpp
  Compiler/script2/cs_parser.h
  Compiler/script2/cs_scanner.cpp
  Compiler/script2/cs_scanner.h
  Compiler/test2/cc_bytecode_test_0.cpp
  Compiler/test2/cc_bytecode_test_1.cpp
  Compiler/test2/cc_parser_test_0.cpp
  Compiler/test2/cc_parser_test_1.cpp
  Compiler/test2/cc_scanner_test.cpp
Labels: ags 4, context: script compiler

#1739 New compiler: Handle C strings as `const char *` or `const char[]` in Googletests
  Compiler/test2/cc_bytecode_test_0.cpp
  Compiler/test2/cc_bytecode_test_1.cpp
  Compiler/test2/cc_parser_test_0.cpp
  Compiler/test2/cc_parser_test_1.cpp
Labels: ags 4, context: script compiler

#1737 Editor: disabled ColorTheme loading in .NET Design Mode
  Editor/AGS.Editor/GUI/CallStackPanel.Designer.cs
  Editor/AGS.Editor/GUI/CallStackPanel.cs
  Editor/AGS.Editor/GUI/FindResultsPanel.Designer.cs
  Editor/AGS.Editor/GUI/FindResultsPanel.cs
  Editor/AGS.Editor/GUI/OutputPanel.Designer.cs
  Editor/AGS.Editor/GUI/OutputPanel.cs
  Editor/AGS.Editor/GUI/ProjectPanel.Designer.cs
  Editor/AGS.Editor/GUI/ProjectPanel.cs
  Editor/AGS.Editor/GUI/PropertiesPanel.Designer.cs
  Editor/AGS.Editor/GUI/PropertiesPanel.cs
  Editor/AGS.Editor/GUI/frmMain.cs
  Editor/AGS.Editor/Panes/AudioEditor.Designer.cs
  Editor/AGS.Editor/Panes/AudioEditor.cs
  Editor/AGS.Editor/Panes/BigPropertySheet.cs
  Editor/AGS.Editor/Panes/CharacterEditor.Designer.cs
  Editor/AGS.Editor/Panes/CharacterEditor.cs
  Editor/AGS.Editor/Panes/CursorEditor.Designer.cs
  Editor/AGS.Editor/Panes/CursorEditor.cs
  Editor/AGS.Editor/Panes/DefaultSetupPane.cs
  Editor/AGS.Editor/Panes/DialogEditor.cs
  Editor/AGS.Editor/Panes/FontEditor.Designer.cs
  Editor/AGS.Editor/Panes/FontEditor.cs
  Editor/AGS.Editor/Panes/GUIEditor.Designer.cs
  Editor/AGS.Editor/Panes/GUIEditor.cs
  Editor/AGS.Editor/Panes/GeneralSettingsPane.cs
  Editor/AGS.Editor/Panes/GlobalVariablesEditor.Designer.cs
  Editor/AGS.Editor/Panes/GlobalVariablesEditor.cs
  Editor/AGS.Editor/Panes/InventoryEditor.Designer.cs
  Editor/AGS.Editor/Panes/InventoryEditor.cs
  Editor/AGS.Editor/Panes/LipSyncEditor.Designer.cs
  Editor/AGS.Editor/Panes/LipSyncEditor.cs
  Editor/AGS.Editor/Panes/PaletteEditor.Designer.cs
  Editor/AGS.Editor/Panes/PaletteEditor.cs
  Editor/AGS.Editor/Panes/Room/RoomSettingsEditor.Designer.cs
  Editor/AGS.Editor/Panes/Room/RoomSettingsEditor.cs
  Editor/AGS.Editor/Panes/ScriptEditor.cs
  Editor/AGS.Editor/Panes/SpriteSelector.Designer.cs
  Editor/AGS.Editor/Panes/SpriteSelector.cs
  Editor/AGS.Editor/Panes/TextParserEditor.Designer.cs
  Editor/AGS.Editor/Panes/TextParserEditor.cs
  Editor/AGS.Editor/Panes/ViewEditor.cs
  Editor/AGS.Editor/Panes/ViewLoopEditor.Designer.cs
  Editor/AGS.Editor/Panes/ViewLoopEditor.cs
  Editor/AGS.Editor/Panes/ViewPreview.Designer.cs
  Editor/AGS.Editor/Panes/ViewPreview.cs
  Editor/AGS.Editor/Panes/WelcomePane.cs
Labels: what: editor, context: code

#1736 Editor: zoom View's preview frame and Character preview
  Editor/AGS.Editor/NativeProxy.cs
  Editor/AGS.Editor/Panes/CharacterEditor.Designer.cs
  Editor/AGS.Editor/Panes/CharacterEditor.cs
  Editor/AGS.Editor/Panes/CharacterEditor.resx
  Editor/AGS.Editor/Panes/InventoryEditor.Designer.cs
  Editor/AGS.Editor/Panes/ViewEditor.Designer.cs
  Editor/AGS.Editor/Panes/ViewEditor.cs
  Editor/AGS.Editor/Panes/ViewPreview.Designer.cs
  Editor/AGS.Editor/Panes/ViewPreview.cs
  Editor/AGS.Editor/Panes/ViewPreview.resx
  Editor/AGS.Editor/Utils/MathExtra.cs
  Editor/AGS.Editor/Utils/Utilities.cs
  Editor/AGS.Native/NativeMethods.cpp
  Editor/AGS.Native/NativeMethods.h
  Editor/AGS.Native/agsnative.cpp
Labels: what: editor, context: ui/ux

#1705 Implement AGSSpriteFont plugin for Clifftop Games
  Engine/CMakeLists.txt
  Engine/Makefile-objs
  Engine/plugin/agsplugin.cpp
  Engine/plugin/agsplugin.h
  OSX/xcode/AGSKit/AGSKit.xcodeproj/project.pbxproj
  Plugins/AGSSpriteFont/AGSSpriteFont/AGSSpriteFont.cpp
  Plugins/AGSSpriteFont/AGSSpriteFont/AGSSpriteFont.h
  Plugins/AGSSpriteFont/AGSSpriteFont/AGSSpriteFont.vcxproj
  Plugins/AGSSpriteFont/AGSSpriteFont/SpriteFontRenderer.cpp
  Plugins/AGSSpriteFont/AGSSpriteFont/SpriteFontRenderer.h
  Plugins/AGSSpriteFont/AGSSpriteFont/SpriteFontRendererClifftopGames.cpp
  Plugins/AGSSpriteFont/AGSSpriteFont/SpriteFontRendererClifftopGames.h
  Plugins/AGSSpriteFont/AGSSpriteFont/VariableWidthFont.cpp
  Plugins/AGSSpriteFont/AGSSpriteFont/VariableWidthFont.h
  Plugins/AGSSpriteFont/AGSSpriteFont/VariableWidthSpriteFont.cpp
  Plugins/AGSSpriteFont/AGSSpriteFont/VariableWidthSpriteFont.h
  Plugins/AGSSpriteFont/AGSSpriteFont/VariableWidthSpriteFontClifftopGames.cpp
  Plugins/AGSSpriteFont/AGSSpriteFont/VariableWidthSpriteFontClifftopGames.h
  Plugins/AGSSpriteFont/Makefile-objs
  iOS/xcode/ags/ags.xcodeproj/project.pbxproj
Labels: what: engine plugin

#1744 Introduced extended FontRenderer plugin API, more fixes for "Clifftop's" SpriteFont
  Common/font/agsfontrenderer.h
  Common/font/fonts.cpp
  Common/font/fonts.h
  Common/font/ttffontrenderer.cpp
  Common/font/ttffontrenderer.h
  Common/font/wfnfontrenderer.cpp
  Common/font/wfnfontrenderer.h
  Engine/plugin/agsplugin.cpp
  Engine/plugin/agsplugin.h
  Plugins/AGSSpriteFont/AGSSpriteFont/AGSSpriteFont.cpp
  Plugins/AGSSpriteFont/AGSSpriteFont/SpriteFontRenderer.cpp
  Plugins/AGSSpriteFont/AGSSpriteFont/SpriteFontRenderer.h
  Plugins/AGSSpriteFont/AGSSpriteFont/VariableWidthSpriteFont.cpp
  Plugins/AGSSpriteFont/AGSSpriteFont/VariableWidthSpriteFont.h
  Plugins/AGSSpriteFont/AGSSpriteFont/VariableWidthSpriteFontClifftopGames.cpp
  Plugins/AGSSpriteFont/AGSSpriteFont/VariableWidthSpriteFontClifftopGames.h
Labels: what: engine plugin, context: plugin api

#1741 Engine: VSync toggle support
  Engine/ac/draw.cpp
  Engine/gfx/ali3dogl.cpp
  Engine/gfx/ali3dogl.h
  Engine/gfx/ali3dsw.cpp
  Engine/gfx/ali3dsw.h
  Engine/main/engine.cpp
  Engine/platform/windows/gfx/ali3dd3d.cpp
  Engine/platform/windows/gfx/ali3dd3d.h
Labels: context: graphics mode

#1745 Editor: Implement "Go to Definition" for Define and Enum
  Editor/AGS.Editor/AutoComplete.cs
  Editor/AGS.Editor/Panes/ScintillaWrapper.cs
  Editor/AGS.Editor/Panes/ScriptEditor.cs
  Editor/AGS.Types/AGS.Types.csproj
  Editor/AGS.Types/EditorFeatures/AutoComplete/ScriptAutoCompleteData.cs
  Editor/AGS.Types/EditorFeatures/AutoComplete/ScriptDefine.cs
  Editor/AGS.Types/EditorFeatures/AutoComplete/ScriptEnum.cs
  Editor/AGS.Types/EditorFeatures/AutoComplete/ScriptEnumValue.cs
Labels: what: editor, context: ui/ux
