Repository adventuregamestudio/ags, pull requests merged in 2022-01, with the labels that each got.

#1467 3.6.0 Android Player: search for games using proper engine's algorithm
  Android/agsplayer/app/src/main/java/uk/co/adventuregamestudio/agsplayer/MainActivity.kt
  Android/library/runtime/proguard-rules.pro
  Android/library/runtime/src/main/java/uk/co/adventuregamestudio/runtime/NativeHelper.java
  Android/library/runtime/src/main/java/uk/co/adventuregamestudio/runtime/PEHelper.java
  Engine/CMakeLists.txt
  Engine/Makefile-defs.linux
  Engine/Makefile-defs.osx
  Engine/main/engine.cpp
  Engine/platform/android/helper/jni_helper.cpp
  Engine/platform/android/helper/pe_jni.c
  Engine/platform/util/pe.c
  Engine/platform/util/pe.h
Labels: system: android, what: android-launcher

#1465 New compiler: Make sure that all parameters that follow a default parameter have a default, too
  Compiler/script2/cs_parser.cpp
  Compiler/script2/cs_parser.h
  Compiler/test2/cc_parser_test_0.cpp
  Compiler/test2/cc_parser_test_1.cpp
Labels: pull: under review, ags 4, context: script compiler

#1474 Editor: implement Layout -> Reset To Defaults command
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/GUI/WindowsLayoutManager.cs
  Editor/AGS.Editor/GUI/WindowsMenuManager.cs
  Editor/AGS.Editor/GUI/frmMain.cs
  Editor/AGS.Editor/Resources/LayoutDefault.xml
  Editor/AGS.Editor/Resources/ResourceManager.cs
Labels: pull: under review, what: editor, context: ui/ux

#1476 Editor: intercept corrupt app config case to avoid getting stuck on load
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/AGSEditor.csproj
Labels: pull: under review, what: editor

#1466 New compiler: Refactorings
  Compiler/script2/cs_parser.cpp
  Compiler/script2/cs_parser.h
Labels: pull: under review, ags 4, context: script compiler

#1479 New compiler: Further refactorings
  Compiler/script2/cc_symboltable.cpp
  Compiler/script2/cc_symboltable.h
  Compiler/script2/cs_parser.cpp
  Compiler/script2/cs_parser.h
  Compiler/test2/cc_bytecode_test_1.cpp
  Compiler/test2/cc_parser_test_0.cpp
  Compiler/test2/cc_parser_test_1.cpp
Labels: pull: under review, ags 4

#1489 Android Player: let user select dir through file picker
  Android/agsplayer/app/src/main/java/uk/co/adventuregamestudio/agsplayer/FileUtil.kt
  Android/agsplayer/app/src/main/java/uk/co/adventuregamestudio/agsplayer/MainActivity.kt
Labels: system: android, what: android-launcher

#1490 Android: recursively iterate for games on Android Player
  Android/agsplayer/app/src/main/java/uk/co/adventuregamestudio/agsplayer/MainActivity.kt
Labels: system: android, what: android-launcher

#1491 Refactor expressions
  Compiler/script2/cc_symboltable.cpp
  Compiler/script2/cc_symboltable.h
  Compiler/script2/cs_compile_time.h
  Compiler/script2/cs_parser.cpp
  Compiler/script2/cs_parser.h
  Compiler/test2/cc_bytecode_test_0.cpp
  Compiler/test2/cc_bytecode_test_1.cpp
  Compiler/test2/cc_parser_test_0.cpp
  Compiler/test2/cc_parser_test_1.cpp
Labels: ags 4, context: script compiler

#1414 Editor: Sound indicator for view frames
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/Panes/ViewLoopEditor.cs
  Editor/AGS.Editor/Resources/audio_indicator.ico
  Editor/AGS.Editor/Resources/delay_indicator.ico
Labels: what: editor, context: ui/ux

#1415 Editor: Zoom Slider in Inventory and View panels
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/Panes/CursorEditor.Designer.cs
  Editor/AGS.Editor/Panes/CursorEditor.cs
  Editor/AGS.Editor/Panes/CursorEditor.resx
  Editor/AGS.Editor/Panes/InventoryEditor.Designer.cs
  Editor/AGS.Editor/Panes/InventoryEditor.cs
  Editor/AGS.Editor/Panes/InventoryEditor.resx
  Editor/AGS.Editor/Panes/ViewEditor.Designer.cs
  Editor/AGS.Editor/Panes/ViewEditor.cs
  Editor/AGS.Editor/Panes/ViewEditor.resx
  Editor/AGS.Editor/Panes/ViewLoopEditor.cs
  Editor/AGS.Editor/Panes/ZoomTrackbar.Designer.cs
  Editor/AGS.Editor/Panes/ZoomTrackbar.cs
  Editor/AGS.Editor/Panes/ZoomTrackbar.resx
  Editor/AGS.Editor/Utils/MathExtra.cs
  Editor/AGS.Native/agsnative.cpp
Labels: pull: under review, what: editor, context: ui/ux

#1495 3.6.0: optionally clip GUI control contents
  Common/ac/gamestructdefines.h
  Common/font/wfnfontrenderer.cpp
  Common/gui/guibutton.cpp
  Common/gui/guidefines.h
  Common/gui/guimain.cpp
  Common/gui/guimain.h
  Common/gui/guiobject.h
  Editor/AGS.Editor/DataFileWriter.cs
  Editor/AGS.Editor/Panes/GeneralSettingsPane.cs
  Editor/AGS.Editor/Tasks.cs
  Editor/AGS.Editor/Utils/NativeConstants.cs
  Editor/AGS.Native/NativeMethods.cpp
  Editor/AGS.Native/agsnative.cpp
  Editor/AGS.Types/Settings.cs
  Engine/ac/draw.cpp
  Engine/ac/global_game.cpp
  Engine/ac/global_gui.cpp
  Engine/ac/gui.cpp
  Engine/ac/gui.h
  Engine/ac/guiinv.cpp
  Engine/game/savegame.cpp
  Engine/gui/gui_engine.cpp
  Engine/main/engine.cpp
  Engine/main/game_run.cpp
Labels: type: enhancement, context: graphics, pull: under review

#1507 3.6.0 Editor: fixed sprites never deleted from spritefile
  Common/ac/spritecache.cpp
  Common/ac/spritefile.cpp
  Common/ac/spritefile.h
  Editor/AGS.Native/NativeDLL.vcxproj
  Editor/AGS.Native/agsnative.cpp
Labels: pull: under review, context: spritecache, what: editor, context: editor assets

#1516 New compiler: Fix some bugs in constant handling
  Compiler/script2/cs_parser.cpp
  Compiler/test2/cc_bytecode_test_0.cpp
  Compiler/test2/cc_parser_test_1.cpp
Labels: ags 4, context: script compiler

#1515 3.6.0: create blank room programmatically instead of using a binary resource
  Common/gfx/bitmap.cpp
  Common/gfx/bitmap.h
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/Components/RoomsComponent.cs
  Editor/AGS.Editor/NativeProxy.cs
  Editor/AGS.Editor/Resources/blank.crm
  Editor/AGS.Native/NativeMethods.cpp
  Editor/AGS.Native/NativeMethods.h
  Editor/AGS.Native/agsnative.cpp
Labels: pull: under review, what: editor, context: editor assets

#1423 Adds Emscripten platform
  .cirrus.yml
  .gitignore
  CMake/Emscripten/FindSDL2.cmake
  CMake/FetchSDL2.cmake
  CMake/FetchSDL_Sound.cmake
  CMakeLists.txt
  Common/CMakeLists.txt
  Common/libsrc/alfont-2.0.9/CMakeLists.txt
  Emscripten/README.md
  Emscripten/build.sh
  Emscripten/launcher_index.html
  Emscripten/my_game.html
  Emscripten/my_game_files.js
  Engine/CMakeLists.txt
  Engine/ac/timer.cpp
  Engine/libsrc/apeg-1.2.1/CMakeLists.txt
  Engine/libsrc/ogg/CMakeLists.txt
  Engine/media/audio/audio_core.cpp
  Engine/media/audio/audio_core.h
  Engine/platform/emscripten/acpemscripten.cpp
  README.md
  libsrc/allegro/CMakeLists.txt
Labels: pull: under review, system: web

#1511 3.6.0: implement audio playback speed using resampling
  Engine/media/audio/audio_core.cpp
  Engine/media/audio/openaldecoder.cpp
  Engine/media/audio/openaldecoder.h
Labels: context: audio, pull: under review

#1512 Script API: settable Hotspot.Name and Object.Name
  Common/ac/game_version.h
  Common/game/roomstruct.cpp
  Editor/AGS.Editor/Resources/agsdefns.sh
  Editor/AGS.Types/Room.cs
  Engine/ac/character.cpp
  Engine/ac/global_game.cpp
  Engine/ac/global_hotspot.cpp
  Engine/ac/global_object.cpp
  Engine/ac/hotspot.cpp
  Engine/ac/object.cpp
  Engine/ac/room.cpp
  Engine/ac/roomobject.cpp
  Engine/ac/roomobject.h
  Engine/ac/roomstatus.cpp
  Engine/ac/roomstatus.h
  Engine/game/savegame_components.cpp
Labels: pull: under review, context: script api
