Repository adventuregamestudio/ags, pull requests merged in 2022-10, with the labels that each got.

#1792 Editor: fixed how dialog script is styling the comments and strings
  Editor/AGS.Editor/Panes/ScintillaWrapper.cs
Labels: what: editor, context: ui/ux

#1782 Editor: scintilla automatically highlights braces in current position
  Editor/AGS.Editor/Panes/ScintillaWrapper.cs
  Editor/AGS.Editor/Panes/ScriptEditor.cs
Labels: what: editor, context: ui/ux

#1416 Ags4: Editor UI refresh
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/Entities/EditorPreferences.cs
  Editor/AGS.Editor/GUI/PreferencesEditor.Designer.cs
  Editor/AGS.Editor/GUI/PreferencesEditor.cs
  Editor/AGS.Editor/GUI/frmMain.Designer.cs
  Editor/AGS.Editor/packages.config
Labels: what: editor, ags 4, context: ui/ux

#1802 Don't recreate overlay object in call to Overlay.SetText()
  Engine/ac/display.cpp
  Engine/ac/display.h
  Engine/ac/global_overlay.cpp
  Engine/ac/overlay.cpp
  Engine/ac/screenoverlay.cpp
  Engine/ac/screenoverlay.h
  Engine/game/savegame_components.cpp
  Engine/game/savegame_v321.cpp
Labels: context: script api

#1809 AGS 4: remove deprecated script api, below 3.6.0 level
  Common/ac/characterinfo.h
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/CMakeLists.txt
  Engine/ac/character.cpp
  Engine/ac/character.h
  Engine/ac/game.cpp
  Engine/ac/game.h
  Engine/ac/global_api.cpp
  Engine/ac/global_character.cpp
  Engine/ac/global_character.h
  Engine/ac/global_drawingsurface.cpp
  Engine/ac/global_drawingsurface.h
  Engine/ac/global_game.cpp
  Engine/ac/global_game.h
  Engine/ac/global_invwindow.cpp
  Engine/ac/global_invwindow.h
  Engine/ac/global_object.cpp
  Engine/ac/global_palette.cpp
  Engine/ac/global_parser.cpp
  Engine/ac/global_parser.h
  Engine/ac/global_room.cpp
  Engine/ac/global_room.h
  Engine/ac/global_string.cpp
  Engine/ac/global_string.h
  Engine/ac/global_viewport.cpp
  Engine/ac/global_viewport.h
  Engine/ac/listbox.cpp
  Engine/ac/listbox.h
  Engine/ac/object.cpp
  Engine/ac/object.h
  Engine/ac/speech.cpp
  Engine/ac/system.cpp
  Engine/ac/system.h
  Solutions/Engine.App/Engine.App.vcxproj
  Solutions/Engine.App/Engine.App.vcxproj.filters
Labels: ags 4, context: script api, context: code

#1682 Add bitmap streamer
  Common/gfx/allegrobitmap.cpp
  Common/gfx/allegrobitmap.h
  Common/gfx/bitmap.cpp
  Common/gfx/bitmap.h
  Engine/ac/global_dynamicsprite.cpp
  Engine/main/engine.cpp
  libsrc/allegro/include/allegro/gfx.h
  libsrc/allegro/include/allegro/internal/aintern.h
Labels: context: graphics, context: code

#1815 Cleanup Allegro 4 further, following #1682
  Engine/Makefile-defs.allegro
  Solutions/Common.Lib/Common.Lib.vcxproj
  Solutions/Common.Lib/Common.Lib.vcxproj.filters
  libsrc/allegro/cmake/FileList.cmake
  libsrc/allegro/include/allegro.h
  libsrc/allegro/include/allegro/datafile.h
  libsrc/allegro/include/allegro/file.h
  libsrc/allegro/include/allegro/fli.h
  libsrc/allegro/include/allegro/internal/aintern.h
  libsrc/allegro/src/allegro.c
  libsrc/allegro/src/bmp.c
  libsrc/allegro/src/dataregi.c
  libsrc/allegro/src/file.c
  libsrc/allegro/src/fli.c
  libsrc/allegro/src/pcx.c
  libsrc/allegro/src/readbmp.c
Labels: context: code
