Repository adventuregamestudio/ags, pull requests merged in 2022-02, with the labels that each got.

#1523 Feature: Web (Emscripten) build through the Editor
  .cirrus.yml
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/BuildTargets/BuildTargetWeb.cs
  Emscripten/build.sh
  Emscripten/install_dependencies.sh
  ci/emscripten/Dockerfile
Labels: pull: under review, what: editor, system: web

#1510 Editor: allow using property grid to set Preferences
  Editor/AGS.Editor/Entities/EditorPreferences.cs
  Editor/AGS.Editor/GUI/PreferencesEditor.Designer.cs
  Editor/AGS.Editor/GUI/PreferencesEditor.cs
Labels: pull: under review, what: editor, context: ui/ux

#1532 Installer CI: add Web component to releases
  .cirrus.yml
  Windows/Installer/ags.iss
Labels: pull: under review, context: deployment

#1531 Refactor OpenAlDecoder and video playback
  Engine/CMakeLists.txt
  Engine/ac/global_api.cpp
  Engine/ac/global_video.cpp
  Engine/ac/global_video.h
  Engine/gfx/graphicsdriver.h
  Engine/libsrc/apeg-1.2.1/adisplay.c
  Engine/libsrc/apeg-1.2.1/apeg.h
  Engine/libsrc/apeg-1.2.1/audio/aaudio.c
  Engine/libsrc/apeg-1.2.1/audio/mpg123.c
  Engine/libsrc/apeg-1.2.1/getbits.c
  Engine/libsrc/apeg-1.2.1/mpeg1dec.c
  Engine/libsrc/apeg-1.2.1/mpeg1dec.h
  Engine/libsrc/apeg-1.2.1/mpg123.h
  Engine/libsrc/apeg-1.2.1/ogg.c
  Engine/libsrc/apeg-1.2.1/openal_support.h
  Engine/main/quit.cpp
  Engine/media/audio/audio_core.cpp
  Engine/media/audio/openal.h
  Engine/media/audio/openaldecoder.cpp
  Engine/media/audio/openaldecoder.h
  Engine/media/audio/openalsource.cpp
  Engine/media/audio/openalsource.h
  Engine/media/audio/sdldecoder.cpp
  Engine/media/audio/sdldecoder.h
  Engine/media/video/video.cpp
  Engine/media/video/video.h
  Engine/script/script.cpp
  Solutions/Engine.App/Engine.App.vcxproj
  Solutions/Engine.App/Engine.App.vcxproj.filters
Labels: context: audio, pull: under review, context: video (playback)

#1535 Engine: add clear cache on room change from Android port to config
  Engine/ac/gamesetup.cpp
  Engine/ac/gamesetup.h
  Engine/ac/room.cpp
  Engine/main/config.cpp
  Engine/main/main.cpp
  OPTIONS.md
Labels: pull: under review

#1537 New compiler: When an opener isn't closed, complain about that on the line of the opener instead of at EOF
  Compiler/script2/cs_scanner.cpp
  Compiler/test2/cc_scanner_test.cpp
Labels: ags 4, context: script compiler

#1539 Emscripten: unify html launcher + enable video
  .cirrus.yml
  Common/core/platform.h
  Emscripten/README.md
  Emscripten/launcher_index.html
  Emscripten/my_game.html
Labels: context: video (playback), system: web

#1540 Editor: adjust help entries for some panes
  Editor/AGS.Editor/Panes/AudioEditor.cs
  Editor/AGS.Editor/Panes/CharacterEditor.cs
  Editor/AGS.Editor/Panes/GUIEditor.cs
  Editor/AGS.Editor/Panes/InventoryEditor.cs
  Editor/AGS.Editor/Panes/SpriteManager.cs
  Editor/AGS.Editor/Panes/ViewEditor.cs
Labels: what: editor

#1509 Editor: Android build feature
  .cirrus.yml
  Android/agsplayer/app/src/main/AndroidManifest.xml
  Android/agsplayer/app/src/main/java/uk/co/adventuregamestudio/agsplayer/AGSPlayerRuntimeActivity.java
  Android/agsplayer/app/src/main/java/uk/co/adventuregamestudio/agsplayer/MainActivity.kt
  Android/and-build.sh
  Android/library/runtime/src/main/AndroidManifest.xml
  Android/library/runtime/src/main/java/uk/co/adventuregamestudio/runtime/AGSRuntimeActivity.java
  Android/library/runtime/src/main/res/menu/default_ingame.xml
  Android/mygame/README.md
  Android/mygame/app/build.gradle
  Android/mygame/app/src/main/AndroidManifest.xml
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/BuildTargets/BuildTargetAndroid.cs
  Editor/AGS.Editor/Entities/EditorPreferences.cs
  Editor/AGS.Editor/GUI/GenerateAndroidKeystore.Designer.cs
  Editor/AGS.Editor/GUI/GenerateAndroidKeystore.cs
  Editor/AGS.Editor/GUI/GenerateAndroidKeystore.resx
  Editor/AGS.Editor/GUI/PreferencesEditor.Designer.cs
  Editor/AGS.Editor/GUI/PreferencesEditor.cs
  Editor/AGS.Editor/Utils/AndroidUtilities.cs
  Editor/AGS.Editor/Utils/ArgumentBuilder.cs
  Editor/AGS.Types/AGS.Types.csproj
  Editor/AGS.Types/Enums/AndroidBuildFormat.cs
  Editor/AGS.Types/Enums/ScreenRotationMode.cs
  Editor/AGS.Types/RuntimeSetup.cs
  Editor/AGS.Types/Settings.cs
  Engine/ac/gamesetup.cpp
  Engine/ac/gamesetup.h
  Engine/main/config.cpp
  Engine/main/engine.cpp
  Engine/main/engine_setup.cpp
  Engine/main/engine_setup.h
  Engine/main/main.cpp
  Engine/platform/android/acpland.cpp
  OPTIONS.md
  Windows/Installer/ags.iss
Labels: pull: under review, what: editor, system: android, context: game building

#1542 Editor: Unicode support for the game data (scripts, text properties)
  Common/ac/gamestructdefines.h
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/ApplicationController.cs
  Editor/AGS.Editor/BuildTargets/BuildTargetWindows.cs
  Editor/AGS.Editor/Components/HelpCommandsComponent.cs
  Editor/AGS.Editor/Components/RoomDesignData.cs
  Editor/AGS.Editor/Components/RoomsComponent.cs
  Editor/AGS.Editor/Components/ScriptsComponent.cs
  Editor/AGS.Editor/Components/SpeechComponent.cs
  Editor/AGS.Editor/Components/TranslationsComponent.cs
  Editor/AGS.Editor/DataFileWriter.cs
  Editor/AGS.Editor/Debugger/FileBasedEngineCommunication.cs
  Editor/AGS.Editor/Debugger/NamedPipeServer.cs
  Editor/AGS.Editor/GUI/ExceptionDialog.cs
  Editor/AGS.Editor/ImportExport.cs
  Editor/AGS.Editor/Panes/GeneralSettingsPane.cs
  Editor/AGS.Editor/Tasks.cs
  Editor/AGS.Editor/TextProcessing/GameSpeechProcessor.cs
  Editor/AGS.Editor/Utils/NativeConstants.cs
  Editor/AGS.Native/MSSCCI.cpp
  Editor/AGS.Native/NativeMethods.cpp
  Editor/AGS.Native/NativeMethods.h
  Editor/AGS.Native/NativeUtils.h
  Editor/AGS.Native/ScriptCompiler.cpp
  Editor/AGS.Native/agsicons.cpp
  Editor/AGS.Native/agsnative.cpp
  Editor/AGS.Types/AGS.Types.csproj
  Editor/AGS.Types/Game.cs
  Editor/AGS.Types/PropertyGridExtras/TextEncodingTypeConverter.cs
  Editor/AGS.Types/Script.cs
  Editor/AGS.Types/Settings.cs
  Editor/AGS.Types/Translation.cs
  Editor/AGS.Types/Utilities.cs
  Engine/ac/translation.cpp
  Engine/main/engine.cpp
Labels: pull: under review, what: editor, context: unicode
