Repository adventuregamestudio/ags, pull requests merged in 2022-09, with the labels that each got.

#1769 Mask handling improvements
  Editor/AGS.Editor/Components/RoomsComponent.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/BaseAreasEditorFilter.cs
  Editor/AGS.Types/Constants.cs
Labels: what: editor, ags 4

#1773 Android: reimplement touch-to-mouse controls in the engine
  Android/library/runtime/src/main/java/uk/co/adventuregamestudio/runtime/AGSRuntimeActivity.java
  Android/library/runtime/src/main/res/values/arrays.xml
  Android/library/runtime/src/main/res/values/strings.xml
  Android/library/runtime/src/main/res/xml/preferences.xml
  Common/util/geometry.h
  Engine/ac/gamesetup.cpp
  Engine/ac/gamesetup.h
  Engine/ac/sys_events.cpp
  Engine/device/mousew32.cpp
  Engine/main/config.cpp
  Engine/platform/android/acpland.cpp
  Engine/platform/base/mobile_base.cpp
  Engine/platform/base/mobile_base.h
  Engine/platform/base/sys_main.cpp
Labels: type: enhancement, system: android, context: input

#1781 Android: remove deprecated/unused preferences
  Android/README.md
  Android/library/runtime/src/main/res/values/strings.xml
  Android/library/runtime/src/main/res/xml/preferences.xml
  Android/misc/android.cfg
  Editor/AGS.Editor/BuildTargets/BuildTargetAndroid.cs
  Engine/platform/android/acpland.cpp
  Engine/platform/base/mobile_base.cpp
  Engine/platform/base/mobile_base.h
Labels: system: android, what: android-launcher

#1784 Android: support relative speed factor for touch-to-mouse emulation
  Android/library/runtime/src/main/java/uk/co/adventuregamestudio/runtime/PreferencesActivity.java
  Android/library/runtime/src/main/res/values/strings.xml
  Android/library/runtime/src/main/res/xml/preferences.xml
  Common/util/geometry.h
  Engine/ac/sys_events.cpp
  Engine/platform/android/acpland.cpp
  Engine/platform/base/mobile_base.cpp
  Engine/platform/base/mobile_base.h
Labels: system: android, context: input

#1779 Handle unterminated strings to avoid data corruption
  Compiler/preproc/preprocessor.cpp
  Compiler/preproc/preprocessor.h
  Editor/AGS.CScript.Compiler/Entities/ErrorCode.cs
  Editor/AGS.CScript.Compiler/Preprocessor.cs
  Editor/AGS.Editor/Components/TranslationsComponent.cs
  Editor/AGS.Editor/TextProcessing/SpeechLinesNumbering.cs
Labels: what: editor, context: translations

#1785 AGS3: Editor UI refresh
  Editor/AGS.Editor/ColorThemes/ColorTheme.cs
  Editor/AGS.Editor/ColorThemes/ColorThemeJson.cs
  Editor/AGS.Editor/ColorThemes/ColorThemeStub.cs
  Editor/AGS.Editor/ColorThemes/ColorThemes.cs
  Editor/AGS.Editor/ColorThemes/Controls/ComboBoxCustom.cs
  Editor/AGS.Editor/GUI/CallStackPanel.cs
  Editor/AGS.Editor/GUI/FindResultsPanel.cs
  Editor/AGS.Editor/GUI/OutputPanel.cs
  Editor/AGS.Editor/GUI/PreferencesEditor.Designer.cs
  Editor/AGS.Editor/GUI/PreferencesEditor.cs
  Editor/AGS.Editor/GUI/ProjectPanel.cs
  Editor/AGS.Editor/GUI/PropertiesPanel.cs
  Editor/AGS.Editor/GUI/frmMain.cs
  Editor/AGS.Editor/Panes/AudioEditor.cs
  Editor/AGS.Editor/Panes/CharacterEditor.cs
  Editor/AGS.Editor/Panes/CursorEditor.cs
  Editor/AGS.Editor/Panes/DefaultSetupPane.cs
  Editor/AGS.Editor/Panes/DialogEditor.cs
  Editor/AGS.Editor/Panes/FontEditor.cs
  Editor/AGS.Editor/Panes/GUIEditor.cs
  Editor/AGS.Editor/Panes/GeneralSettingsPane.cs
  Editor/AGS.Editor/Panes/GlobalVariablesEditor.cs
  Editor/AGS.Editor/Panes/InventoryEditor.cs
  Editor/AGS.Editor/Panes/LipSyncEditor.cs
  Editor/AGS.Editor/Panes/PaletteEditor.cs
  Editor/AGS.Editor/Panes/Room/RoomSettingsEditor.cs
  Editor/AGS.Editor/Panes/ScintillaWrapper.Designer.cs
  Editor/AGS.Editor/Panes/ScintillaWrapper.cs
  Editor/AGS.Editor/Panes/ScriptEditor.cs
  Editor/AGS.Editor/Panes/SpriteSelector.cs
  Editor/AGS.Editor/Panes/TextParserEditor.cs
  Editor/AGS.Editor/Panes/ViewEditor.cs
  Editor/AGS.Editor/Panes/ViewLoopEditor.cs
  Editor/AGS.Editor/Panes/ViewPreview.cs
  Editor/AGS.Editor/Panes/WelcomePane.cs
  Editor/AGS.Editor/Utils/Utilities.cs
Labels: what: editor, ags3
