Repository adventuregamestudio/ags, pull requests merged in 2022-04, with the labels that each got.

#1602 AGS4: New compiler: Disallow static variables in `struct`s
  Compiler/script2/cs_parser.cpp
  Compiler/test2/cc_parser_test_0.cpp
  Compiler/test2/cc_parser_test_1.cpp
Labels: ags 4, context: script compiler

#1601 3.6.0: remove Game Explorer integration from the engine and editor
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/BuildTargets/BuildTargetWindows.cs
  Editor/AGS.Editor/NativeProxy.cs
  Editor/AGS.Native/NativeMethods.h
  Editor/AGS.Native/ScriptCompiler.cpp
  Editor/AGS.Types/Settings.cs
  Engine/CMakeLists.txt
  Engine/ac/game.cpp
  Engine/ac/game.h
  Engine/ac/richgamemedia.cpp
  Engine/ac/richgamemedia.h
  Engine/game/savegame.cpp
  Engine/game/savegame.h
  Engine/main/engine.cpp
  Engine/main/main.cpp
  Engine/main/main.h
  Engine/platform/base/agsplatformdriver.cpp
  Engine/platform/base/agsplatformdriver.h
  Engine/platform/windows/acplwin.cpp
  Engine/resource/DefaultGDF.gdf.xml
  Engine/resource/version.rc
  Solutions/Engine.App/Engine.App.vcxproj
  Solutions/Engine.App/Engine.App.vcxproj.filters
Labels: what: editor, what: engine, context: game files, context: editor assets

#1594 Editor: feature recreating full spritefile from sources
  Common/ac/spritefile.h
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/BuildTargets/BuildTargetDebug.cs
  Editor/AGS.Editor/Components/FileCommandsComponent.cs
  Editor/AGS.Editor/Components/HelpCommandsComponent.cs
  Editor/AGS.Editor/Components/RoomsComponent.cs
  Editor/AGS.Editor/Components/TranslationsComponent.cs
  Editor/AGS.Editor/GUI/BusyDialog.cs
  Editor/AGS.Editor/GUI/ExceptionDialog.cs
  Editor/AGS.Editor/GUI/GUIController.cs
  Editor/AGS.Editor/InteractiveTasks.cs
  Editor/AGS.Editor/NativeProxy.cs
  Editor/AGS.Editor/Panes/GeneralSettingsPane.cs
  Editor/AGS.Editor/Panes/SpriteSelector.cs
  Editor/AGS.Editor/Tasks.cs
  Editor/AGS.Editor/Utils/OldGameImporter.cs
  Editor/AGS.Editor/Utils/SpriteTools.cs
  Editor/AGS.Native/NativeDLL.vcxproj
  Editor/AGS.Native/NativeDLL.vcxproj.filters
  Editor/AGS.Native/NativeMethods.cpp
  Editor/AGS.Native/NativeMethods.h
  Editor/AGS.Native/SpriteFileWriter_NET.cpp
  Editor/AGS.Native/SpriteFileWriter_NET.h
  Editor/AGS.Native/agsnative.cpp
Labels: context: editor assets

#1613 Script API: implemented GUIControl.Transparency
  Common/gfx/gfx_def.h
  Common/gui/guidefines.h
  Common/gui/guimain.cpp
  Common/gui/guimain.h
  Common/gui/guiobject.cpp
  Common/gui/guiobject.h
  Editor/AGS.Editor/Resources/agsdefns.sh
  Editor/AGS.Native/agsnative.cpp
  Engine/ac/draw.cpp
  Engine/ac/draw.h
  Engine/ac/event.cpp
  Engine/ac/guicontrol.cpp
  Engine/game/savegame_components.cpp
  Engine/gfx/ali3dogl.cpp
  Engine/gfx/ali3dogl.h
  Engine/gfx/ali3dsw.cpp
  Engine/gfx/ali3dsw.h
  Engine/gfx/ddb.h
  Engine/gfx/graphicsdriver.h
  Engine/platform/windows/gfx/ali3dd3d.cpp
  Engine/platform/windows/gfx/ali3dd3d.h
Labels: type: enhancement, context: graphics, context: script api

#1608 Script API: allow to scale overlays by setting Width & Height
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/draw.cpp
  Engine/ac/overlay.cpp
  Engine/ac/screenoverlay.cpp
  Engine/ac/screenoverlay.h
  Engine/game/savegame_components.cpp
  Engine/main/update.cpp
Labels: context: graphics, context: script api

#1632 Editor: fixed "Select area" tool issues
  Editor/AGS.Editor/Components/RoomsComponent.cs
Labels: what: editor, ags 4

#1633 AGS 4 Editor: Fixes importing room template and existing room
  Editor/AGS.Editor/Components/RoomsComponent.cs
  Editor/AGS.Native/agsnative.cpp
Labels: what: editor, ags 4
