Repository adventuregamestudio/ags, pull requests merged in 2022-03, with the labels that each got.

#1548 Editor: convert game files when the text format changes
  Common/game/room_file.cpp
  Common/game/roomstruct.h
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/ImportExport.cs
  Editor/AGS.Editor/NativeProxy.cs
  Editor/AGS.Editor/Panes/GeneralSettingsPane.cs
  Editor/AGS.Editor/Tasks.cs
  Editor/AGS.Native/NativeMethods.cpp
  Editor/AGS.Native/NativeMethods.h
  Editor/AGS.Native/agsnative.cpp
  Editor/AGS.Types/Game.cs
  Editor/AGS.Types/Utilities.cs
Labels: pull: under review, what: editor, context: unicode, context: editor assets

#1549 New compiler: Disallow function names without following '(' in statements
  Compiler/script2/cs_parser.cpp
  Compiler/script2/cs_parser.h
  Compiler/test2/cc_parser_test_1.cpp
Labels: ags 4, context: script compiler

#1552 Compiler: support hexadecimal literals
  Compiler/script/cs_parser.cpp
  Compiler/test/cs_parser_test.cpp
Labels: type: enhancement, pull: under review, ags3, context: script compiler

#1557 Editor: Script Font and Size selection in Preferences
  Editor/AGS.Editor/Entities/EditorPreferences.cs
  Editor/AGS.Editor/GUI/GUIController.cs
  Editor/AGS.Editor/GUI/PreferencesEditor.cs
  Editor/AGS.Editor/Panes/ScintillaWrapper.cs
Labels: what: editor, context: ui/ux

#1562 Add basic utf-8 utilities to Common, and fix extended ansi key codes in on_key_press callback
  Common/util/string_utils.cpp
  Common/util/string_utils.h
  Common/util/utf8.h
  Engine/ac/sys_events.cpp
  Engine/ac/translation.cpp
  Solutions/Common.Lib/Common.Lib.vcxproj
  Solutions/Common.Lib/Common.Lib.vcxproj.filters
Labels: context: input, backend: sdl2

#1564 Replaced allegro's findfile with our own (refactor)
  Common/game/main_game_file.cpp
  Common/util/directory.cpp
  Common/util/directory.h
  Common/util/string_utils.cpp
  Common/util/string_utils.h
  Engine/ac/global_game.cpp
  Engine/ac/listbox.cpp
  Engine/main/quit.cpp
  Engine/platform/windows/setup/winsetup.cpp
  libsrc/allegro/include/allegro/file.h
  libsrc/allegro/include/allegro/internal/aintern.h
  libsrc/allegro/src/file.c
  libsrc/allegro/src/unix/ufile.c
  libsrc/allegro/src/win/wfile.c
Labels: context: code

#1568 Script API: support working with unicode characters
  Common/script/cc_options.h
  Compiler/script/cs_parser.cpp
  Editor/AGS.Editor/Resources/agsdefns.sh
  Editor/AGS.Native/ScriptCompiler.cpp
  Engine/ac/string.cpp
  Engine/ac/string.h
  Engine/script/script_api.cpp
  Solutions/Tests.App/Engine.App.Test.vcxproj
  Solutions/Tests.App/Engine.App.Test.vcxproj.filters
Labels: context: script api, context: unicode

#1573 Update sound config to 3.6.0
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Types/RuntimeSetup.cs
  Engine/ac/gamesetup.cpp
  Engine/ac/gamesetup.h
  Engine/ac/global_video.cpp
  Engine/main/config.cpp
  Engine/main/engine.cpp
  Engine/media/audio/audio.cpp
  Engine/platform/base/sys_main.cpp
  Engine/platform/base/sys_main.h
  Engine/platform/windows/setup/winsetup.cpp
  Engine/plugin/agsplugin.cpp
  Engine/resource/resource.h
  Engine/resource/version.rc
Labels: context: audio, context: user config

#1574 Engine: support option for software renderer's output driver
  Engine/ac/gamesetup.h
  Engine/main/config.cpp
  Engine/main/engine.cpp
  Engine/platform/base/sys_main.cpp
  Engine/platform/base/sys_main.h
  OPTIONS.md
Labels: context: graphics mode, context: user config, backend: sdl2

#1571 Provide "on_text_input" callback for handling unicode characters
  Common/ac/gamestructdefines.h
  Common/ac/keycode.h
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/DataFileWriter.cs
  Editor/AGS.Editor/Panes/ScintillaWrapper.cs
  Editor/AGS.Editor/Resources/agsdefns.sh
  Editor/AGS.Editor/Tasks.cs
  Editor/AGS.Editor/Utils/NativeConstants.cs
  Editor/AGS.Native/NativeMethods.cpp
  Editor/AGS.Native/agsnative.cpp
  Editor/AGS.Types/Settings.cs
  Engine/ac/dialog.cpp
  Engine/ac/event.cpp
  Engine/ac/event.h
  Engine/ac/game.cpp
  Engine/ac/sys_events.cpp
  Engine/ac/sys_events.h
  Engine/game/game_init.cpp
  Engine/main/game_run.cpp
  Engine/main/game_run.h
  Engine/script/cc_instance.cpp
  Engine/script/nonblockingscriptfunction.h
  Engine/script/script.cpp
  Engine/script/script.h
Labels: context: script api, context: input

#1576 Script API: expanded Button.Animate() to feature all common params + some refactor
  Common/ac/characterinfo.h
  Common/gui/guibutton.h
  Common/gui/guidefines.h
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/button.cpp
  Engine/ac/button.h
  Engine/ac/characterinfo_engine.cpp
  Engine/ac/object.cpp
  Engine/ac/object.h
  Engine/ac/roomobject.cpp
  Engine/ac/roomobject.h
  Engine/ac/runtime_defines.h
  Engine/game/savegame_components.cpp
  Engine/game/savegame_v321.cpp
  Engine/gui/animatingguibutton.cpp
  Engine/gui/animatingguibutton.h
  Engine/main/game_run.cpp
  Engine/main/game_run.h
  Engine/script/script_api.h
Labels: context: script api

#1278 Functional open rooms
  Editor/AGS.CScript.Compiler/Preprocessor.cs
  Editor/AGS.Editor.Tests/ScriptCompiler/PreprocessorTests.cs
  Editor/AGS.Editor.Tests/Types/RoomTests.cs
  Editor/AGS.Editor.Tests/Types/UnloadedRoomTests.cs
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/Components/BaseComponentWithScripts.cs
  Editor/AGS.Editor/Components/RoomsComponent.cs
  Editor/AGS.Editor/EditorEvents.cs
  Editor/AGS.Editor/GUI/Progress.cs
  Editor/AGS.Editor/NativeProxy.cs
  Editor/AGS.Editor/Panes/Room/RoomSettingsEditor.cs
  Editor/AGS.Editor/Panes/ScriptEditor.cs
  Editor/AGS.Editor/Utils/BitmapExtensions.cs
  Editor/AGS.Editor/Utils/DirectoryInfoExtensions.cs
  Editor/AGS.Editor/Utils/FileWatcher.cs
  Editor/AGS.Native/NativeMethods.cpp
  Editor/AGS.Native/NativeMethods.h
  Editor/AGS.Native/agsnative.cpp
  Editor/AGS.Types/AGS.Types.csproj
  Editor/AGS.Types/Interfaces/IRoom.cs
  Editor/AGS.Types/Interfaces/ISaveable.cs
  Editor/AGS.Types/Room.cs
  Editor/AGS.Types/RoomRegion.cs
  Editor/AGS.Types/Script.cs
  Editor/AGS.Types/SerializeUtils.cs
  Editor/AGS.Types/UnloadedRoom.cs
Labels: what: editor, ags 4, context: editor assets

#1435 Editor: Fixes for #1138
  Editor/AGS.Editor/Components/RoomsComponent.cs
  Editor/AGS.Editor/Panes/Room/RoomSettingsEditor.cs
Labels: what: editor, ags 4

#1591 Use more common code for config reading and writing among platforms
  Common/util/ini_util.cpp
  Common/util/ini_util.h
  Common/util/string_utils.cpp
  Common/util/string_utils.h
  Engine/CMakeLists.txt
  Engine/ac/global_game.cpp
  Engine/ac/global_game.h
  Engine/ac/listbox.cpp
  Engine/debug/debug.cpp
  Engine/gui/guidialog.cpp
  Engine/main/config.cpp
  Engine/main/config.h
  Engine/main/engine.cpp
  Engine/main/main.cpp
  Engine/main/main.h
  Engine/platform/android/acpland.cpp
  Engine/platform/base/mobile_base.cpp
  Engine/platform/base/mobile_base.h
  Engine/platform/ios/acplios.cpp
  Engine/platform/windows/setup/winsetup.cpp
Labels: context: code, context: user config
