Repository adventuregamestudio/ags, pull requests merged in 2023-08, with the labels that each got.

#2074 Feature reimport audio clips
  Editor/AGS.Editor/ApplicationController.cs
  Editor/AGS.Editor/Components/AudioComponent.cs
  Editor/AGS.Editor/GUI/GUIController.cs
  Editor/AGS.Editor/GUI/OutputPanel.cs
  Editor/AGS.Editor/Utils/Utilities.cs
  Editor/AGS.Types/AGS.Types.csproj
  Editor/AGS.Types/AudioClip.cs
  Editor/AGS.Types/PropertyGridExtras/AudioClipSourceFileUIEditor.cs
  Editor/AGS.Types/PropertyGridExtras/ReadOnlyConverter .cs
Labels: context: audio, what: editor, context: editor assets

#1743 Editor: share base menu functionality between ScriptEditor and DialogEditor
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/Panes/DialogEditor.cs
  Editor/AGS.Editor/Panes/ScriptEditor.cs
  Editor/AGS.Editor/Panes/ScriptEditorBase.cs
  Editor/AGS.Editor/TextProcessing/FindAllUsages.cs
Labels: what: editor, context: code, context: ui/ux, context: dialogs

#2082 AGS 4: When saving Room only save images that were actually modified
  Editor/AGS.Editor/Components/RoomsComponent.cs
Labels: type: enhancement, what: editor, ags 4, context: editor assets

#2075 Upgrade SDL to 2.28.2
  Android/library/runtime/src/main/java/org/libsdl/app/HIDDeviceBLESteamController.java
  Android/library/runtime/src/main/java/org/libsdl/app/HIDDeviceManager.java
  Android/library/runtime/src/main/java/org/libsdl/app/HIDDeviceUSB.java
  Android/library/runtime/src/main/java/org/libsdl/app/SDL.java
  Android/library/runtime/src/main/java/org/libsdl/app/SDLActivity.java
  Android/library/runtime/src/main/java/org/libsdl/app/SDLAudioManager.java
  Android/library/runtime/src/main/java/org/libsdl/app/SDLControllerManager.java
  Android/library/runtime/src/main/java/org/libsdl/app/SDLSurface.java
  CMake/FetchSDL2.cmake
  Editor/AGS.Editor/BuildTargets/BuildTargetAndroid.cs
  ci/linux/Dockerfile
  ci/windows/Dockerfile
  libsrc/download.sh
  libsrc/sha1sums
Labels: system: android, backend: sdl2

#2084 Support multiple mouse clicks per game frame
  Engine/ac/dialog.cpp
  Engine/ac/display.cpp
  Engine/ac/invwindow.cpp
  Engine/ac/mouse.cpp
  Engine/ac/room.cpp
  Engine/ac/sys_events.cpp
  Engine/ac/sys_events.h
  Engine/gui/cscidialog.cpp
  Engine/main/game_run.cpp
  Engine/main/game_run.h
  Engine/media/video/video.cpp
  Engine/plugin/agsplugin.cpp
Labels: type: enhancement, what: engine, context: input

#2114 Add Deflate algorithm to Sprite Compression using MiniZ
  CMakeLists.txt
  Common/CMakeLists.txt
  Common/ac/spritefile.cpp
  Common/ac/spritefile.h
  Common/util/compress.cpp
  Common/util/compress.h
  Common/util/lzw.cpp
  Common/util/lzw.h
  Editor/AGS.Types/Enums/SpriteCompression.cs
  Engine/Makefile
  Engine/Makefile-defs.linux
  Engine/Makefile-defs.osx
  Engine/Makefile-objs
  Solutions/Common.Lib/Common.Lib.vcxproj
  Solutions/Common.Lib/Common.Lib.vcxproj.filters
  libsrc/miniz/CMakeLists.txt
  libsrc/miniz/miniz.c
  libsrc/miniz/miniz.h
Labels: type: enhancement, context: game files
