Repository adventuregamestudio/ags, pull requests merged in 2023-07, with the labels that each got.

#2046 Implement a Video texture cache
  Common/CMakeLists.txt
  Common/ac/spritecache.cpp
  Common/ac/spritecache.h
  Common/util/resourcecache.h
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Types/RuntimeSetup.cs
  Engine/ac/character.cpp
  Engine/ac/character.h
  Engine/ac/draw.cpp
  Engine/ac/draw.h
  Engine/ac/game.cpp
  Engine/ac/gamesetup.h
  Engine/ac/global_debug.cpp
  Engine/ac/global_object.cpp
  Engine/ac/global_object.h
  Engine/ac/object.cpp
  Engine/ac/object.h
  Engine/ac/walkbehind.cpp
  Engine/ac/walkbehind.h
  Engine/gfx/ali3dogl.cpp
  Engine/gfx/ali3dogl.h
  Engine/gfx/ali3dsw.cpp
  Engine/gfx/ali3dsw.h
  Engine/gfx/ddb.h
  Engine/gfx/gfxdriverbase.cpp
  Engine/gfx/gfxdriverbase.h
  Engine/gfx/graphicsdriver.h
  Engine/main/config.cpp
  Engine/main/engine.cpp
  Engine/main/engine_setup.cpp
  Engine/media/audio/sound.cpp
  Engine/platform/windows/gfx/ali3dd3d.cpp
  Engine/platform/windows/gfx/ali3dd3d.h
  Engine/platform/windows/setup/winsetup.cpp
  Engine/resource/resource.h
  Engine/resource/version.rc
  OPTIONS.md
  Solutions/Common.Lib/Common.Lib.vcxproj
  Solutions/Common.Lib/Common.Lib.vcxproj.filters
Labels: context: graphics, context: performance

#2054 Make all script File commands treat paths as case insensitive
  Common/core/assetmanager.cpp
  Common/gfx/bitmap.cpp
  Common/util/android_file.h
  Common/util/directory.cpp
  Common/util/directory.h
  Common/util/file.cpp
  Common/util/file.h
  Common/util/path.cpp
  Common/util/path.h
  Common/util/path_ex.cpp
  Compiler/CMakeLists.txt
  Compiler/Makefile
  Engine/ac/dynamicsprite.cpp
  Engine/ac/file.cpp
  Engine/ac/game.cpp
  Engine/ac/global_dynamicsprite.cpp
  Engine/ac/global_file.cpp
  Engine/ac/global_game.cpp
  Engine/ac/listbox.cpp
  Engine/ac/path_helper.h
  Engine/platform/windows/setup/winsetup.cpp
  Engine/script/cc_instance.cpp
  Solutions/Compiler.App/Compiler.App.vcxproj
  Solutions/Compiler.App/Compiler.App.vcxproj.filters
  Tools/data/mfl_utils.cpp
Labels: context: script api

#2055 Editor: unescape text properties when writing game data
  Common/util/string_utils.h
  Editor/AGS.Editor/DataFileWriter.cs
  Editor/AGS.Native/NativeMethods.cpp
  Editor/AGS.Native/NativeUtils.h
  Editor/AGS.Native/agsnative.cpp
Labels: what: editor, context: game logic

#2056 Script API: implemented File.ResolvePath()
  Common/util/file.cpp
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/file.cpp
  Engine/ac/file.h
  Engine/ac/path_helper.h
  Engine/plugin/agsplugin.cpp
  Engine/plugin/agsplugin.h
Labels: context: script api

#1772 Editor: allow loading Room Masks with transparent chunks
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/BaseAreasEditorFilter.cs
  Editor/AGS.Editor/Utils/BitmapExtensions.cs
Labels: what: editor, context: editor assets

#2057 Editor: cut out source control integration
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/AGSEditorController.cs
  Editor/AGS.Editor/ApplicationController.cs
  Editor/AGS.Editor/Components/AudioComponent.cs
  Editor/AGS.Editor/Components/ComponentIDs.cs
  Editor/AGS.Editor/Components/FontsComponent.cs
  Editor/AGS.Editor/Components/RoomsComponent.cs
  Editor/AGS.Editor/Components/ScriptsComponent.cs
  Editor/AGS.Editor/Components/SourceControlComponent.cs
  Editor/AGS.Editor/Components/SpeechComponent.cs
  Editor/AGS.Editor/Components/TranslationsComponent.cs
  Editor/AGS.Editor/GUI/CheckinsDialog.Designer.cs
  Editor/AGS.Editor/GUI/CheckinsDialog.cs
  Editor/AGS.Editor/GUI/CheckinsDialog.resx
  Editor/AGS.Editor/GUI/GUIController.cs
  Editor/AGS.Editor/Panes/FontEditor.cs
  Editor/AGS.Editor/Utils/SourceControlProvider.cs
  Editor/AGS.Native/MSSCCI.cpp
  Editor/AGS.Native/NativeDLL.vcxproj
  Editor/AGS.Native/NativeDLL.vcxproj.filters
  Editor/AGS.Native/NativeMethods.h
  Editor/AGS.Types/AGS.Types.csproj
  Editor/AGS.Types/EditorFeatures/SourceControlProject.cs
  Editor/AGS.Types/Enums/SourceControlFileStatus.cs
  Editor/AGS.Types/Exceptions/SourceControlException.cs
  Editor/AGS.Types/Interfaces/ISourceControlIntegration.cs
  Editor/AGS.Types/Interfaces/ISourceControlProvider.cs
  Editor/AGS.Types/Plugins/IAGSEditor.cs
  Editor/AGS.Types/Settings.cs
Labels: what: editor

#2061 Scripting: add object pointer and verb parameters to object interaction functions
  Common/gui/guiobject.h
  Editor/AGS.Types/Character.cs
  Editor/AGS.Types/InteractionSchema.cs
  Editor/AGS.Types/Interactions.cs
  Editor/AGS.Types/InventoryItem.cs
  Editor/AGS.Types/PropertyGridExtras/InteractionPropertyDescriptor.cs
  Editor/AGS.Types/PropertyGridExtras/PropertyTabInteractions.cs
  Editor/AGS.Types/Room.cs
  Editor/AGS.Types/RoomHotspot.cs
  Editor/AGS.Types/RoomObject.cs
  Editor/AGS.Types/RoomRegion.cs
  Engine/ac/event.cpp
  Engine/ac/event.h
  Engine/ac/global_character.cpp
  Engine/ac/global_hotspot.cpp
  Engine/ac/global_inventoryitem.cpp
  Engine/ac/global_object.cpp
  Engine/ac/global_region.cpp
  Engine/ac/gui.cpp
  Engine/ac/invwindow.cpp
  Engine/ac/room.cpp
  Engine/ac/runtime_defines.h
  Engine/script/script.cpp
  Engine/script/script.h
Labels: context: script api
