Repository adventuregamestudio/ags, pull requests merged in 2023-11, with the labels that each got.

#2215 Fix: don't compress `.ags` and `.vox` in android assets
  Android/agsplayer/build.gradle
  Android/library/runtime/build.gradle
  Android/mygame/app/build.gradle
  Android/mygame/build.gradle
  Common/CMakeLists.txt
  Common/util/android_file.cpp
Labels: system: android

#2205 AGS4: Some UX improvements
  Editor/AGS.Editor/ColorThemes/ColorThemeJson.cs
  Editor/AGS.Editor/GUI/LogPanel.Designer.cs
  Editor/AGS.Editor/Panes/WelcomePane.Designer.cs
  Editor/AGS.Editor/Panes/WelcomePane.resx
Labels: what: editor, ags 4, context: ui/ux

#2228 Android in the Editor support plugins
  Android/README.md
  Android/and-build.sh
  Android/library/runtime/libs/libs_go_here.txt
  Android/mygame/README.md
  Android/mygame/app/build.gradle
  Android/plugins/plugins_go_here.txt
  Editor/AGS.Editor/BuildTargets/BuildTargetAndroid.cs
  Editor/AGS.Editor/BuildTargets/BuildTargetLinux.cs
  Windows/Installer/ags.iss
Labels: what: editor, system: android, context: game building

#2229 Editor: enhance coordinates hint when moving Objects and Characters around the room
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/BaseAreasEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/CharactersEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/EdgesEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/EmptyEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/IRoomEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/ObjectsEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomSettingsEditor.cs
Labels: type: enhancement, what: editor, context: ui/ux

#2227 Plugin API: a proper File Stream API
  Common/CMakeLists.txt
  Common/core/types.h
  Common/util/bufferedstream.cpp
  Common/util/file.h
  Common/util/filestream.cpp
  Common/util/iagsstream.h
  Common/util/memorystream.cpp
  Common/util/stream.h
  Common/util/string_compat.c
  Engine/ac/character.cpp
  Engine/ac/dialog.cpp
  Engine/ac/file.cpp
  Engine/ac/file.h
  Engine/ac/global_file.cpp
  Engine/ac/global_game.cpp
  Engine/ac/global_object.cpp
  Engine/ac/object.cpp
  Engine/ac/runtime_defines.h
  Engine/game/savegame.cpp
  Engine/gui/cscidialog.cpp
  Engine/main/game_run.cpp
  Engine/main/game_run.h
  Engine/plugin/agsplugin.cpp
  Engine/plugin/agsplugin.h
  Engine/plugin/plugin_engine.h
  OSX/xcode/AGSKit/AGSKit.xcodeproj/project.pbxproj
  Solutions/Common.Lib/Common.Lib.vcxproj
  Solutions/Common.Lib/Common.Lib.vcxproj.filters
Labels: context: plugin api

#2237 Script API: add Game.PrecacheSprite() and PrecacheView()
  Common/ac/spritecache.cpp
  Common/ac/spritecache.h
  Common/util/resourcecache.h
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/draw.cpp
  Engine/ac/draw.h
  Engine/ac/game.cpp
  Engine/ac/game.h
  Engine/ac/mouse.cpp
  Engine/ac/mouse.h
  Engine/ac/route_finder_impl_legacy.cpp
  Engine/ac/timer.h
  Engine/ac/viewframe.cpp
  Engine/ac/viewframe.h
  Engine/device/mousew32.cpp
  Engine/device/mousew32.h
  Engine/game/savegame.cpp
  Engine/main/engine.cpp
  Engine/media/audio/sound.cpp
  Engine/media/audio/sound.h
Labels: context: script api, context: performance
