Repository adventuregamestudio/ags, pull requests merged in 2023-12, with the labels that each got.

#2106 Dynamic arrays of non-managed struct and classic arrays of managed struct
  Compiler/script2/cc_compiledscript.cpp
  Compiler/script2/cc_compiledscript.h
  Compiler/script2/cc_internallist.cpp
  Compiler/script2/cc_internallist.h
  Compiler/script2/cc_symboltable.cpp
  Compiler/script2/cc_symboltable.h
  Compiler/script2/cs_parser.cpp
  Compiler/script2/cs_parser.h
  Compiler/script2/cs_scanner.cpp
  Compiler/script2/cs_scanner.h
  Compiler/test2/cc_bytecode_test_0.cpp
  Compiler/test2/cc_bytecode_test_1.cpp
  Compiler/test2/cc_parser_test_0.cpp
  Compiler/test2/cc_parser_test_1.cpp
  Compiler/test2/cc_scanner_test.cpp
  Compiler/test2/cc_symboltable_test.cpp
Labels: ags 4, context: script compiler

#2255 Remove length restrictions from remaining ScriptName and Name object properties
  Common/ac/characterinfo.cpp
  Common/ac/characterinfo.h
  Common/ac/common_defines.h
  Common/ac/dynobj/scriptaudioclip.cpp
  Common/ac/dynobj/scriptaudioclip.h
  Common/ac/game_version.h
  Common/ac/gamesetupstruct.cpp
  Common/ac/gamesetupstruct.h
  Common/ac/gamesetupstructbase.cpp
  Common/ac/gamesetupstructbase.h
  Common/ac/gamestructdefines.h
  Common/ac/inventoryiteminfo.cpp
  Common/ac/inventoryiteminfo.h
  Common/ac/mousecursor.cpp
  Common/ac/mousecursor.h
  Common/game/main_game_file.cpp
  Common/game/room_file.cpp
  Common/util/file.cpp
  Common/util/file.h
  Editor/AGS.Editor/Components/AudioComponent.cs
  Editor/AGS.Editor/DataFileWriter.cs
  Editor/AGS.Native/NativeMethods.cpp
  Editor/AGS.Native/agsnative.cpp
  Editor/AGS.Types/AudioClip.cs
  Editor/AGS.Types/Character.cs
  Editor/AGS.Types/Settings.cs
  Engine/ac/character.cpp
  Engine/ac/characterextras.cpp
  Engine/ac/characterextras.h
  Engine/ac/characterinfo_engine.cpp
  Engine/ac/game.cpp
  Engine/ac/gamestate.cpp
  Engine/ac/gamestate.h
  Engine/ac/global_audio.cpp
  Engine/ac/global_character.cpp
  Engine/ac/global_game.cpp
  Engine/ac/global_inventoryitem.cpp
  Engine/ac/gui.cpp
  Engine/ac/inventoryitem.cpp
  Engine/ac/invwindow.cpp
  Engine/game/game_init.cpp
  Engine/game/savegame.cpp
  Engine/game/savegame_components.cpp
  Engine/game/savegame_v321.cpp
  Engine/main/engine.cpp
  Engine/main/game_run.cpp
  Engine/plugin/agsplugin.cpp
Labels: context: script api, context: game files

#2259 iOS port fixes and Xcode project improvements
  Common/core/platform.h
  Engine/gfx/ali3dogl.cpp
  Engine/platform/base/sys_main.cpp
  Engine/platform/ios/acplios.cpp
  Plugins/agstouch/agstouch.cpp
  Plugins/agstouch/agstouch.h
  iOS/README.md
  iOS/xcode/ags/AGS.xcodeproj/project.pbxproj
  iOS/xcode/ags/AGS.xcodeproj/xcshareddata/xcschemes/AGS Game.xcscheme
Labels: system: ios, backend: sdl2

#2261 Small fixes for Android and iOS
  Engine/platform/android/acpland.cpp
  Engine/platform/ios/acplios.cpp
Labels: system: android, context: code, system: ios

#2271 Update IAGSStream api, and use base Stream class as its direct implementation
  Common/core/assetmanager.cpp
  Common/gfx/bitmap.cpp
  Common/test/stream_test.cpp
  Common/util/aasset_stream.cpp
  Common/util/aasset_stream.h
  Common/util/bufferedstream.cpp
  Common/util/bufferedstream.h
  Common/util/file.cpp
  Common/util/file.h
  Common/util/filestream.cpp
  Common/util/filestream.h
  Common/util/memorystream.cpp
  Common/util/memorystream.h
  Common/util/stream.h
  Engine/ac/dynobj/scriptfile.cpp
  Engine/ac/dynobj/scriptfile.h
  Engine/ac/file.cpp
  Engine/ac/file.h
  Engine/ac/global_dynamicsprite.cpp
  Engine/ac/global_file.cpp
  Engine/ac/global_file.h
  Engine/ac/global_game.cpp
  Engine/ac/path_helper.h
  Engine/debug/logfile.cpp
  Engine/platform/emscripten/acpemscripten.cpp
  Engine/plugin/agsplugin.cpp
  Engine/plugin/agsplugin.h
  Engine/script/cc_instance.cpp
Labels: context: code, context: plugin api

#2275 More fixes for AAssetStream
  Common/util/aasset_stream.cpp
  Common/util/aasset_stream.h
Labels: system: android, context: code
