Repository adventuregamestudio/ags, pull requests merged in 2023-09, with the labels that each got.

#2117 Change the rules of how game objects are updated after sprite's update/deletion
  Common/ac/spritecache.cpp
  Common/ac/spritecache.h
  Engine/ac/draw.cpp
  Engine/ac/draw.h
  Engine/ac/dynamicsprite.cpp
  Engine/ac/game.cpp
  Engine/ac/game.h
  Engine/ac/gamestate.h
  Engine/ac/room.cpp
  Engine/gui/gui_engine.cpp
Labels: context: graphics, context: game logic, context: performance

#2130 Editor: allow downscale Character preview & make frame preview in View pane fill whole size
  Editor/AGS.Editor/Panes/CharacterEditor.Designer.cs
  Editor/AGS.Editor/Panes/CursorEditor.Designer.cs
  Editor/AGS.Editor/Panes/InventoryEditor.Designer.cs
  Editor/AGS.Editor/Panes/ViewEditor.Designer.cs
  Editor/AGS.Editor/Panes/ViewEditor.cs
  Editor/AGS.Editor/Panes/ViewPreview.Designer.cs
  Editor/AGS.Editor/Panes/ViewPreview.cs
  Editor/AGS.Editor/Panes/ZoomTrackbar.Designer.cs
Labels: type: enhancement, what: editor, context: ui/ux

#2133 Editor: add open compiled folder in file explorer
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/Components/BuildCommandsComponent.cs
  Editor/AGS.Editor/Components/FileCommandsComponent.cs
  Editor/AGS.Editor/GUI/GUIController.cs
  Editor/AGS.Editor/GUI/TabbedDocumentManager.cs
  Editor/AGS.Editor/Hacks.cs
  Editor/AGS.Editor/Panes/SpriteSelector.cs
  Editor/AGS.Editor/Resources/menu_build_openfolder.ico
  Editor/AGS.Editor/Resources/menu_build_openfolder.over.ico
  Editor/AGS.Editor/Resources/menu_file_openfolder.ico
  Editor/AGS.Editor/Resources/menu_file_openfolder.over.ico
  Editor/AGS.Editor/Utils/Utilities.cs
Labels: type: enhancement, what: editor, context: ui/ux

#2138 Editor: write INI files using IniUtils from AGS.Native
  Common/util/ini_util.h
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/BuildTargets/BuildTargetAndroid.cs
  Editor/AGS.Editor/NativeProxy.cs
  Editor/AGS.Editor/Utils/Utilities.cs
  Editor/AGS.Native/NativeMethods.cpp
  Editor/AGS.Native/NativeMethods.h
Labels: what: editor, context: game files

#2150 Fix "walking on place" bug in 3.6.1
  Common/util/geometry.h
  Engine/ac/character.cpp
  Engine/ac/draw.cpp
  Engine/ac/movelist.cpp
  Engine/ac/movelist.h
  Engine/ac/room.cpp
  Engine/ac/roomobject.cpp
  Engine/ac/route_finder_impl.cpp
  Engine/ac/route_finder_impl_legacy.cpp
  Engine/ac/runtime_defines.h
  Engine/main/update.cpp
  Engine/main/update.h
  Engine/plugin/agsplugin.cpp
Labels: context: game logic, context: pathfinding

#2141 Allow to change walking speed during walking
  Common/ac/characterinfo.h
  Engine/ac/character.cpp
  Engine/ac/movelist.cpp
  Engine/ac/movelist.h
  Engine/ac/roomstatus.h
  Engine/ac/route_finder.cpp
  Engine/ac/route_finder.h
  Engine/ac/route_finder_impl.cpp
  Engine/ac/route_finder_impl.h
  Engine/ac/route_finder_impl_legacy.cpp
  Engine/game/savegame_components.cpp
  Engine/main/update.cpp
Labels: context: script api, context: game logic

#2151 Editor: more fixes for compiled files cleanup
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/BuildTargets/BuildTargetAndroid.cs
  Editor/AGS.Editor/BuildTargets/BuildTargetBase.cs
  Editor/AGS.Editor/BuildTargets/BuildTargetDataFile.cs
  Editor/AGS.Editor/BuildTargets/BuildTargetLinux.cs
  Editor/AGS.Editor/BuildTargets/BuildTargetWeb.cs
  Editor/AGS.Editor/BuildTargets/BuildTargetWindows.cs
  Editor/AGS.Editor/Components/BuildCommandsComponent.cs
  Editor/AGS.Editor/GUI/GUIController.cs
Labels: context: game building
