Repository adventuregamestudio/ags, pull requests merged in 2023-01, with the labels that each got.

#1874 Render GUIs on a texture, then render that texture on screen
  Common/util/matrix.h
  Engine/ac/draw.cpp
  Engine/ac/draw.h
  Engine/gfx/ali3dogl.cpp
  Engine/gfx/ali3dogl.h
  Engine/gfx/ali3dsw.cpp
  Engine/gfx/ali3dsw.h
  Engine/gfx/gfxdriverbase.cpp
  Engine/gfx/gfxdriverbase.h
  Engine/gfx/graphicsdriver.h
  Engine/main/engine.cpp
  Engine/main/engine_setup.cpp
  Engine/main/graphics_mode.cpp
  Engine/platform/windows/gfx/ali3dd3d.cpp
  Engine/platform/windows/gfx/ali3dd3d.h
Labels: context: graphics

#1886 New compiler: Don't omit LINENUM directive with CTC; improved Googletests
  Compiler/script2/cc_compiledscript.cpp
  Compiler/script2/cc_compiledscript.h
  Compiler/script2/cs_parser.cpp
  Compiler/script2/cs_parser.h
  Compiler/test2/cc_bytecode_test_0.cpp
  Compiler/test2/cc_bytecode_test_1.cpp
  Compiler/test2/cc_parser_test_0.cpp
  Compiler/test2/cc_parser_test_1.cpp
  Compiler/test2/cc_parser_test_lib.cpp
  Compiler/test2/cc_scanner_test.cpp
Labels: ags 4, context: script compiler

#1903 4.0: Add description field to the Game Template selection page
  Editor/AGS.Editor/GUI/GUIController.cs
  Editor/AGS.Editor/GUI/StartNewGameWizardPage.Designer.cs
  Editor/AGS.Editor/GUI/StartNewGameWizardPage.cs
  Editor/AGS.Editor/GUI/StartNewGameWizardPage.resx
  Editor/AGS.Editor/GUI/WizardDialog.Designer.cs
  Editor/AGS.Editor/GUI/WizardDialog.cs
  Editor/AGS.Editor/GUI/WizardDialog.resx
  Editor/AGS.Native/NativeMethods.cpp
  Editor/AGS.Native/agsnative.cpp
  Editor/AGS.Types/EditorFeatures/BaseTemplate.cs
  Editor/AGS.Types/EditorFeatures/GameTemplate.cs
  Editor/AGS.Types/EditorFeatures/RoomTemplate.cs
Labels: type: enhancement, what: editor, context: ui/ux
