Repository adventuregamestudio/ags, pull requests merged in 2023-10, with the labels that each got.

#2157 Implemented a different speed normalization technique for diagonals
  Engine/ac/route_finder_impl.cpp
Labels: type: enhancement, ags 4, context: game logic

#2170 Editor: keep ProjectTree's expanded state while doing simple actions
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/Components/AudioComponent.cs
  Editor/AGS.Editor/Components/BaseComponentWithFolders.cs
  Editor/AGS.Editor/Components/CharactersComponent.cs
  Editor/AGS.Editor/Components/DialogsComponent.cs
  Editor/AGS.Editor/Components/GuiComponent.cs
  Editor/AGS.Editor/Components/InventoryComponent.cs
  Editor/AGS.Editor/Components/RoomsComponent.cs
  Editor/AGS.Editor/Components/ScriptsComponent.cs
  Editor/AGS.Editor/Components/ViewsComponent.cs
  Editor/AGS.Editor/GUI/ProjectTree.cs
  Editor/AGS.Editor/GUI/TreeViewExtensions.cs
Labels: type: enhancement, what: editor, context: ui/ux

#2172 3.6.1: disable hardcoded SetRestartPoint
  Common/ac/game_version.h
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/Components/RoomsComponent.cs
  Editor/AGS.Editor/Components/ScriptsComponent.cs
  Editor/AGS.Editor/GUI/GUIController.cs
  Editor/AGS.Editor/Utils/ScriptGeneration.cs
  Editor/AGS.Types/Script.cs
  Engine/main/game_start.cpp
Labels: type: enhancement, context: game logic

#2173 ScriptAPI: added formatting support to a few text displaying functions
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/character.cpp
  Engine/ac/drawingsurface.cpp
  Engine/ac/global_api.cpp
Labels: type: enhancement, context: script api

#2178 Basic support for "#else" preprocessor in AGS script
  Compiler/preproc/preprocessor.cpp
  Compiler/preproc/preprocessor.h
  Compiler/test/preprocessor_test.cpp
  Editor/AGS.CScript.Compiler/Entities/ErrorCode.cs
  Editor/AGS.CScript.Compiler/Preprocessor.cs
  Editor/AGS.Editor/AutoComplete.cs
Labels: type: enhancement, what: editor

#2183 Editor: added "Export Global Messages to script" menu command
  Editor/AGS.Editor/Components/FileCommandsComponent.cs
  Editor/AGS.Editor/Components/ScriptsComponent.cs
  Editor/AGS.Editor/Tasks.cs
  Editor/AGS.Types/Scripts.cs
Labels: type: enhancement, context: bw-compat, context: editor assets

#2193 AGS 4: Remove AlignedStream
  Common/CMakeLists.txt
  Common/ac/characterinfo.cpp
  Common/ac/characterinfo.h
  Common/ac/dynobj/scriptaudioclip.cpp
  Common/ac/gamesetupstruct.cpp
  Common/ac/gamesetupstruct.h
  Common/ac/gamesetupstructbase.cpp
  Common/ac/inventoryiteminfo.cpp
  Common/ac/mousecursor.cpp
  Common/ac/view.cpp
  Common/ac/view.h
  Common/game/main_game_file.cpp
  Common/test/stream_test.cpp
  Common/util/alignedstream.cpp
  Common/util/alignedstream.h
  Common/util/proxystream.cpp
  Common/util/proxystream.h
  Common/util/stream.h
  Editor/AGS.Editor/DataFileWriter.cs
  Editor/AGS.Native/agsnative.cpp
  Engine/ac/gamestate.cpp
  Engine/ac/gamestate.h
  Engine/ac/roomstatus.cpp
  Engine/game/savegame.cpp
  Engine/game/savegame_components.cpp
  Engine/main/game_file.cpp
  Engine/media/audio/queuedaudioitem.cpp
  Solutions/Common.Lib/Common.Lib.vcxproj
  Solutions/Common.Lib/Common.Lib.vcxproj.filters
  Solutions/Tests.App/Common.Lib.Test.vcxproj
  Solutions/Tests.App/Common.Lib.Test.vcxproj.filters
Labels: ags 4, context: code, context: game files

#2201 AGS 4: Remove built-in Score functionality
  Common/ac/gamesetupstruct.cpp
  Common/ac/gamesetupstruct.h
  Common/ac/gamesetupstructbase.cpp
  Common/ac/gamesetupstructbase.h
  Common/ac/gamestructdefines.h
  Common/game/main_game_file.cpp
  Common/game/main_game_file.h
  Common/gui/guidefines.h
  Common/gui/guilabel.cpp
  Common/gui/guilistbox.cpp
  Common/gui/guimain.cpp
  Editor/AGS.Editor/DataFileWriter.cs
  Editor/AGS.Editor/Resources/agsdefns.sh
  Editor/AGS.Editor/Tasks.cs
  Editor/AGS.Editor/Utils/DialogScriptConverter.cs
  Editor/AGS.Native/agsnative.cpp
  Editor/AGS.Types/Settings.cs
  Engine/ac/dynobj/scriptgame.cpp
  Engine/ac/event.h
  Engine/ac/gamestate.cpp
  Engine/ac/gamestate.h
  Engine/ac/global_api.cpp
  Engine/ac/global_game.cpp
  Engine/ac/global_game.h
  Engine/ac/gui.cpp
  Engine/ac/runtime_defines.h
  Engine/game/game_init.cpp
  Engine/game/savegame.cpp
  Engine/main/engine.cpp
Labels: ags 4, context: script api

#2195 3.6.1: Remove AlignedStream
  Common/CMakeLists.txt
  Common/ac/characterinfo.cpp
  Common/ac/characterinfo.h
  Common/ac/dynobj/scriptaudioclip.cpp
  Common/ac/gamesetupstruct.cpp
  Common/ac/gamesetupstruct.h
  Common/ac/gamesetupstructbase.cpp
  Common/ac/inventoryiteminfo.cpp
  Common/ac/mousecursor.cpp
  Common/ac/view.cpp
  Common/ac/view.h
  Common/game/interactions.cpp
  Common/game/interactions.h
  Common/game/main_game_file.cpp
  Common/test/stream_test.cpp
  Common/util/alignedstream.cpp
  Common/util/alignedstream.h
  Common/util/proxystream.cpp
  Common/util/proxystream.h
  Common/util/stream.h
  Editor/AGS.Editor/DataFileWriter.cs
  Editor/AGS.Native/agsnative.cpp
  Engine/ac/characterextras.h
  Engine/ac/gamestate.cpp
  Engine/ac/gamestate.h
  Engine/ac/movelist.cpp
  Engine/ac/movelist.h
  Engine/ac/roomobject.cpp
  Engine/ac/roomstatus.cpp
  Engine/ac/roomstatus.h
  Engine/ac/screenoverlay.cpp
  Engine/ac/screenoverlay.h
  Engine/game/savegame.cpp
  Engine/game/savegame_components.cpp
  Engine/game/savegame_v321.cpp
  Engine/main/game_file.cpp
  Engine/media/audio/queuedaudioitem.cpp
  Engine/media/audio/queuedaudioitem.h
  OSX/xcode/AGSKit/AGSKit.xcodeproj/project.pbxproj
  Solutions/Common.Lib/Common.Lib.vcxproj
  Solutions/Common.Lib/Common.Lib.vcxproj.filters
  Solutions/Tests.App/Common.Lib.Test.vcxproj
  Solutions/Tests.App/Common.Lib.Test.vcxproj.filters
  iOS/xcode/ags/ags.xcodeproj/project.pbxproj
Labels: ags3, context: code, context: game files

#2187 Made ScriptString store length in data header, use to speed up API functions somewhat
  Engine/ac/audioclip.cpp
  Engine/ac/button.cpp
  Engine/ac/character.cpp
  Engine/ac/dialog.cpp
  Engine/ac/dynobj/cc_dynamicarray.cpp
  Engine/ac/dynobj/cc_scriptobject.h
  Engine/ac/dynobj/cc_serializer.cpp
  Engine/ac/dynobj/dynobj_manager.cpp
  Engine/ac/dynobj/dynobj_manager.h
  Engine/ac/dynobj/scriptstring.cpp
  Engine/ac/dynobj/scriptstring.h
  Engine/ac/file.cpp
  Engine/ac/game.cpp
  Engine/ac/global_api.cpp
  Engine/ac/gui.cpp
  Engine/ac/guicontrol.cpp
  Engine/ac/hotspot.cpp
  Engine/ac/inventoryitem.cpp
  Engine/ac/label.cpp
  Engine/ac/listbox.cpp
  Engine/ac/object.cpp
  Engine/ac/parser.cpp
  Engine/ac/properties.cpp
  Engine/ac/room.cpp
  Engine/ac/scriptcontainers.cpp
  Engine/ac/string.cpp
  Engine/ac/string.h
  Engine/ac/system.cpp
  Engine/ac/textbox.cpp
  Engine/game/game_init.cpp
  Engine/plugin/agsplugin.cpp
  Engine/script/cc_instance.cpp
  libsrc/allegro/include/allegro/unicode.h
  libsrc/allegro/src/unicode.c
Labels: context: script api, context: performance

#2203 Theme support for Log Panel
  Editor/AGS.Editor/GUI/LogPanel.Designer.cs
  Editor/AGS.Editor/GUI/LogPanel.cs
  Editor/AGS.Editor/Hacks.cs
Labels: what: editor, context: ui/ux
