Repository adventuregamestudio/ags, pull requests merged in 2023-05, with the labels that each got.

#1990 Performance fixes for script interpreter
  Common/script/cc_internal.h
  Engine/script/cc_instance.cpp
  Engine/script/cc_instance.h
  Engine/script/runtimescriptvalue.cpp
  Engine/script/runtimescriptvalue.h
Labels: type: enhancement, context: script vm, context: performance

#1995 Editor: turn dpi aware on
  Editor/AGS.Editor/app.config
  Editor/AGS.Editor/app.manifest
Labels: what: editor, context: ui/ux

#1991 Added FLAC audio support
  Changes.txt
  Common/ac/dynobj/scriptaudioclip.h
  Common/game/main_game_file.cpp
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/Components/AudioComponent.cs
  Editor/AGS.Editor/Components/SpeechComponent.cs
  Editor/AGS.Editor/Resources/agsdefns.sh
  Editor/AGS.Editor/Resources/audio-flac.ico
  Editor/AGS.Types/Enums/AudioClipFileType.cs
  Editor/References/references.txt
  Engine/ac/global_audio.cpp
  Engine/media/audio/audio.cpp
  Engine/media/audio/audiodefines.h
  Engine/media/audio/sound.cpp
  Engine/media/audio/sound.h
  Engine/media/audio/soundclip.h
  Engine/plugin/agsplugin.cpp
  Engine/plugin/agsplugin.h
  Windows/Installer/ags.iss
Labels: context: audio, ags 4

#1992 Script: Readable UseRegionTint property for Character/Object
  Common/ac/characterinfo.h
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/character.cpp
  Engine/ac/object.cpp
Labels: ags 4, context: script api

#1923 AGS 4: properly support managed pointers in managed structs
  Common/script/cc_common.h
  Common/script/cc_internal.h
  Common/script/cc_reflect.cpp
  Common/script/cc_reflect.h
  Compiler/script/cs_compiler.cpp
  Compiler/script/cs_parser.cpp
  Compiler/script2/cs_compiler.cpp
  Compiler/script2/cs_parser.cpp
  Compiler/test2/cc_parser_test_0.cpp
  Editor/AGS.Native/ScriptCompiler.cpp
  Engine/CMakeLists.txt
  Engine/ac/dynobj/cc_agsdynamicobject.cpp
  Engine/ac/dynobj/cc_agsdynamicobject.h
  Engine/ac/dynobj/cc_audiochannel.cpp
  Engine/ac/dynobj/cc_audioclip.cpp
  Engine/ac/dynobj/cc_basicobject.h
  Engine/ac/dynobj/cc_character.cpp
  Engine/ac/dynobj/cc_dialog.cpp
  Engine/ac/dynobj/cc_dynamicarray.cpp
  Engine/ac/dynobj/cc_dynamicarray.h
  Engine/ac/dynobj/cc_dynamicobject.cpp
  Engine/ac/dynobj/cc_dynamicobject.h
  Engine/ac/dynobj/cc_gui.cpp
  Engine/ac/dynobj/cc_guiobject.cpp
  Engine/ac/dynobj/cc_hotspot.cpp
  Engine/ac/dynobj/cc_inventory.cpp
  Engine/ac/dynobj/cc_object.cpp
  Engine/ac/dynobj/cc_pluginobject.h
  Engine/ac/dynobj/cc_region.cpp
  Engine/ac/dynobj/cc_serializer.cpp
  Engine/ac/dynobj/cc_serializer.h
  Engine/ac/dynobj/managedobjectpool.cpp
  Engine/ac/dynobj/managedobjectpool.h
  Engine/ac/dynobj/scriptdialogoptionsrendering.cpp
  Engine/ac/dynobj/scriptfile.h
  Engine/ac/dynobj/scriptuserobject.cpp
  Engine/ac/dynobj/scriptuserobject.h
  Engine/ac/gamestate.cpp
  Engine/ac/gui.cpp
  Engine/ac/room.cpp
  Engine/game/game_init.cpp
  Engine/game/savegame.cpp
  Engine/game/savegame_components.cpp
  Engine/game/savegame_internal.h
  Engine/media/audio/audio.cpp
  Engine/plugin/agsplugin.cpp
  Engine/script/cc_instance.cpp
  Engine/script/cc_instance.h
  Engine/script/cc_reflecthelper.cpp
  Engine/script/cc_reflecthelper.h
  Solutions/Engine.App/Engine.App.vcxproj
  Solutions/Engine.App/Engine.App.vcxproj.filters
Labels: ags 4, context: script api, context: script vm

#2000 A cleaner method of script API registration
  Common/util/memory_compat.h
  Engine/ac/audiochannel.cpp
  Engine/ac/audioclip.cpp
  Engine/ac/button.cpp
  Engine/ac/button.h
  Engine/ac/character.cpp
  Engine/ac/character.h
  Engine/ac/datetime.cpp
  Engine/ac/dialog.cpp
  Engine/ac/dialogoptionsrendering.cpp
  Engine/ac/drawingsurface.cpp
  Engine/ac/drawingsurface.h
  Engine/ac/dynamicsprite.cpp
  Engine/ac/file.cpp
  Engine/ac/game.cpp
  Engine/ac/global_api.cpp
  Engine/ac/gui.cpp
  Engine/ac/guicontrol.cpp
  Engine/ac/hotspot.cpp
  Engine/ac/inventoryitem.cpp
  Engine/ac/invwindow.cpp
  Engine/ac/label.cpp
  Engine/ac/listbox.cpp
  Engine/ac/math.cpp
  Engine/ac/mouse.cpp
  Engine/ac/mouse.h
  Engine/ac/object.cpp
  Engine/ac/object.h
  Engine/ac/overlay.cpp
  Engine/ac/overlay.h
  Engine/ac/parser.cpp
  Engine/ac/region.cpp
  Engine/ac/room.cpp
  Engine/ac/room.h
  Engine/ac/screen.cpp
  Engine/ac/scriptcontainers.cpp
  Engine/ac/slider.cpp
  Engine/ac/speech.cpp
  Engine/ac/string.cpp
  Engine/ac/system.cpp
  Engine/ac/textbox.cpp
  Engine/ac/viewframe.cpp
  Engine/script/cc_instance.cpp
  Engine/script/script_api.h
  Engine/script/script_runtime.cpp
  Engine/script/script_runtime.h
Labels: type: enhancement, what: engine, context: code

#1999 Editor: feature log panel
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/ApplicationController.cs
  Editor/AGS.Editor/Components/BuildCommandsComponent.cs
  Editor/AGS.Editor/Components/ComponentIDs.cs
  Editor/AGS.Editor/Components/DebugLogComponent.cs
  Editor/AGS.Editor/Debugger/DebugController.cs
  Editor/AGS.Editor/Debugger/NamedPipesEngineCommunication.cs
  Editor/AGS.Editor/Entities/EditorPreferences.cs
  Editor/AGS.Editor/Entities/LogBuffer.cs
  Editor/AGS.Editor/Entities/LogBufferEventArgs.cs
  Editor/AGS.Editor/GUI/GUIController.cs
  Editor/AGS.Editor/GUI/LogPanel.Designer.cs
  Editor/AGS.Editor/GUI/LogPanel.cs
  Editor/AGS.Editor/GUI/LogPanel.resx
  Editor/AGS.Editor/GUI/PreferencesEditor.cs
  Editor/AGS.Editor/GUI/WindowsLayoutManager.cs
  Editor/AGS.Editor/GUI/WindowsMenuManager.cs
  Editor/AGS.Editor/GUI/frmMain.Designer.cs
  Editor/AGS.Editor/GUI/frmMain.cs
  Editor/AGS.Editor/Hacks.cs
  Editor/AGS.Editor/Resources/debug_log.ico
  Editor/AGS.Editor/Resources/log_autoscroll.ico
  Editor/AGS.Editor/Resources/log_clear.ico
  Editor/AGS.Editor/Resources/log_copyall.ico
  Editor/AGS.Editor/Resources/log_copysel.ico
  Editor/AGS.Editor/Resources/log_quiet.ico
  Editor/AGS.Editor/Resources/log_run.ico
  Editor/AGS.Editor/Resources/log_settings.ico
  Editor/AGS.Editor/Tasks.cs
  Editor/AGS.Editor/Utils/ConcurrentCircularBuffer.cs
  Editor/AGS.Types/AGS.Types.csproj
  Editor/AGS.Types/DebugLog.cs
  Editor/AGS.Types/Enums/LogGroup.cs
  Editor/AGS.Types/Enums/LogLevel.cs
  Editor/AGS.Types/LogGroups.cs
  Editor/AGS.Types/PropertyGridExtras/EnumTypeConverter.cs
  Editor/AGS.Types/packages.config
  Engine/debug/debug.cpp
Labels: type: enhancement, what: editor, what: engine, context: ui/ux

#2005 WFN Renderer supports utf-8 texts
  Common/font/wfnfont.cpp
  Common/font/wfnfont.h
  Common/font/wfnfontrenderer.cpp
Labels: context: unicode, context: fonts

#2013 AlFont: fix accessing cached glyphs beyond the array range
  Common/libsrc/alfont-2.0.9/alfont.c
Labels: context: fonts
