Repository adventuregamestudio/ags, pull requests merged in 2023-03, with the labels that each got.

#1937 3.6.0: separate absolute/relative switch for Touch-to-mouse emulation
  Common/util/geometry.h
  Editor/AGS.Editor/AGSEditor.cs
  Engine/ac/gamesetup.cpp
  Engine/ac/gamesetup.h
  Engine/ac/sys_events.cpp
  Engine/ac/sys_events.h
  Engine/device/mousew32.cpp
  Engine/device/mousew32.h
  Engine/main/config.cpp
  Engine/main/engine_setup.cpp
  Engine/platform/base/mobile_base.cpp
  OPTIONS.md
Labels: type: enhancement, context: input

#1922 AGS 4: Implement script RTTI
  Common/CMakeLists.txt
  Common/script/cc_common.h
  Common/script/cc_internal.h
  Common/script/cc_reflect.cpp
  Common/script/cc_reflect.h
  Common/script/cc_script.cpp
  Common/script/cc_script.h
  Compiler/CMakeLists.txt
  Compiler/Makefile
  Compiler/script/cc_symboltable.cpp
  Compiler/script/cc_symboltable.h
  Compiler/script/cs_compiler.cpp
  Compiler/script/cs_parser.cpp
  Compiler/script2/cc_internallist.cpp
  Compiler/script2/cc_internallist.h
  Compiler/script2/cc_symboltable.cpp
  Compiler/script2/cc_symboltable.h
  Compiler/script2/cs_compiler.cpp
  Compiler/script2/cs_parser.cpp
  Compiler/script2/cs_parser.h
  Editor/AGS.Native/ScriptCompiler.cpp
  Editor/AGS.Native/Scripting.h
  Editor/AGS.Types/Utilities.cs
  Engine/ac/room.cpp
  Engine/main/main.cpp
  Engine/script/cc_instance.cpp
  Engine/script/cc_instance.h
  Solutions/Common.Lib/Common.Lib.vcxproj
  Solutions/Common.Lib/Common.Lib.vcxproj.filters
  Solutions/Compiler.App/Compiler.App.vcxproj
  Solutions/Compiler.App/Compiler.App.vcxproj.filters
  Solutions/Compiler.Lib/Compiler.Lib.Test.vcxproj
  Solutions/Compiler.Lib/Compiler.Lib.Test.vcxproj.filters
  Solutions/Compiler.Lib/Compiler.Lib.vcxproj
  Solutions/Compiler.Lib/Compiler.Lib.vcxproj.filters
  Solutions/Compiler2.Lib/Compiler2.Lib.Test.vcxproj
  Solutions/Compiler2.Lib/Compiler2.Lib.Test.vcxproj.filters
  Solutions/Compiler2.Lib/Compiler2.Lib.vcxproj
  Solutions/Compiler2.Lib/Compiler2.Lib.vcxproj.filters
Labels: ags 4, context: script compiler, context: script vm

#1944 AGS4 Flipped frames animation for gui buttons
  Common/gui/guibutton.cpp
  Common/gui/guibutton.h
  Common/gui/guidefines.h
  Common/gui/guimain.h
  Editor/AGS.Native/agsnative.cpp
  Engine/ac/button.cpp
  Engine/ac/draw.cpp
  Engine/ac/draw.h
  Engine/ac/game.cpp
  Engine/ac/global_button.cpp
  Engine/ac/viewframe.cpp
  Engine/game/savegame_components.cpp
Labels: ags 4

#1948 3.6.0: an attempt to fix a window centering
  Common/core/platform.h
  Common/util/geometry.h
  Engine/main/graphics_mode.cpp
  Engine/platform/base/agsplatformdriver.cpp
  Engine/platform/base/agsplatformdriver.h
  Engine/platform/base/sys_main.cpp
  Engine/platform/base/sys_main.h
  Engine/platform/windows/acplwin.cpp
  Engine/platform/windows/setup/winsetup.cpp
Labels: context: graphics mode, backend: sdl2

#1950 3.6.0: improve how vsync is changed at runtime
  Engine/ac/draw.cpp
  Engine/ac/system.cpp
  Engine/ac/system.h
  Engine/gfx/ali3dogl.cpp
  Engine/gfx/ali3dogl.h
  Engine/gfx/ali3dsw.cpp
  Engine/gfx/ali3dsw.h
  Engine/gfx/gfxdriverbase.cpp
  Engine/gfx/gfxdriverbase.h
  Engine/gfx/graphicsdriver.h
  Engine/main/graphics_mode.cpp
  Engine/platform/windows/gfx/ali3dd3d.cpp
  Engine/platform/windows/gfx/ali3dd3d.h
Labels: context: graphics mode

#1955 Engine: fix touch events not working in iOS Safari
  Engine/ac/sys_events.cpp
Labels: context: input

#1957 Fix touch controls requiring two touches to activate a gui control
  Engine/ac/dialog.cpp
  Engine/ac/display.cpp
  Engine/ac/draw.cpp
  Engine/ac/invwindow.cpp
  Engine/gui/guidialog.cpp
  Engine/gui/mylistbox.cpp
  Engine/gui/mypushbutton.cpp
  Engine/gui/newcontrol.cpp
  Engine/main/game_run.cpp
  Engine/main/game_run.h
  Engine/plugin/agsplugin.cpp
Labels: context: input

#1870 Allow Windows 64-bit Engine Builds using Visual Studio Solutions
  .cirrus.yml
  Editor/AGS.Native/NativeDLL.vcxproj
  Solutions/Common.Lib/Common.Lib.vcxproj
  Solutions/Compiler.Lib/Compiler.Lib.Test.vcxproj
  Solutions/Compiler.Lib/Compiler.Lib.vcxproj
  Solutions/Engine.App/Engine.App.vcxproj
  Solutions/Engine.sln
  Solutions/Tests.App/Common.Lib.Test.vcxproj
  Solutions/Tests.App/Engine.App.Test.vcxproj
  Solutions/Tools.App/afg2dlgasc.vcxproj
  Solutions/Tools.App/agf2autoash.vcxproj
  Solutions/Tools.App/agf2glvar.vcxproj
  Solutions/Tools.App/agspak.vcxproj
  Solutions/Tools.App/agsunpak.vcxproj
  Solutions/Tools.App/crm2ash.vcxproj
  Solutions/Tools.App/crmpak.vcxproj
  Solutions/Tools.App/trac.vcxproj
  Solutions/libogg.props
  Solutions/libtheora.props
  Solutions/libvorbis.props
  Solutions/sdl2.props
  ci/windows/Dockerfile
Labels: context: deployment

#1959 Fix uses of `long` type in the code (for compatibility with MSVS)
  Common/libsrc/aastr-0.1.1/aarot.c
  Common/libsrc/aastr-0.1.1/aastr.c
  Common/libsrc/aastr-0.1.1/aautil.c
  Common/libsrc/aastr-0.1.1/aautil.h
  Common/libsrc/alfont-2.0.9/alfont.c
  Common/libsrc/freetype-2.1.3/include/freetype/config/ftstdlib.h
  Common/libsrc/freetype-2.1.3/include/freetype/ftcache.h
  Common/libsrc/freetype-2.1.3/src/bdf/bdflib.c
  Common/libsrc/freetype-2.1.3/src/cff/cffgload.c
  Engine/ac/string.cpp
  Engine/ac/string.h
  Engine/debug/debug.cpp
  Engine/gfx/ali3dsw.cpp
  Engine/gfx/blender.cpp
  Engine/gfx/blender.h
  Engine/platform/windows/acplwin.cpp
  Engine/platform/windows/gfx/ali3dd3d.cpp
  Solutions/Common.Lib/Common.Lib.vcxproj
  Solutions/Engine.App/Engine.App.vcxproj
  libsrc/allegro/include/allegro/color.h
  libsrc/allegro/include/allegro/file.h
  libsrc/allegro/include/allegro/internal/aintern.h
  libsrc/allegro/src/blit.c
  libsrc/allegro/src/c/cblit.h
  libsrc/allegro/src/c/cdefs15.h
  libsrc/allegro/src/c/cdefs16.h
  libsrc/allegro/src/c/cdefs24.h
  libsrc/allegro/src/c/cdefs32.h
  libsrc/allegro/src/c/cgfx.h
  libsrc/allegro/src/c/cspr.h
  libsrc/allegro/src/c/cstretch.c
  libsrc/allegro/src/colblend.c
  libsrc/allegro/src/file.c
  libsrc/allegro/src/fli.c
  libsrc/allegro/src/flood.c
  libsrc/allegro/src/unicode.c
Labels: system: windows, context: code

#1960 Fix a crash in unavowed when trying to use crossfade channel
  Engine/ac/system.cpp
  Engine/media/audio/audio.cpp
Labels: context: bw-compat, context: script api
