Repository adventuregamestudio/ags, pull requests merged in 2024-09, with the labels that each got.

#2501 AGS 4: Support proper 32-bit color values
  Common/ac/characterinfo.h
  Common/ac/game_version.h
  Common/ac/gamesetupstruct.cpp
  Common/ac/gamesetupstruct.h
  Common/ac/gamesetupstructbase.cpp
  Common/ac/gamesetupstructbase.h
  Common/game/main_game_file.cpp
  Common/gfx/allegrobitmap.cpp
  Common/gfx/allegrobitmap.h
  Common/gui/guibutton.cpp
  Common/gui/guidefines.h
  Common/gui/guimain.cpp
  Common/gui/guimain.h
  Common/gui/guislider.cpp
  Common/util/wgt2allg.cpp
  Common/util/wgt2allg.h
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/Components/CharactersComponent.cs
  Editor/AGS.Editor/Components/GuiComponent.cs
  Editor/AGS.Editor/Components/SettingsComponent.cs
  Editor/AGS.Editor/DataFileWriter.cs
  Editor/AGS.Editor/NativeProxy.cs
  Editor/AGS.Editor/Panes/GeneralSettingsPane.cs
  Editor/AGS.Editor/Panes/PaletteEditor.Designer.cs
  Editor/AGS.Editor/Panes/PaletteEditor.cs
  Editor/AGS.Editor/Tasks.cs
  Editor/AGS.Editor/Utils/ColorMapper.cs
  Editor/AGS.Native/NativeMethods.cpp
  Editor/AGS.Native/NativeMethods.h
  Editor/AGS.Native/agsnative.cpp
  Editor/AGS.Types/AGS.Types.csproj
  Editor/AGS.Types/Character.cs
  Editor/AGS.Types/GUI.cs
  Editor/AGS.Types/GUIButton.cs
  Editor/AGS.Types/GUILabel.cs
  Editor/AGS.Types/GUIListBox.cs
  Editor/AGS.Types/GUITextBox.cs
  Editor/AGS.Types/NormalGUI.cs
  Editor/AGS.Types/PropertyGridExtras/ColorUIEditor.cs
  Editor/AGS.Types/PropertyGridExtras/CustomColorConverter.cs
  Editor/AGS.Types/Settings.cs
  Engine/ac/dialog.cpp
  Engine/ac/display.cpp
  Engine/ac/draw.cpp
  Engine/ac/drawingsurface.cpp
  Engine/ac/game.cpp
  Engine/game/game_init.cpp
  Engine/game/savegame_components.cpp
  Engine/gui/cscidialog.cpp
  Engine/gui/mylabel.cpp
  Engine/gui/mylistbox.cpp
  Engine/gui/mypushbutton.cpp
  Engine/gui/mytextbox.cpp
  Engine/plugin/agsplugin.cpp
Labels: context: graphics, ags 4, context: script api, context: game logic

#2526 Script API: SaveGameSlot with arbitrary sprite + make screenshots of specific render layers
  Common/ac/gamestructdefines.h
  Common/game/main_game_file.cpp
  Editor/AGS.Editor/DataFileWriter.cs
  Editor/AGS.Editor/Resources/agsdefns.sh
  Editor/AGS.Editor/Utils/NativeConstants.cs
  Editor/AGS.Native/NativeMethods.cpp
  Engine/ac/draw.cpp
  Engine/ac/draw.h
  Engine/ac/dynamicsprite.cpp
  Engine/ac/dynamicsprite.h
  Engine/ac/game.cpp
  Engine/ac/game.h
  Engine/ac/global_api.cpp
  Engine/ac/global_dialog.cpp
  Engine/ac/global_game.cpp
  Engine/ac/global_game.h
  Engine/ac/global_room.cpp
  Engine/gfx/gfxdriverbase.cpp
  Engine/gfx/gfxdriverbase.h
  Engine/gfx/graphicsdriver.h
  Engine/main/engine.cpp
  Engine/plugin/agsplugin.cpp
  Engine/script/cc_instance.cpp
  Engine/script/executingscript.cpp
  Engine/script/executingscript.h
  Engine/script/exports.cpp
  Engine/script/script.cpp
  Engine/script/script.h
  Engine/script/script_api.h
Labels: context: script api

#2521 Script API: support eNullFont, a pseudo font ID which draws nothing
  Common/ac/common_defines.h
  Editor/AGS.Editor/Tasks.cs
  Editor/AGS.Types/PropertyGridExtras/FontTypeConverter.cs
  Engine/ac/button.cpp
  Engine/ac/global_game.cpp
  Engine/ac/global_gui.cpp
  Engine/ac/label.cpp
  Engine/ac/listbox.cpp
  Engine/ac/string.cpp
  Engine/ac/string.h
  Engine/ac/textbox.cpp
Labels: context: script api, context: fonts

#2514 Engine: implement "accessibility" config for speech and text skip
  Common/util/string_utils.h
  Engine/ac/dynobj/scriptgame.cpp
  Engine/ac/gamesetup.h
  Engine/ac/gamestate.cpp
  Engine/ac/gamestate.h
  Engine/ac/global_display.cpp
  Engine/ac/speech.h
  Engine/game/game_init.cpp
  Engine/game/game_init.h
  Engine/game/savegame.cpp
  Engine/main/config.cpp
  Engine/main/engine.cpp
Labels: context: user config, context: game logic

#2527 Winsetup: rearrange into a multi-paged dialog
  Engine/CMakeLists.txt
  Engine/platform/windows/setup/advancedpagedialog.cpp
  Engine/platform/windows/setup/advancedpagedialog.h
  Engine/platform/windows/setup/basicpagedialog.cpp
  Engine/platform/windows/setup/basicpagedialog.h
  Engine/platform/windows/setup/winapihelpers.cpp
  Engine/platform/windows/setup/winapihelpers.h
  Engine/platform/windows/setup/windialog.cpp
  Engine/platform/windows/setup/windialog.h
  Engine/platform/windows/setup/winpagedialog.cpp
  Engine/platform/windows/setup/winpagedialog.h
  Engine/platform/windows/setup/winsetup.cpp
  Engine/resource/resource.h
  Engine/resource/version.rc
  Solutions/Engine.App/Engine.App.vcxproj
  Solutions/Engine.App/Engine.App.vcxproj.filters
Labels: what: winsetup

#2528 New compiler: Revamp google tests
  Compiler/CMakeLists.txt
  Compiler/script2/cs_message_handler.cpp
  Compiler/script2/cs_message_handler.h
  Compiler/script2/cs_parser.h
  Compiler/test2/cc_bytecode_test_0.cpp
  Compiler/test2/cc_bytecode_test_1.cpp
  Compiler/test2/cc_parser_test_0.cpp
  Compiler/test2/cc_parser_test_1.cpp
  Compiler/test2/cc_parser_test_2.cpp
  Compiler/test2/cc_parser_test_lib.cpp
  Compiler/test2/cc_parser_test_lib.h
  Solutions/Compiler2.Lib/Compiler2.Lib.Test.vcxproj
  Solutions/Compiler2.Lib/Compiler2.Lib.Test.vcxproj.filters
Labels: ags 4, context: script compiler
