Repository adventuregamestudio/ags, pull requests merged in 2024-08, with the labels that each got.

#2482 Editor: error preprocessor in invalid script characters
  Editor/AGS.CScript.Compiler/Entities/ErrorCode.cs
  Editor/AGS.CScript.Compiler/Preprocessor.cs
  Editor/AGS.Editor.Tests/ScriptCompiler/PreprocessorTests.cs
Labels: context: script compiler

#2478 AGS 4: Script API: add Overlay.Tint and SetLevel, complying to character and object settings
  Common/game/roomstruct.cpp
  Common/gfx/gfx_def.h
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/character.cpp
  Engine/ac/draw.cpp
  Engine/ac/dynamicsprite.cpp
  Engine/ac/global_object.cpp
  Engine/ac/global_region.cpp
  Engine/ac/global_room.cpp
  Engine/ac/global_screen.cpp
  Engine/ac/object.cpp
  Engine/ac/overlay.cpp
  Engine/ac/screenoverlay.cpp
  Engine/ac/screenoverlay.h
Labels: context: graphics, ags 4, context: script api

#2483 Script API: added helper functions Overlay.SetPosition and SetSize
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/overlay.cpp
Labels: ags 4, context: script api

#2484 AGS 4: Script API: add global events for Dialogs, and properties to read current dialog state
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/dialog.cpp
  Engine/ac/event.cpp
  Engine/ac/event.h
  Engine/script/script.cpp
Labels: ags 4, context: script api

#2479 AGS 4: add custom properties to AudioClips, Dialogs, GUI, Regions and Walkable Areas
  Common/ac/dialogtopic.cpp
  Common/ac/dialogtopic.h
  Common/ac/gamesetupstruct.cpp
  Common/ac/gamesetupstruct.h
  Common/game/main_game_file.cpp
  Common/game/room_file.cpp
  Common/game/roomstruct.h
  Common/gui/guidefines.h
  Common/util/string.cpp
  Common/util/string.h
  Editor/AGS.Editor.Tests/Types/RoomRegionTests.cs
  Editor/AGS.Editor.Tests/Types/RoomWalkableAreaTests.cs
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/DataFileWriter.cs
  Editor/AGS.Editor/GUI/CustomPropertyBag.cs
  Editor/AGS.Editor/GUI/CustomPropertySchemaItemEditor.Designer.cs
  Editor/AGS.Editor/GUI/CustomPropertySchemaItemEditor.cs
  Editor/AGS.Editor/GUI/CustomPropertySchemaItemEditor.resx
  Editor/AGS.Editor/GUI/GUIController.cs
  Editor/AGS.Editor/Resources/agsdefns.sh
  Editor/AGS.Native/agsnative.cpp
  Editor/AGS.Types/AudioClip.cs
  Editor/AGS.Types/Character.cs
  Editor/AGS.Types/CustomPropertySchemaItem.cs
  Editor/AGS.Types/Dialog.cs
  Editor/AGS.Types/Enums/CustomPropertyAppliesTo.cs
  Editor/AGS.Types/GUI.cs
  Editor/AGS.Types/InventoryItem.cs
  Editor/AGS.Types/Room.cs
  Editor/AGS.Types/RoomRegion.cs
  Editor/AGS.Types/RoomWalkableArea.cs
  Engine/ac/audioclip.cpp
  Engine/ac/dialog.cpp
  Engine/ac/gamestate.cpp
  Engine/ac/gamestate.h
  Engine/ac/gui.cpp
  Engine/ac/hotspot.cpp
  Engine/ac/region.cpp
  Engine/ac/room.cpp
  Engine/ac/roomstatus.cpp
  Engine/ac/roomstatus.h
  Engine/ac/walkablearea.cpp
  Engine/game/game_init.cpp
  Engine/game/savegame_components.cpp
Labels: ags 4, context: script api

#2498 Engine: IndexOf add string index, count and case sensitivity params
  Common/util/string_utils.cpp
  Common/util/string_utils.h
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/string.cpp
  Engine/script/script_api.h
Labels: ags 4, context: script api

#2494 AGS 4: add custom properties to GUI Controls
  Common/ac/gamesetupstruct.h
  Common/game/main_game_file.cpp
  Common/gui/guidefines.h
  Editor/AGS.Editor/DataFileWriter.cs
  Editor/AGS.Editor/GUI/CustomPropertySchemaEditor.Designer.cs
  Editor/AGS.Editor/GUI/CustomPropertySchemaEditor.resx
  Editor/AGS.Editor/GUI/CustomPropertySchemaItemEditor.Designer.cs
  Editor/AGS.Editor/GUI/CustomPropertySchemaItemEditor.cs
  Editor/AGS.Editor/GUI/GUIController.cs
  Editor/AGS.Editor/Resources/agsdefns.sh
  Editor/AGS.Types/CustomPropertySchemaItem.cs
  Editor/AGS.Types/Enums/CustomPropertyAppliesTo.cs
  Editor/AGS.Types/GUIControl.cs
  Engine/ac/gamestate.h
  Engine/ac/guicontrol.cpp
  Engine/game/game_init.cpp
  Engine/game/savegame_components.cpp
Labels: ags 4, context: script api

#2496 AGS 4: disable 16-bit games, and convert them to 32-bit on import
  Common/ac/gamestructdefines.h
  Common/gfx/bitmap.cpp
  Common/gfx/bitmap.h
  Editor/AGS.Editor/DataFileWriter.cs
  Editor/AGS.Editor/Tasks.cs
  Editor/AGS.Editor/Utils/NativeConstants.cs
  Editor/AGS.Editor/Utils/SpriteTools.cs
  Editor/AGS.Native/NativeMethods.cpp
  Editor/AGS.Native/SpriteFileReader_NET.h
  Editor/AGS.Native/agsnative.cpp
  Editor/AGS.Types/Enums/GameColorDepth.cs
  Engine/CMakeLists.txt
  Engine/ac/display.cpp
  Engine/ac/draw.cpp
  Engine/ac/draw.h
  Engine/ac/drawingsurface.cpp
  Engine/ac/dynamicsprite.cpp
  Engine/ac/game.cpp
  Engine/ac/global_palette.cpp
  Engine/ac/room.cpp
  Engine/ac/sprite.cpp
  Engine/ac/sprite.h
  Engine/gfx/ali3dogl.cpp
  Engine/gfx/blender.cpp
  Engine/gfx/blender.h
  Engine/gfx/gfx_util.cpp
  Engine/media/video/videoplayer.cpp
  Engine/platform/windows/gfx/ali3dd3d.cpp
  Solutions/Engine.App/Engine.App.vcxproj
  Solutions/Engine.App/Engine.App.vcxproj.filters
Labels: ags 4, context: editor assets

#2499 Minor refactor and fixes related to the sprites color depth
  Common/gfx/bitmap.cpp
  Common/gfx/bitmap.h
  Editor/AGS.Editor/Tasks.cs
  Editor/AGS.Native/agsnative.cpp
  Engine/ac/draw.cpp
  Engine/ac/draw.h
  Engine/ac/drawingsurface.cpp
  Engine/ac/game.cpp
  Engine/ac/global_dynamicsprite.cpp
  Engine/ac/global_palette.cpp
  Engine/ac/room.cpp
  Engine/ac/sprite.cpp
  Engine/ac/sprite.h
  Engine/gfx/ali3dogl.cpp
  Engine/gfx/gfx_util.cpp
  Engine/gfx/gfx_util.h
  libsrc/allegro/include/allegro/gfx.h
  libsrc/allegro/src/graphics.c
Labels: context: graphics, context: code

#2504 Editor: update ConstructBasicFileListForTemplate() for AGS 4
  Editor/AGS.Editor/Tasks.cs
  Editor/AGS.Editor/Utils/Utilities.cs
Labels: what: editor, ags 4, context: editor assets

#2500 Editor: fix Colors pane and ColorMapper to display RGB values matching the engine
  Common/util/wgt2allg.h
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/ApplicationController.cs
  Editor/AGS.Editor/Panes/PaletteEditor.Designer.cs
  Editor/AGS.Editor/Panes/PaletteEditor.cs
  Editor/AGS.Editor/Panes/PaletteEditor.resx
  Editor/AGS.Editor/Utils/ColorMapper.cs
Labels: what: editor, context: ui/ux

#2510 New compiler: Fix bugs uncovered by stricter 'compiledscript' code
  Compiler/script2/cc_compiledscript.cpp
  Compiler/script2/cs_parser.cpp
  Compiler/test2/cc_parser_test_0.cpp
Labels: ags 4, context: script compiler

#2505 Tools: agspak with ignore file support
  Common/util/string.cpp
  Common/util/string.h
  Common/util/utf8.h
  Solutions/Tools.App/agspak.vcxproj
  Solutions/Tools.App/agspak.vcxproj.filters
  Tools/CMakeLists.txt
  Tools/agspak/Makefile
  Tools/agspak/main.cpp
  Tools/data/include_utils.cpp
  Tools/data/include_utils.h
  Tools/data/mfl_utils.cpp
  Tools/data/mfl_utils.h
Labels: what: tools

#2511 Compiler: port preprocessor updates from C# to Cpp
  Compiler/preproc/preprocessor.cpp
  Compiler/preproc/preprocessor.h
  Compiler/script/cs_parser_common.h
  Compiler/test/preprocessor_test.cpp
Labels: context: script compiler

#2508 building ags4 compiler in gcc
  CMakeLists.txt
  Common/util/string_compat.c
  Common/util/string_compat.h
  Compiler/CMakeLists.txt
  Compiler/Makefile
  Compiler/compiler.cpp
  Compiler/compiler.h
  Compiler/script2/cc_compiledscript.cpp
  Compiler/script2/cc_internallist.cpp
  Compiler/script2/cc_internallist.h
  Compiler/script2/cc_symboltable.cpp
  Compiler/script2/cc_symboltable.h
  Compiler/script2/cs_compile_time.cpp
  Compiler/script2/cs_compiler.cpp
  Compiler/script2/cs_message_handler.h
  Compiler/script2/cs_parser.cpp
  Compiler/script2/cs_parser.h
  Compiler/script2/cs_scanner.cpp
  Compiler/script2/cs_scanner.h
  Compiler/test2/cc_bytecode_test_0.cpp
  Compiler/test2/cc_bytecode_test_1.cpp
  Compiler/test2/cc_bytecode_test_lib.h
  Compiler/test2/cc_parser_test_0.cpp
  Compiler/test2/cc_parser_test_1.cpp
  Compiler/test2/cc_scanner_test.cpp
  Solutions/Compiler2.Lib/Compiler2.Lib.vcxproj
  Solutions/Compiler2.Lib/Compiler2.Lib.vcxproj.filters
Labels: compiler: gcc, ags 4, context: script compiler

#2519 Compiler.Tests: make sure that specific flags are reset to default
  Common/script/cc_common.cpp
  Common/script/cc_common.h
  Compiler/test2/cc_bytecode_test_0.cpp
  Compiler/test2/cc_bytecode_test_1.cpp
  Compiler/test2/cc_parser_test_0.cpp
  Compiler/test2/cc_parser_test_1.cpp
Labels: ags 4, context: script compiler

#2512 Editor: implement Window Config, save SpriteChooser window state between sessions
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/Config/ConfigUtils.cs
  Editor/AGS.Editor/Config/IObjectConfig.cs
  Editor/AGS.Editor/Config/IObjectConfigurable.cs
  Editor/AGS.Editor/Config/ObjectConfigJson.cs
  Editor/AGS.Editor/GUI/GUIController.cs
  Editor/AGS.Editor/GUI/SpriteChooser.cs
  Editor/AGS.Editor/GUI/TabbedDocumentManager.cs
  Editor/AGS.Editor/GUI/frmMain.cs
  Editor/AGS.Editor/Panes/SpriteManager.cs
  Editor/AGS.Editor/Panes/SpriteSelector.cs
  Editor/AGS.Types/EditorFeatures/EditorContentPanel.cs
Labels: what: editor, context: ui/ux

#2523 New compiler: Fix bug in ternaries; revamp checks for spurious symbols after expressions
  Compiler/script2/cs_parser.cpp
  Compiler/script2/cs_parser.h
  Compiler/test2/cc_parser_test_0.cpp
Labels: ags 4, context: script compiler

#2515 Tool: agfexport - export miscellaneous data from the game source
  Solutions/Tools.App/agfexport.vcxproj
  Solutions/Tools.App/agfexport.vcxproj.filters
  Solutions/Tools.sln
  Tools/CMakeLists.txt
  Tools/agfexport/Makefile
  Tools/agfexport/main.cpp
  Tools/data/agfreader.cpp
  Tools/data/agfreader.h
Labels: what: tools
