Repository adventuregamestudio/ags, pull requests merged in 2024-03, with the labels that each got.

#2332 Implement "Game State" interface and several implementations
  Common/ac/gamestructdefines.h
  Engine/CMakeLists.txt
  Engine/ac/audiochannel.cpp
  Engine/ac/character.cpp
  Engine/ac/characterinfo_engine.cpp
  Engine/ac/dialog.cpp
  Engine/ac/display.cpp
  Engine/ac/display.h
  Engine/ac/draw.cpp
  Engine/ac/draw.h
  Engine/ac/drawingsurface.cpp
  Engine/ac/dynobj/scriptdrawingsurface.cpp
  Engine/ac/event.cpp
  Engine/ac/game.cpp
  Engine/ac/gamestate.cpp
  Engine/ac/gamestate.h
  Engine/ac/global_audio.cpp
  Engine/ac/global_character.cpp
  Engine/ac/global_debug.cpp
  Engine/ac/global_dialog.cpp
  Engine/ac/global_display.cpp
  Engine/ac/global_drawingsurface.cpp
  Engine/ac/global_game.cpp
  Engine/ac/global_inventoryitem.cpp
  Engine/ac/global_invwindow.cpp
  Engine/ac/global_mouse.cpp
  Engine/ac/global_palette.cpp
  Engine/ac/global_parser.cpp
  Engine/ac/global_room.cpp
  Engine/ac/global_screen.cpp
  Engine/ac/global_timer.cpp
  Engine/ac/global_translation.cpp
  Engine/ac/guiinv.cpp
  Engine/ac/invwindow.cpp
  Engine/ac/listbox.cpp
  Engine/ac/mouse.cpp
  Engine/ac/overlay.cpp
  Engine/ac/parser.cpp
  Engine/ac/room.cpp
  Engine/ac/roomobject.cpp
  Engine/ac/runtime_defines.h
  Engine/ac/screen.cpp
  Engine/ac/screen.h
  Engine/ac/speech.cpp
  Engine/ac/string.cpp
  Engine/ac/system.cpp
  Engine/ac/topbarsettings.h
  Engine/ac/translation.cpp
  Engine/ac/walkablearea.cpp
  Engine/ac/walkbehind.cpp
  Engine/main/game_run.cpp
  Engine/main/game_start.cpp
  Engine/main/main.cpp
  Engine/main/update.cpp
  Engine/media/audio/audio.cpp
  Engine/script/script.cpp
Labels: context: code, context: game logic

#2344 Redesign audio core to return a locked AudioPlayer object instead of having a multitude of helper functions
  Engine/CMakeLists.txt
  Engine/media/audio/audio_core.cpp
  Engine/media/audio/audio_core.h
  Engine/media/audio/audioplayer.cpp
  Engine/media/audio/audioplayer.h
  Engine/media/audio/sound.cpp
  Engine/media/audio/soundclip.cpp
  Engine/media/audio/soundclip.h
  Solutions/Engine.App/Engine.App.vcxproj
  Solutions/Engine.App/Engine.App.vcxproj.filters
Labels: context: audio, context: code

#2348 Separate VideoPlayer and BlockingVideoPlayer game state classes
  Engine/CMakeLists.txt
  Engine/ac/asset_helper.h
  Engine/ac/file.cpp
  Engine/ac/game.cpp
  Engine/ac/game.h
  Engine/ac/gamestate.h
  Engine/ac/global_game.cpp
  Engine/ac/global_video.cpp
  Engine/main/engine_setup.cpp
  Engine/main/game_run.cpp
  Engine/media/video/flic_player.cpp
  Engine/media/video/flic_player.h
  Engine/media/video/theora_player.cpp
  Engine/media/video/theora_player.h
  Engine/media/video/video.cpp
  Engine/media/video/video.h
  Engine/media/video/videoplayer.cpp
  Engine/media/video/videoplayer.h
  Solutions/Engine.App/Engine.App.vcxproj
  Solutions/Engine.App/Engine.App.vcxproj.filters
  libsrc/allegro/include/allegro/fli.h
  libsrc/allegro/src/fli.c
Labels: context: code, context: video (playback)

#2162 fix palettes being altered for 8bit sprites
  Editor/AGS.Native/agsnative.cpp
Labels: type: bug, what: editor, ags 4

#2353 Implemented a RAII wrapper over IUnknown, for Direct3D
  Common/CMakeLists.txt
  Common/util/smart_ptr.h
  Engine/platform/windows/gfx/ali3dd3d.cpp
  Engine/platform/windows/gfx/ali3dd3d.h
  Solutions/Common.Lib/Common.Lib.vcxproj
  Solutions/Common.Lib/Common.Lib.vcxproj.filters
Labels: context: code

#2338 AGS 4: non-blocking video playback
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/CMakeLists.txt
  Engine/ac/dynobj/scriptvideoplayer.cpp
  Engine/ac/dynobj/scriptvideoplayer.h
  Engine/ac/global_video.cpp
  Engine/ac/timer.cpp
  Engine/ac/video_script.cpp
  Engine/main/engine_setup.cpp
  Engine/main/game_run.cpp
  Engine/media/audio/audio.cpp
  Engine/media/audio/audio_core.cpp
  Engine/media/audio/audio_core.h
  Engine/media/audio/soundclip.cpp
  Engine/media/audio/soundclip.h
  Engine/media/video/theora_player.h
  Engine/media/video/video.cpp
  Engine/media/video/video.h
  Engine/media/video/video_core.cpp
  Engine/media/video/video_core.h
  Engine/media/video/videoplayer.cpp
  Engine/media/video/videoplayer.h
  Engine/script/exports.cpp
  Engine/script/script_api.h
  Engine/util/threading.h
  Solutions/Engine.App/Engine.App.vcxproj
  Solutions/Engine.App/Engine.App.vcxproj.filters
Labels: context: script api, context: video (playback)

#2354 AGS4: 8bit fixes
  Editor/AGS.Editor/Components/RoomsComponent.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/CharactersEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/ObjectsEditorFilter.cs
  Editor/AGS.Editor/Utils/Utilities.cs
  Editor/AGS.Native/NativeRoom.cpp
Labels: what: editor, ags 4

#2358 Script API: implement System.GetEngineInteger() and GetEngineString()
  Common/ac/gamesetupstructbase.cpp
  Common/ac/gamestructdefines.h
  Editor/AGS.Editor/Resources/agsdefns.sh
  Editor/AGS.Types/Enums/ScriptAPIVersion.cs
  Engine/ac/system.cpp
  Engine/ac/system.h
Labels: context: script api

#2361 Reorganize DebugManager and make it thread-safe
  .gitignore
  Common/CMakeLists.txt
  Common/debug/debugmanager.cpp
  Common/debug/debugmanager.h
  Common/debug/messagebuffer.h
  Common/debug/out.h
  Common/debug/outputhandler.h
  Engine/CMakeLists.txt
  Engine/debug/debug.cpp
  Engine/debug/logfile.cpp
  Engine/debug/logfile.h
  Engine/debug/messagebuffer.cpp
  Engine/main/main.cpp
  Engine/platform/base/agsplatformdriver.cpp
  Engine/platform/base/agsplatformdriver.h
  Solutions/Common.Lib/Common.Lib.vcxproj
  Solutions/Common.Lib/Common.Lib.vcxproj.filters
  Solutions/Engine.App/Engine.App.vcxproj
  Solutions/Engine.App/Engine.App.vcxproj.filters
Labels: context: code
