Repository adventuregamestudio/ags, pull requests merged in 2024-04, with the labels that each got.

#2370 Editor: create a parent class for Object and Character room filters
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/BaseThingEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/CharactersEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/HotspotsEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/IRoomEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/ObjectsEditorFilter.cs
Labels: type: enhancement, what: editor, context: code

#2371 Editor: Change room icon for state saving rooms
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/Components/RoomsComponent.cs
  Editor/AGS.Editor/Resources/room-item-save.ico
Labels: what: editor, ags 4, context: ui/ux

#2369 Editor: fix welcome pane scaling under dpiaware
  Editor/AGS.Editor/Panes/WelcomePane.Designer.cs
  Editor/AGS.Editor/Panes/WelcomePane.cs
Labels: what: editor, context: ui/ux

#2378 3.6.1: rewrote dynamic sprite to texture notification mechanism
  Common/ac/gamestructdefines.h
  Engine/ac/draw.cpp
  Engine/ac/dynamicsprite.cpp
  Engine/ac/gamestate.h
Labels: context: graphics

#2367 Refactor: store Streams in smart pointers
  Common/ac/spritefile.cpp
  Common/core/assetmanager.cpp
  Common/core/assetmanager.h
  Common/font/ttffontrenderer.cpp
  Common/font/wfnfontrenderer.cpp
  Common/game/main_game_file.cpp
  Common/game/main_game_file.h
  Common/game/room_file.cpp
  Common/game/room_file.h
  Common/game/room_file_base.cpp
  Common/game/tra_file.cpp
  Common/game/tra_file.h
  Common/test/inifile_test.cpp
  Common/util/data_ext.cpp
  Common/util/data_ext.h
  Common/util/file.cpp
  Common/util/file.h
  Common/util/ini_util.cpp
  Common/util/ini_util.h
  Common/util/inifile.cpp
  Common/util/inifile.h
  Common/util/string.cpp
  Common/util/string.h
  Common/util/textstreamreader.cpp
  Common/util/textstreamreader.h
  Common/util/textstreamwriter.cpp
  Common/util/textstreamwriter.h
  Compiler/compiler.cpp
  Editor/AGS.Native/agsnative.cpp
  Engine/ac/file.cpp
  Engine/ac/game.cpp
  Engine/ac/path_helper.h
  Engine/ac/room.cpp
  Engine/ac/speech.cpp
  Engine/ac/translation.cpp
  Engine/debug/filebasedagsdebugger.cpp
  Engine/debug/logfile.cpp
  Engine/game/game_init.cpp
  Engine/game/savegame.cpp
  Engine/game/savegame.h
  Engine/main/engine.cpp
  Engine/main/game_file.cpp
  Engine/media/audio/sound.cpp
  Engine/media/video/video.cpp
  Engine/script/cc_instance.cpp
  Tools/agf2autoash/main.cpp
  Tools/agf2dlgasc/main.cpp
  Tools/agf2glvar/main.cpp
  Tools/agsunpak/main.cpp
  Tools/crm2ash/main.cpp
  Tools/crmpak/main.cpp
  Tools/data/dialogscriptconv.cpp
  Tools/data/tra_utils.cpp
  Tools/data/tra_utils.h
  Tools/trac/main.cpp
Labels: context: code

#2380 Editor: implement "Controls transparency" slider in GUI Editor
  Common/gui/guimain.cpp
  Common/gui/guimain.h
  Editor/AGS.Editor/NativeProxy.cs
  Editor/AGS.Editor/Panes/GUIEditor.Designer.cs
  Editor/AGS.Editor/Panes/GUIEditor.cs
  Editor/AGS.Native/NativeMethods.cpp
  Editor/AGS.Native/NativeMethods.h
  Editor/AGS.Native/agsnative.cpp
Labels: type: enhancement, what: editor, context: ui/ux

#2388 Calculate real TTF glyphs extent, fix fonts cut from the top
  Common/font/agsfontrenderer.h
  Common/font/fonts.cpp
  Common/font/fonts.h
  Common/font/ttffontrenderer.cpp
  Common/font/ttffontrenderer.h
  Common/font/wfnfontrenderer.cpp
  Common/font/wfnfontrenderer.h
  Common/gui/guimain.cpp
  Common/libsrc/alfont-2.0.9/alfont.c
  Common/libsrc/alfont-2.0.9/alfont.h
  Editor/AGS.Native/NativeMethods.cpp
  Engine/ac/display.cpp
  Engine/ac/draw.cpp
Labels: context: fonts

#2393 AGS 4.0: Fix room background import in 8-bit games
  Common/util/wgt2allg.cpp
  Common/util/wgt2allg.h
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/Components/RoomsComponent.cs
  Editor/AGS.Editor/NativeProxy.cs
  Editor/AGS.Editor/Panes/PaletteEditor.cs
  Editor/AGS.Editor/Panes/Room/RoomSettingsEditor.cs
  Editor/AGS.Editor/Utils/BitmapExtensions.cs
  Editor/AGS.Editor/Utils/PaletteUtilities.cs
  Editor/AGS.Native/NativeMethods.cpp
  Editor/AGS.Native/NativeMethods.h
  Editor/AGS.Native/NativeRoom.cpp
  Editor/AGS.Native/NativeRoom.h
  Editor/AGS.Native/agsnative.cpp
  Editor/AGS.Types/Enums/PaletteColourType.cs
Labels: what: editor, ags 4, context: 8-bit gfx

#2397 ags4: add string trim (remove trailing and leading whitespace in string)
  Common/util/utf8.h
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/string.cpp
Labels: ags 4, context: script api
