Repository adventuregamestudio/ags, pull requests merged in 2024-12, with the labels that each got.

#2596 Editor: can drag and drop folders in the Sprite Manager
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/Entities/TreeItemDragEventArgs.cs
  Editor/AGS.Editor/Entities/TreeItemTryDragEventArgs.cs
  Editor/AGS.Editor/Enums/TargetDropZone.cs
  Editor/AGS.Editor/GUI/ProjectPanel.Designer.cs
  Editor/AGS.Editor/GUI/ProjectTree.cs
  Editor/AGS.Editor/GUI/TreeViewExtensions.cs
  Editor/AGS.Editor/GUI/TreeViewWithDragDrop.cs
  Editor/AGS.Editor/Panes/SpriteSelector.Designer.cs
  Editor/AGS.Editor/Panes/SpriteSelector.cs
  Editor/AGS.Types/AGS.Types.csproj
Labels: type: enhancement, context: ui/ux

#2583 New compiler: Named function arguments, classic char array arguments
  Compiler/script2/cc_internallist.cpp
  Compiler/script2/cc_internallist.h
  Compiler/script2/cc_symboltable.cpp
  Compiler/script2/cc_symboltable.h
  Compiler/script2/cs_parser.cpp
  Compiler/script2/cs_parser.h
  Compiler/test2/cc_bytecode_test_0.cpp
  Compiler/test2/cc_bytecode_test_1.cpp
  Compiler/test2/cc_internallist_test.cpp
  Compiler/test2/cc_parser_test_1.cpp
Labels: ags 4, context: script compiler

#2602 Editor: fix ProjectTree's unreliable search for nodes
  Editor/AGS.Editor/GUI/ProjectTree.cs
  Editor/AGS.Editor/GUI/TreeViewExtensions.cs
Labels: what: editor, context: ui/ux

#2608 Engine: Add System.DisplayFPS
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/system.cpp
Labels: context: script api

#2607 Editor: add Length to Dynamic Array autocomplete
  Editor/AGS.Editor.Tests/Editor/AutoComplete/AutoCompleteTests.cs
  Editor/AGS.Editor/AutoComplete.cs
  Editor/AGS.Editor/Panes/ScintillaWrapper.cs
  Editor/AGS.Types/EditorFeatures/AutoComplete/ScriptVariable.cs
Labels: what: editor, context: ui/ux

#2603 Editor: report warnings about possibly unlinked event handlers
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/Components/AudioComponent.cs
  Editor/AGS.Editor/Components/BaseComponent.cs
  Editor/AGS.Editor/Components/CharactersComponent.cs
  Editor/AGS.Editor/Components/CursorsComponent.cs
  Editor/AGS.Editor/Components/DialogsComponent.cs
  Editor/AGS.Editor/Components/FontsComponent.cs
  Editor/AGS.Editor/Components/GuiComponent.cs
  Editor/AGS.Editor/Components/InventoryComponent.cs
  Editor/AGS.Editor/Components/RoomsComponent.cs
  Editor/AGS.Editor/Entities/CompileWarningEx.cs
  Editor/AGS.Editor/GUI/GUIController.cs
  Editor/AGS.Editor/GUI/OutputPanel.cs
  Editor/AGS.Editor/GUI/OutputPanelItem.cs
  Editor/AGS.Editor/Panes/ScriptEditorBase.cs
  Editor/AGS.Editor/Tasks.cs
  Editor/AGS.Types/Exceptions/CompileMessage.cs
Labels: context: ui/ux, context: game building

#2618 Fix bug: 'import' functions cannot get a body at the same time
  Compiler/script2/cs_parser.cpp
  Compiler/test2/cc_parser_test_1.cpp
Labels: context: script compiler

#2620 AGS 4.0: Support all 3 flip styles in ViewFrame
  Common/ac/view.cpp
  Common/ac/view.h
  Common/gfx/gfx_def.h
  Common/gui/guibutton.cpp
  Common/gui/guibutton.h
  Common/gui/guimain.h
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/DataFileWriter.cs
  Editor/AGS.Editor/GUI/AssignToView.cs
  Editor/AGS.Editor/ImportExport.cs
  Editor/AGS.Editor/Panes/SpriteSelector.cs
  Editor/AGS.Editor/Panes/ViewLoopEditor.cs
  Editor/AGS.Editor/Panes/ViewPreview.cs
  Editor/AGS.Editor/Resources/agsdefns.sh
  Editor/AGS.Editor/Tasks.cs
  Editor/AGS.Editor/Utils/NativeConstants.cs
  Editor/AGS.Editor/Utils/ViewUtils.cs
  Editor/AGS.Native/NativeMethods.cpp
  Editor/AGS.Native/agsnative.cpp
  Editor/AGS.Types/AGS.Types.csproj
  Editor/AGS.Types/Enums/SpriteFlipStyle.cs
  Editor/AGS.Types/ViewFrame.cs
  Editor/AGS.Types/ViewLoop.cs
  Engine/ac/button.cpp
  Engine/ac/character.cpp
  Engine/ac/draw.cpp
  Engine/ac/draw.h
  Engine/ac/global_object.cpp
  Engine/ac/object.cpp
  Engine/ac/object.h
  Engine/ac/viewframe.cpp
  Engine/gfx/ali3dogl.cpp
  Engine/gfx/ali3dogl.h
  Engine/gfx/ali3dsw.h
  Engine/gfx/ddb.h
  Engine/gfx/gfxdriverbase.h
  Engine/platform/windows/gfx/ali3dd3d.cpp
  Engine/platform/windows/gfx/ali3dd3d.h
Labels: ags 4, context: game logic

#2619 AGS 4.0: implement Overlay.Flip
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/draw.cpp
  Engine/ac/dynamicsprite.cpp
  Engine/ac/game.cpp
  Engine/ac/game.h
  Engine/ac/global_screen.cpp
  Engine/ac/global_screen.h
  Engine/ac/overlay.cpp
  Engine/ac/screenoverlay.cpp
  Engine/ac/screenoverlay.h
Labels: context: graphics, ags 4, context: script api

#2624 Engine Plugin API: add CreateDynamicArray()
  Engine/ac/dynobj/cc_dynamicarray.cpp
  Engine/ac/dynobj/cc_dynamicarray.h
  Engine/plugin/agsplugin.cpp
  Engine/plugin/agsplugin.h
  Engine/script/cc_instance.cpp
Labels: what: engine plugin

#2627 Make object sorting position on screen deterministic in case of equal z-order
  Engine/ac/draw.cpp
  Engine/ac/draw.h
  Engine/ac/gamestate.h
  Engine/ac/overlay.cpp
  Engine/ac/screenoverlay.h
Labels: context: graphics

#2630 SystemImports tests
  Engine/CMakeLists.txt
  Engine/script/script_runtime.cpp
  Engine/script/script_runtime.h
  Engine/script/systemimports.cpp
  Engine/script/systemimports.h
  Engine/test/systemimports_test.cpp
  Solutions/Tests.App/Engine.App.Test.vcxproj
  Solutions/Tests.App/Engine.App.Test.vcxproj.filters
Labels: context: code

#2631 Script API: fix recently added File API for consistency
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/file.cpp
Labels: context: script api

#2633 Script API: remake RestoredSaveInfo.Result into multiple bool properties
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/game/savegame.cpp
Labels: context: script api

#2626 Script API: add Room.Name and Room.Number
  Common/ac/game_version.h
  Common/ac/gamesetupstruct.cpp
  Common/ac/gamesetupstruct.h
  Common/game/room_file.cpp
  Common/game/roomstruct.h
  Editor/AGS.Editor/DataFileWriter.cs
  Editor/AGS.Editor/Resources/agsdefns.sh
  Editor/AGS.Native/agsnative.cpp
  Engine/ac/game.cpp
  Engine/ac/global_debug.cpp
  Engine/ac/room.cpp
  Engine/gui/guidialog.cpp
  Engine/gui/guidialog.h
Labels: ags 4, context: script api

#2629 New compiler: When in the body of a static struct function and finding an otherwise unknown symbol, imply static access
  Compiler/script2/cs_parser.cpp
  Compiler/script2/cs_parser.h
  Compiler/test2/cc_bytecode_test_1.cpp
  Compiler/test2/cc_parser_test_1.cpp
Labels: ags 4, context: script compiler

#2636 Separate enum for plugin events to use inside engine
  Engine/CMakeLists.txt
  Engine/ac/draw.cpp
  Engine/ac/event.cpp
  Engine/ac/global_translation.cpp
  Engine/ac/room.cpp
  Engine/ac/runtime_defines.h
  Engine/ac/screen.cpp
  Engine/ac/sprite.cpp
  Engine/game/savegame.cpp
  Engine/main/game_run.cpp
  Engine/plugin/agsplugin.h
  Engine/plugin/agsplugin_evts.h
  Solutions/Engine.App/Engine.App.vcxproj
  Solutions/Engine.App/Engine.App.vcxproj.filters
Labels: context: code
