Repository adventuregamestudio/ags, pull requests merged in 2024-07, with the labels that each got.

#2455 AGS 4: support creating and loading sprites in a non-default color depth
  Common/ac/gamestructdefines.h
  Common/ac/spritecache.cpp
  Common/ac/spritefile.h
  Common/gfx/bitmap.cpp
  Common/gfx/bitmap.h
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/CMakeLists.txt
  Engine/ac/drawingsurface.cpp
  Engine/ac/dynamicsprite.cpp
  Engine/ac/dynamicsprite.h
  Engine/ac/game.cpp
  Engine/ac/global_api.cpp
  Engine/ac/global_dynamicsprite.cpp
  Engine/ac/global_dynamicsprite.h
  Engine/ac/global_game.cpp
  Engine/ac/global_game.h
  Engine/main/engine.cpp
  Engine/script/script_api.h
  Solutions/Engine.App/Engine.App.vcxproj
  Solutions/Engine.App/Engine.App.vcxproj.filters
Labels: ags 4, context: script api

#2453 Editor,Engine: declare game object imports as pointers
  Editor/AGS.Editor/Tasks.cs
  Engine/ac/dynobj/cc_character.cpp
  Engine/ac/dynobj/cc_dialog.cpp
  Engine/ac/dynobj/cc_gui.cpp
  Engine/ac/dynobj/cc_guiobject.cpp
  Engine/ac/dynobj/cc_hotspot.cpp
  Engine/ac/dynobj/cc_inventory.cpp
  Engine/ac/dynobj/cc_object.cpp
  Engine/ac/gui.cpp
  Engine/ac/gui.h
  Engine/ac/room.cpp
  Engine/game/game_init.cpp
  Engine/game/savegame.cpp
Labels: ags 4

#2461 [ags4] add to String Split the trim and empty removal options
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/string.cpp
  Engine/script/script_api.h
Labels: ags 4, context: script api

#2462 [ags4] Adjust Audio Clips imports to use handles
  Editor/AGS.Editor/Tasks.cs
  Engine/game/game_init.cpp
Labels: ags 4, context: script api

#2459 Add TurnWhenFacing character property (design-time and in script)
  Common/ac/characterinfo.h
  Common/ac/game_version.h
  Common/ac/gamestructdefines.h
  Common/game/main_game_file.cpp
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/DataFileWriter.cs
  Editor/AGS.Editor/Resources/agsdefns.sh
  Editor/AGS.Editor/Utils/NativeConstants.cs
  Editor/AGS.Native/NativeMethods.cpp
  Editor/AGS.Native/agsnative.cpp
  Editor/AGS.Types/Character.cs
  Engine/ac/character.cpp
Labels: context: script api, context: game logic

#2460 AGS 4: allow to import sprites as 8-bit image regardless of game color depth
  Common/ac/spritecache.cpp
  Common/ac/spritefile.cpp
  Common/ac/spritefile.h
  Common/gfx/gfx_def.h
  Editor/AGS.Editor.Tests/Types/SpriteTests.cs
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/AGSEditorController.cs
  Editor/AGS.Editor/NativeProxy.cs
  Editor/AGS.Editor/Panes/SpriteImportWindow.Designer.cs
  Editor/AGS.Editor/Panes/SpriteImportWindow.cs
  Editor/AGS.Editor/Panes/SpriteSelector.cs
  Editor/AGS.Editor/Utils/BitmapExtensions.cs
  Editor/AGS.Editor/Utils/SpriteTools.cs
  Editor/AGS.Native/NativeMethods.cpp
  Editor/AGS.Native/NativeMethods.h
  Editor/AGS.Native/agsnative.cpp
  Editor/AGS.Types/AGS.Types.csproj
  Editor/AGS.Types/Enums/SpriteImportColorDepth.cs
  Editor/AGS.Types/Sprite.cs
  Engine/gfx/ddb.h
  Engine/gfx/gfxdefines.h
  Engine/main/graphics_mode.h
Labels: type: enhancement, what: editor, context: editor assets

#2465 Editor: add open recent games to file menu
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/Components/FileCommandsComponent.cs
  Editor/AGS.Editor/Entities/EditorPreferences.cs
  Editor/AGS.Editor/GUI/GUIController.cs
  Editor/AGS.Editor/GUI/MainMenuManager.cs
  Editor/AGS.Editor/InteractiveTasks.cs
  Editor/AGS.Editor/Utils/Debounce.cs
  Editor/AGS.Types/EditorFeatures/MenuCommand.cs
Labels: what: editor, context: ui/ux

#2466 Editor: fix global variables and text parser pane scaling
  Editor/AGS.Editor/Panes/GlobalVariablesEditor.Designer.cs
  Editor/AGS.Editor/Panes/TextParserEditor.Designer.cs
Labels: what: editor, context: ui/ux

#2470 Pass mouse position into "on_mouse_click" script callback
  Engine/ac/character.cpp
  Engine/ac/dialog.cpp
  Engine/ac/event.cpp
  Engine/ac/event.h
  Engine/ac/game.cpp
  Engine/ac/global_game.cpp
  Engine/ac/global_room.cpp
  Engine/ac/gui.cpp
  Engine/ac/room.cpp
  Engine/device/mousew32.cpp
  Engine/device/mousew32.h
  Engine/main/game_run.cpp
  Engine/main/game_run.h
  Engine/script/nonblockingscriptfunction.h
  Engine/script/script.cpp
Labels: context: script api

#2467 Editor: adds toggle line comments in script editor
  Editor/AGS.Editor/Entities/EditorPreferences.cs
  Editor/AGS.Editor/GUI/PreferencesEditor.cs
  Editor/AGS.Editor/Panes/ScintillaWrapper.cs
  Editor/AGS.Editor/Panes/ScriptEditor.cs
Labels: what: editor, context: ui/ux

#2356 AGS4: Extend Allegro palette to 0-255
  Common/gfx/image_file.cpp
  Editor/AGS.Editor/Components/CharactersComponent.cs
  Editor/AGS.Editor/DataFileWriter.cs
  Editor/AGS.Editor/ImportExport.cs
  Editor/AGS.Editor/Utils/ColorMapper.cs
  Editor/AGS.Editor/Utils/PaletteUtilities.cs
  Editor/AGS.Native/agsnative.cpp
  Editor/AGS.Types/Game.cs
  Editor/Native/color_native.cpp
  Engine/ac/room.cpp
  Engine/ac/screen.cpp
  libsrc/allegro/include/allegro/inline/color.inl
  libsrc/allegro/src/allegro.c
  libsrc/allegro/src/blit.c
  libsrc/allegro/src/color.c
  libsrc/allegro/src/fli.c
  libsrc/allegro/src/gfx.c
  libsrc/allegro/src/quantize.c
  libsrc/allegro/src/win/gdi.c
Labels: ags 4, context: 8-bit gfx

#2477 Backport RouteFinder refactor to ags3 branch
  Common/gfx/allegrobitmap.cpp
  Common/gfx/allegrobitmap.h
  Common/gfx/bitmap.cpp
  Common/gfx/bitmap.h
  Common/util/geometry.h
  Engine/ac/character.cpp
  Engine/ac/character.h
  Engine/ac/draw.cpp
  Engine/ac/game.cpp
  Engine/ac/movelist.cpp
  Engine/ac/movelist.h
  Engine/ac/object.cpp
  Engine/ac/room.cpp
  Engine/ac/room.h
  Engine/ac/route_finder.cpp
  Engine/ac/route_finder.h
  Engine/ac/route_finder_impl.cpp
  Engine/ac/route_finder_impl.h
  Engine/ac/route_finder_impl_legacy.cpp
  Engine/ac/route_finder_impl_legacy.h
  Engine/ac/route_finder_jps.inl
  Engine/main/engine.cpp
  Engine/main/quit.cpp
  Engine/main/update.cpp
  Engine/plugin/agsplugin.cpp
  Solutions/Engine.App/Engine.App.vcxproj
  Solutions/Engine.App/Engine.App.vcxproj.filters
Labels: context: code

#2476 Editor: add a template save command line option
  Editor/AGS.Editor/GUI/GUIController.cs
  Editor/AGS.Editor/Utils/CommandLineOptions.cs
Labels: what: editor, context: editor assets

#2469 Editor: resize room masks when changing the background to a different size instead of just resetting them.
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/Components/RoomsComponent.cs
  Editor/AGS.Editor/GUI/AdjustMasksDialog.Designer.cs
  Editor/AGS.Editor/GUI/AdjustMasksDialog.cs
  Editor/AGS.Editor/GUI/AdjustMasksDialog.resx
  Editor/AGS.Editor/Panes/Room/RoomSettingsEditor.cs
  Editor/AGS.Editor/Utils/BitmapExtensions.cs
  Editor/AGS.Types/AGS.Types.csproj
  Editor/AGS.Types/Enums/AdjustMaskOptions.cs
  Editor/AGS.Types/Interfaces/IRoomController.cs
Labels: what: editor, context: ui/ux
