Repository adventuregamestudio/ags, pull requests merged in 2024-06, with the labels that each got.

#2426 AGS 4: Add GUI.ScaleX, ScaleY and SetScale(x,y)
  Common/gfx/gfx_def.h
  Common/gui/guimain.cpp
  Common/gui/guimain.h
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/draw.cpp
  Engine/ac/global_inventoryitem.cpp
  Engine/ac/global_inventoryitem.h
  Engine/ac/gui.cpp
  Engine/ac/gui.h
  Engine/ac/invwindow.cpp
  Engine/main/game_run.cpp
Labels: ags 4, context: script api

#2430 AGS 4: Watch script variables at runtime
  Common/script/cc_common.h
  Common/script/cc_reflect.cpp
  Common/script/cc_reflect.h
  Common/script/cc_script.cpp
  Common/script/cc_script.h
  Common/util/compress.cpp
  Common/util/compress.h
  Common/util/string.cpp
  Common/util/string.h
  Compiler/script/cc_symboldef.h
  Compiler/script/cc_symboltable.cpp
  Compiler/script/cc_symboltable.h
  Compiler/script/cs_compiler.cpp
  Compiler/script/cs_parser.cpp
  Compiler/script2/cc_symboltable.cpp
  Compiler/script2/cc_symboltable.h
  Compiler/script2/cs_compiler.cpp
  Compiler/script2/cs_parser.cpp
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/Components/BuildCommandsComponent.cs
  Editor/AGS.Editor/Debugger/DebugController.cs
  Editor/AGS.Editor/GUI/GUIController.cs
  Editor/AGS.Editor/GUI/WatchVariablesPanel.Designer.cs
  Editor/AGS.Editor/GUI/WatchVariablesPanel.cs
  Editor/AGS.Editor/GUI/WatchVariablesPanel.resx
  Editor/AGS.Editor/GUI/frmMain.Designer.cs
  Editor/AGS.Editor/GUI/frmMain.cs
  Editor/AGS.Native/ScriptCompiler.cpp
  Engine/CMakeLists.txt
  Engine/ac/dynobj/cc_agsdynamicobject.cpp
  Engine/ac/dynobj/cc_agsdynamicobject.h
  Engine/ac/dynobj/cc_character.cpp
  Engine/ac/dynobj/cc_character.h
  Engine/ac/dynobj/cc_scriptobject.h
  Engine/ac/dynobj/cc_staticarray.cpp
  Engine/ac/dynobj/cc_staticarray.h
  Engine/ac/dynobj/scriptgame.cpp
  Engine/ac/dynobj/scriptgame.h
  Engine/ac/dynobj/scriptmouse.cpp
  Engine/ac/dynobj/scriptmouse.h
  Engine/ac/dynobj/scriptsystem.cpp
  Engine/ac/dynobj/scriptsystem.h
  Engine/ac/room.cpp
  Engine/debug/debug.cpp
  Engine/debug/memory_inspect.cpp
  Engine/debug/memory_inspect.h
  Engine/main/main.cpp
  Engine/script/cc_instance.cpp
  Engine/script/cc_instance.h
  Engine/script/script.cpp
  Solutions/Engine.App/Engine.App.vcxproj
  Solutions/Engine.App/Engine.App.vcxproj.filters
Labels: ags 4

#2457 Editor: Add shortcut keys for context menu items and Go to Definition, Find All Usages, Go to Sprite, and dd items to Edit menu
  Editor/AGS.Editor/Panes/ScintillaWrapper.cs
  Editor/AGS.Editor/Panes/ScriptEditor.cs
  Editor/AGS.Editor/Panes/ScriptEditorBase.cs
Labels: type: enhancement, what: editor, context: ui/ux
