Repository adventuregamestudio/ags, pull requests merged in 2024-11, with the labels that each got.

#2556 Editor: test missing event handlers as a post-compilation step
  Common/game/interactions.cpp
  Common/game/interactions.h
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/Components/BaseComponentWithScripts.cs
  Editor/AGS.Editor/Components/CharactersComponent.cs
  Editor/AGS.Editor/Components/DialogsComponent.cs
  Editor/AGS.Editor/Components/GuiComponent.cs
  Editor/AGS.Editor/Components/InventoryComponent.cs
  Editor/AGS.Editor/Components/RoomsComponent.cs
  Editor/AGS.Editor/Components/ScriptsComponent.cs
  Editor/AGS.Editor/Components/SpeechComponent.cs
  Editor/AGS.Editor/Entities/CharacterIDChangedEventArgs.cs
  Editor/AGS.Editor/Entities/CharacterRoomChangedEventArgs.cs
  Editor/AGS.Editor/Entities/CompilationStepArgs.cs
  Editor/AGS.Editor/Entities/GenericMessagesArgs.cs
  Editor/AGS.Editor/Entities/OutputCreationStepArgs.cs
  Editor/AGS.Editor/Entities/ZoomToFileEventArgs.cs
  Editor/AGS.Editor/Enums/ZoomToFileZoomType.cs
  Editor/AGS.Editor/GUI/GUIController.cs
  Editor/AGS.Editor/Panes/ScintillaWrapper.cs
  Editor/AGS.Editor/Panes/ScriptEditor.cs
  Editor/AGS.Editor/Panes/ScriptEditorBase.cs
  Editor/AGS.Editor/Tasks.cs
  Editor/AGS.Editor/Utils/ScriptGeneration.cs
  Editor/AGS.Native/agsnative.cpp
  Editor/AGS.Types/AGS.Types.csproj
  Editor/AGS.Types/EditorFeatures/OpenScriptFunctionArgs.cs
  Editor/AGS.Types/PropertyGridExtras/ScriptFunctionUIEditor.cs
  Engine/script/executingscript.cpp
  Engine/script/executingscript.h
  Engine/script/script.cpp
  Engine/script/script.h
Labels: what: editor, context: game building

#2489 Support reading saves from older game version
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/CMakeLists.txt
  Engine/ac/dynobj/scriptrestoredsaveinfo.h
  Engine/ac/game.cpp
  Engine/ac/game.h
  Engine/ac/global_game.cpp
  Engine/ac/room.cpp
  Engine/game/savegame.cpp
  Engine/game/savegame.h
  Engine/game/savegame_components.cpp
  Engine/game/savegame_internal.h
  Engine/main/game_start.cpp
  Engine/script/exports.cpp
  Solutions/Engine.App/Engine.App.vcxproj
  Solutions/Engine.App/Engine.App.vcxproj.filters
Labels: context: script api, context: game logic

#2569 Engine: use safe strcpy function instead of snprintf where truncation expected
  Common/game/main_game_file.cpp
  Common/util/string_compat.c
  Common/util/string_compat.h
  Engine/ac/gamestate.cpp
  Engine/ac/gamestate.h
  Engine/ac/global_parser.cpp
  Engine/ac/parser.cpp
  Engine/ac/sys_events.cpp
  Engine/main/engine.cpp
Labels: context: code

#2559 AGS 4: remake DynamicArray.Length pseudo-property getter as a object member function
  Common/script/cc_internal.h
  Compiler/script/cc_compiledscript.cpp
  Compiler/script/cc_compiledscript.h
  Compiler/script/cc_symboltable.cpp
  Compiler/script/cc_symboltable.h
  Compiler/script/cs_compiler.cpp
  Compiler/script/cs_parser.cpp
  Compiler/script2/cs_compiler.cpp
  Compiler/script2/cs_parser.cpp
  Compiler/script2/cs_parser.h
  Compiler/test2/cc_bytecode_test_1.cpp
  Engine/ac/dynobj/cc_dynamicarray.cpp
Labels: ags 4, context: script compiler

#2581 Editor: adds version in Welcome Screen
  Editor/AGS.Editor/GUI/WelcomeScreen.Designer.cs
  Editor/AGS.Editor/GUI/WelcomeScreen.cs
Labels: what: editor, context: ui/ux

#2577 Editor: multiline text editing in labels and buttons
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/GUI/GUIController.cs
  Editor/AGS.Editor/GUI/MultilineStringEditorDialog.Designer.cs
  Editor/AGS.Editor/GUI/MultilineStringEditorDialog.cs
  Editor/AGS.Editor/GUI/MultilineStringEditorDialog.resx
  Editor/AGS.Editor/Panes/GUIEditor.cs
  Editor/AGS.Types/AGS.Types.csproj
  Editor/AGS.Types/GUIButton.cs
  Editor/AGS.Types/GUILabel.cs
  Editor/AGS.Types/PropertyGridExtras/MultilineStringUIEditor.cs
Labels: what: editor, context: ui/ux

#2579 Script API: Prescan saves and test for validity
  Common/gui/guimain.cpp
  Common/gui/guimain.h
  Common/util/directory.h
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/event.h
  Engine/ac/game.cpp
  Engine/ac/game.h
  Engine/ac/global_game.cpp
  Engine/ac/global_game.h
  Engine/ac/listbox.cpp
  Engine/ac/listbox.h
  Engine/ac/runtime_defines.h
  Engine/game/savegame.cpp
  Engine/game/savegame.h
  Engine/game/savegame_components.cpp
  Engine/game/savegame_components.h
  Engine/game/savegame_internal.h
  Engine/gui/guidialog.cpp
  Engine/script/executingscript.h
  Engine/script/script.cpp
  Engine/script/script_api.h
Labels: context: script api, context: game logic

#2587 Script API: SendEvent() function, calling "on_event"
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/event.h
  Engine/ac/global_api.cpp
Labels: context: script api

#2582 New compiler: support constructors
  Compiler/script2/cc_symboltable.cpp
  Compiler/script2/cc_symboltable.h
  Compiler/script2/cs_parser.cpp
  Compiler/script2/cs_parser.h
  Compiler/test2/cc_bytecode_test_1.cpp
  Compiler/test2/cc_parser_test_1.cpp
Labels: ags 4, context: script compiler

#2588 Adds Character.Following readonly property
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/character.cpp
Labels: context: script api
