Repository adventuregamestudio/ags, pull requests merged in 2024-05, with the labels that each got.

#2395 4.0: Overlays always store their explicit position, reimplemented autopositioning
  Engine/ac/character.cpp
  Engine/ac/display.cpp
  Engine/ac/display.h
  Engine/ac/draw.cpp
  Engine/ac/global_character.cpp
  Engine/ac/overlay.cpp
  Engine/ac/overlay.h
  Engine/ac/runtime_defines.h
  Engine/ac/screenoverlay.cpp
  Engine/ac/screenoverlay.h
  Engine/main/game_run.cpp
  Engine/main/update.cpp
Labels: ags 4, context: script api

#2404 Add wizard image files to Windows installer
  Windows/Installer/Source/Installer/Wizard.bmp
  Windows/Installer/Source/Installer/WizardSmall.bmp
  Windows/Installer/ags.iss
Labels: context: deployment

#2401 [ags4] add string Split and Join
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/dynobj/cc_dynamicarray.cpp
  Engine/ac/dynobj/cc_dynamicarray.h
  Engine/ac/string.cpp
  Engine/script/script_api.h
Labels: context: script api

#2412 AGS 3: replace C arrays in ccScript with std containers
  Common/ac/gamesetupstructbase.h
  Common/script/cc_internal.h
  Common/script/cc_script.cpp
  Common/script/cc_script.h
  Common/util/string_utils.cpp
  Common/util/string_utils.h
  Compiler/script/cc_compiledscript.cpp
  Compiler/script/cc_compiledscript.h
  Compiler/script/cs_compiler.cpp
  Compiler/script/cs_parser.cpp
  Compiler/script/cs_parser_common.h
  Compiler/test/cs_parser_test.cpp
  Editor/AGS.Native/Scripting.h
  Engine/script/cc_instance.cpp
Labels: context: script compiler, context: code

#2419 Support importing 4-bit bitmaps as 8-bit (for masks and sprites)
  Common/gfx/bitmap.cpp
  Common/gfx/bitmap.h
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/BaseAreasEditorFilter.cs
  Editor/AGS.Native/agsnative.cpp
Labels: type: enhancement, what: editor, context: editor assets

#2422 Improve Room Editor's navigation bar's scrolling
  Editor/AGS.Controls/AGS.Controls.csproj
  Editor/AGS.Controls/AdressBarEx/AddressBarExt.cs
  Editor/AGS.Controls/Controls/ToolStripDropDownMenuEx.cs
  Editor/AGS.Editor/Panes/Room/RoomSettingsEditor.cs
Labels: what: editor, context: ui/ux

#2431 Plugin API: implemented IAGSEngine.Log()
  Common/debug/debugmanager.cpp
  Common/debug/out.h
  Editor/AGS.Editor/Entities/LogBuffer.cs
  Editor/AGS.Types/Enums/LogGroup.cs
  Editor/AGS.Types/LogGroups.cs
  Engine/debug/debug.cpp
  Engine/main/main.cpp
  Engine/plugin/agsplugin.cpp
  Engine/plugin/agsplugin.h
  OPTIONS.md
Labels: context: plugin api

#2435 Introduce BitmapData class: a plain buffer of pixels, may be used without full Bitmap dependency
  Common/CMakeLists.txt
  Common/font/fonts.cpp
  Common/gfx/allegrobitmap.cpp
  Common/gfx/allegrobitmap.h
  Common/gfx/bitmap.cpp
  Common/gfx/bitmap.h
  Common/gfx/bitmapdata.cpp
  Common/gfx/bitmapdata.h
  Common/gfx/image_file.cpp
  Common/gfx/image_file.h
  Common/util/stream.h
  Engine/ac/global_dynamicsprite.cpp
  Engine/ac/global_game.cpp
  Engine/gfx/ali3dsw.cpp
  Engine/main/engine.cpp
  Solutions/Common.Lib/Common.Lib.vcxproj
  Solutions/Common.Lib/Common.Lib.vcxproj.filters
  libsrc/allegro/include/allegro/gfx.h
  libsrc/allegro/src/graphics.c
Labels: context: code
