Repository adventuregamestudio/ags, pull requests merged in 2024-10, with the labels that each got.

#2531 Switch to use full character's script name in voice-over clips
  Common/ac/gamesetupstructbase.h
  Common/ac/gamestructdefines.h
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/DataFileWriter.cs
  Editor/AGS.Editor/Resources/agsdefns.sh
  Editor/AGS.Editor/Tasks.cs
  Editor/AGS.Editor/Utils/NativeConstants.cs
  Editor/AGS.Native/NativeMethods.cpp
  Editor/AGS.Native/agsnative.cpp
  Editor/AGS.Types/Settings.cs
  Engine/ac/global_audio.cpp
  Engine/ac/speech.cpp
Labels: context: editor assets, context: speech

#2544 Tools: remove agf2autoash and agf2glvar
  Solutions/Tools.App/agf2autoash.vcxproj
  Solutions/Tools.App/agf2autoash.vcxproj.filters
  Solutions/Tools.App/agf2glvar.vcxproj
  Solutions/Tools.App/agf2glvar.vcxproj.filters
  Solutions/Tools.sln
  Tools/CMakeLists.txt
  Tools/agf2autoash/Makefile
  Tools/agf2autoash/main.cpp
  Tools/agf2glvar/Makefile
  Tools/agf2glvar/main.cpp
Labels: what: tools

#2541 Script API: expand methods for displaying list of files and saves
  Common/core/assetmanager.cpp
  Common/core/assetmanager.h
  Common/util/directory.cpp
  Common/util/directory.h
  Common/util/file.cpp
  Common/util/file.h
  Common/util/stdio_compat.c
  Common/util/stdio_compat.h
  Common/util/string_types.h
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/dynobj/scriptdatetime.cpp
  Engine/ac/dynobj/scriptdatetime.h
  Engine/ac/file.cpp
  Engine/ac/game.cpp
  Engine/ac/game.h
  Engine/ac/gamesetup.h
  Engine/ac/gamestate.cpp
  Engine/ac/gamestate.h
  Engine/ac/global_api.cpp
  Engine/ac/global_game.cpp
  Engine/ac/global_game.h
  Engine/ac/listbox.cpp
  Engine/ac/listbox.h
  Engine/ac/runtime_defines.h
  Engine/ac/speech.cpp
  Engine/gui/guidialog.cpp
  Engine/gui/guidialog.h
  Engine/main/config.cpp
  Engine/main/game_run.cpp
  Engine/platform/base/agsplatformdriver.cpp
  Engine/script/script.cpp
  OPTIONS.md
Labels: context: script api

#2547 GUI Buttons can wrap & pad text, GUI Labels full alignment
  Common/font/fonts.h
  Common/game/main_game_file.cpp
  Common/gui/guibutton.cpp
  Common/gui/guibutton.h
  Common/gui/guidefines.h
  Common/gui/guilabel.cpp
  Common/gui/guilabel.h
  Common/gui/guilistbox.cpp
  Common/gui/guimain.cpp
  Common/gui/guimain.h
  Common/gui/guiobject.h
  Common/gui/guitextbox.cpp
  Common/util/geometry.cpp
  Common/util/geometry.h
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/DataFileWriter.cs
  Editor/AGS.Editor/Resources/agsdefns.sh
  Editor/AGS.Editor/Utils/NativeConstants.cs
  Editor/AGS.Native/NativeMethods.cpp
  Editor/AGS.Native/agsnative.cpp
  Editor/AGS.Types/Enums/FrameAlignment.cs
  Editor/AGS.Types/GUIButton.cs
  Editor/AGS.Types/GUILabel.cs
  Editor/Native/acgui_agsnative.cpp
  Engine/ac/button.cpp
  Engine/ac/drawingsurface.cpp
  Engine/ac/label.cpp
  Engine/game/savegame_components.cpp
  Engine/gui/gui_engine.cpp
Labels: context: game logic

#2551 Script API: more DateTime factory methods
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/datetime.cpp
  Engine/ac/datetime.h
  Engine/ac/dynobj/scriptdatetime.cpp
  Engine/ac/dynobj/scriptdatetime.h
  Engine/ac/file.cpp
  Engine/ac/game.cpp
  Engine/ac/global_datetime.cpp
  Engine/platform/base/agsplatformdriver.cpp
  Engine/platform/base/agsplatformdriver.h
  Engine/script/script_api.h
Labels: context: script api

#2555 Fix nested `#else` in a script preprocessor
  Compiler/preproc/preprocessor.cpp
  Compiler/preproc/preprocessor.h
  Compiler/test/preprocessor_test.cpp
  Editor/AGS.CScript.Compiler/Preprocessor.cs
Labels: context: script compiler

#2554 Script API: implement File.ReadBytes, WriteBytes
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/dynobj/cc_dynamicarray.h
  Engine/ac/file.cpp
  Engine/script/script_api.h
Labels: context: script api

#2560 Backport AGS.Native.IScriptCompiler to 3.6.2
  Common/script/cc_common.h
  Compiler/compiler.cpp
  Compiler/compiler.h
  Compiler/main.cpp
  Compiler/script/cs_compiler.cpp
  Compiler/script/cs_compiler.h
  Editor/AGS.CScript.Compiler/IScriptCompiler.cs
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/NativeProxy.cs
  Editor/AGS.Native/CompiledScript.h
  Editor/AGS.Native/IScriptCompiler.h
  Editor/AGS.Native/NativeDLL.vcxproj
  Editor/AGS.Native/NativeMethods.h
  Editor/AGS.Native/ScriptCompiler.cpp
  Editor/AGS.Native/Scripting.h
  Editor/AGS.Native/agsnative.cpp
Labels: what: editor, context: script compiler, context: code
