Repository adventuregamestudio/ags, pull requests merged in 2025-03, with the labels that each got.

#2696 AGS 4: Added GUIControls.BlendMode (and Transparency in the Editor)
  Common/ac/game_version.h
  Common/game/main_game_file.cpp
  Common/gui/guidefines.h
  Common/gui/guimain.cpp
  Common/gui/guiobject.cpp
  Common/gui/guiobject.h
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/DataFileWriter.cs
  Editor/AGS.Editor/Resources/agsdefns.sh
  Editor/AGS.Types/GUIControl.cs
  Engine/ac/character.cpp
  Engine/ac/draw.cpp
  Engine/ac/gui.cpp
  Engine/ac/guicontrol.cpp
  Engine/ac/object.cpp
  Engine/ac/object.h
  Engine/ac/overlay.cpp
  Engine/game/savegame_components.cpp
Labels: context: graphics, ags 4, context: script api

#2695 AGS 4: implement CopyX BlendModes
  Common/gfx/blender.cpp
  Common/gfx/gfx_def.h
  Editor/AGS.Editor/Resources/agsdefns.sh
  Editor/AGS.Types/Enums/BlendMode.cs
  Engine/ac/dynobj/scriptdrawingsurface.cpp
  Engine/gfx/ali3dogl.cpp
  Engine/gfx/ali3dogl.h
  Engine/gfx/gfx_util.cpp
  Engine/platform/windows/gfx/ali3dd3d.cpp
  Engine/platform/windows/gfx/ali3dd3d.h
Labels: context: graphics, ags 4, context: script api

#2701 Engine: correct game process spawning and winsetup exit
  Engine/main/engine.cpp
Labels: what: winsetup

#2692 AGS 4: Touch Input API (2)
  Common/util/geometry.h
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/CMakeLists.txt
  Engine/ac/display.cpp
  Engine/ac/dynobj/cc_hotspot.h
  Engine/ac/dynobj/scriptjoystick.h
  Engine/ac/dynobj/scripttouchpointer.cpp
  Engine/ac/dynobj/scripttouchpointer.h
  Engine/ac/event.cpp
  Engine/ac/event.h
  Engine/ac/gamesetup.h
  Engine/ac/runtime_defines.h
  Engine/ac/speech.cpp
  Engine/ac/sys_events.cpp
  Engine/ac/sys_events.h
  Engine/ac/touch.cpp
  Engine/ac/touch.h
  Engine/device/mousew32.cpp
  Engine/device/mousew32.h
  Engine/main/config.cpp
  Engine/main/engine.cpp
  Engine/main/engine_setup.cpp
  Engine/main/game_run.cpp
  Engine/main/game_run.h
  Engine/script/exports.cpp
  Engine/script/script.cpp
  Solutions/Engine.App/Engine.App.vcxproj
  Solutions/Engine.App/Engine.App.vcxproj.filters
Labels: type: enhancement, ags 4, context: script api, context: input

#2687 AGS 4: implement MotionPath script API
  Common/ac/characterinfo.h
  Common/ac/gamestructdefines.h
  Common/util/geometry.h
  Editor/AGS.Editor/Resources/agsdefns.sh
  Editor/AGS.Types/Enums/ScriptAPIVersion.cs
  Engine/CMakeLists.txt
  Engine/ac/character.cpp
  Engine/ac/characterextras.cpp
  Engine/ac/characterextras.h
  Engine/ac/characterinfo_engine.cpp
  Engine/ac/draw.cpp
  Engine/ac/dynobj/cc_dynamicarray.cpp
  Engine/ac/dynobj/cc_dynamicarray.h
  Engine/ac/dynobj/cc_serializer.cpp
  Engine/ac/dynobj/scriptmotionpath.cpp
  Engine/ac/dynobj/scriptmotionpath.h
  Engine/ac/game.cpp
  Engine/ac/game.h
  Engine/ac/gamestate.h
  Engine/ac/movelist.cpp
  Engine/ac/movelist.h
  Engine/ac/object.cpp
  Engine/ac/overlay.cpp
  Engine/ac/pathfinder_script.cpp
  Engine/ac/roomobject.cpp
  Engine/ac/roomobject.h
  Engine/ac/roomstatus.h
  Engine/ac/route_finder.cpp
  Engine/ac/route_finder.h
  Engine/game/game_init.cpp
  Engine/game/savegame.cpp
  Engine/game/savegame_components.cpp
  Engine/main/update.cpp
  Engine/plugin/agsplugin.cpp
  Engine/script/script_api.h
  Solutions/Engine.App/Engine.App.vcxproj
  Solutions/Engine.App/Engine.App.vcxproj.filters
Labels: ags 4, context: script api

#2709 OGL: Fixed blendmodes not respecting transparency
  Engine/gfx/ali3dogl.cpp
  Engine/gfx/ali3dogl.h
Labels: type: bug, context: graphics, ags 4
