Repository adventuregamestudio/ags, pull requests merged in 2025-05, with the labels that each got.

#2721 Optional saves compression
  Common/CMakeLists.txt
  Common/test/stream_test.cpp
  Common/util/bufferedstream.cpp
  Common/util/bufferedstream.h
  Common/util/deflatestream.cpp
  Common/util/deflatestream.h
  Common/util/stream.cpp
  Common/util/stream.h
  Common/util/transformstream.cpp
  Common/util/transformstream.h
  Editor/AGS.Editor.Tests/Editor/BuildTargets/BuildTargetBaseTests.cs
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Types/RuntimeSetup.cs
  Engine/ac/game.cpp
  Engine/ac/game.h
  Engine/ac/gamesetup.h
  Engine/game/savegame.cpp
  Engine/game/savegame.h
  Engine/game/savegame_components.cpp
  Engine/game/savegame_components.h
  Engine/game/savegame_internal.h
  Engine/main/config.cpp
  Engine/platform/windows/setup/advancedpagedialog.cpp
  Engine/platform/windows/setup/advancedpagedialog.h
  Engine/platform/windows/setup/winsetup.cpp
  Engine/resource/resource.h
  Engine/resource/version.rc
  Solutions/Common.Lib/Common.Lib.vcxproj
  Solutions/Common.Lib/Common.Lib.vcxproj.filters
  Solutions/Tests.App/Common.Lib.Test.vcxproj
  Solutions/Tests.App/Common.Lib.Test.vcxproj.filters
Labels: context: game files, context: performance

#2731 AGS4 Engine: fixing movement issues
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/movelist.cpp
  Engine/ac/movelist.h
  Engine/main/update.cpp
Labels: type: bug, ags 4

#2717 AGS 4 Editor: Cleanup delegate calls and declarations
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/ApplicationController.cs
  Editor/AGS.Editor/Components/AudioComponent.cs
  Editor/AGS.Editor/Components/BuildCommandsComponent.cs
  Editor/AGS.Editor/Components/DialogsComponent.cs
  Editor/AGS.Editor/Components/FileCommandsComponent.cs
  Editor/AGS.Editor/Components/GlobalVariablesComponent.cs
  Editor/AGS.Editor/Components/GuiComponent.cs
  Editor/AGS.Editor/Components/HelpCommandsComponent.cs
  Editor/AGS.Editor/Components/PluginsComponent.cs
  Editor/AGS.Editor/Components/RoomsComponent.cs
  Editor/AGS.Editor/Components/ScriptsComponent.cs
  Editor/AGS.Editor/Components/SpeechComponent.cs
  Editor/AGS.Editor/Components/SpriteManagerComponent.cs
  Editor/AGS.Editor/Components/TranslationsComponent.cs
  Editor/AGS.Editor/Components/ViewsComponent.cs
  Editor/AGS.Editor/DataFileWriter.cs
  Editor/AGS.Editor/Debugger/DebugController.cs
  Editor/AGS.Editor/Debugger/FileBasedEngineCommunication.cs
  Editor/AGS.Editor/Debugger/NamedPipesEngineCommunication.cs
  Editor/AGS.Editor/Entities/LogBuffer.cs
  Editor/AGS.Editor/GUI/BusyDialog.cs
  Editor/AGS.Editor/GUI/GUIController.cs
  Editor/AGS.Editor/GUI/GotoLineDialog.cs
  Editor/AGS.Editor/GUI/ProjectTree.cs
  Editor/AGS.Editor/GUI/frmMain.cs
  Editor/AGS.Editor/InteractiveTasks.cs
  Editor/AGS.Editor/Panes/AudioEditor.cs
  Editor/AGS.Editor/Panes/DefaultSetupPane.cs
  Editor/AGS.Editor/Panes/DialogEditor.cs
  Editor/AGS.Editor/Panes/GUIEditor.cs
  Editor/AGS.Editor/Panes/GeneralSettingsPane.cs
  Editor/AGS.Editor/Panes/LipSyncEditor.cs
  Editor/AGS.Editor/Panes/PaletteEditor.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/BaseAreasEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomEditFilters/BaseThingEditorFilter.cs
  Editor/AGS.Editor/Panes/Room/RoomSettingsEditor.cs
  Editor/AGS.Editor/Panes/ScriptEditor.cs
  Editor/AGS.Editor/Panes/ScriptEditorBase.cs
  Editor/AGS.Editor/Panes/SpriteManager.cs
  Editor/AGS.Editor/Panes/SpriteSelector.cs
  Editor/AGS.Editor/Panes/ViewEditor.cs
  Editor/AGS.Editor/Panes/ViewPreview.cs
  Editor/AGS.Editor/Program.cs
  Editor/AGS.Editor/Tasks.cs
  Editor/AGS.Types/PropertyGridExtras/BuildTargetUIEditor.cs
Labels: what: editor, ags 4, context: code

#2728 AGS 4 Editor: Update .NET framework from 4.6 to 4.7
  .cirrus.yml
  Changes.txt
  Editor/AGS.CScript.Compiler/AGS.CScript.Compiler.csproj
  Editor/AGS.Controls/AGS.Controls.csproj
  Editor/AGS.Editor.Tests/AGS.Editor.Tests.csproj
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/app.config
  Editor/AGS.Editor/app.manifest
  Editor/AGS.Native/NativeDLL.vcxproj
  Editor/AGS.Types/AGS.Types.csproj
  Windows/Installer/ags.iss
  Windows/README.md
  ci/windows/Dockerfile
Labels: what: editor, ags 4

#2730 Editor: sprite export dialog adjustments
  Editor/AGS.Editor/GUI/SpriteExportDialog.Designer.cs
Labels: what: editor, context: ui/ux

#2733 AGS 4: Support multiple textures in shaders (samplers)
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/draw.cpp
  Engine/ac/draw.h
  Engine/ac/dynobj/scriptshader.cpp
  Engine/ac/dynobj/scriptshader.h
  Engine/ac/shader_script.cpp
  Engine/gfx/ali3dogl.cpp
  Engine/gfx/ali3dogl.h
  Engine/gfx/graphicsdriver.h
  Engine/platform/windows/gfx/ali3dd3d.cpp
  Engine/platform/windows/gfx/ali3dd3d.h
Labels: context: graphics, ags 4, context: script api
