Repository adventuregamestudio/ags, pull requests merged in 2025-01, with the labels that each got.

#2649 Engine: refactor passing text_color into display_main()
  Common/core/types.h
  Engine/ac/character.cpp
  Engine/ac/display.cpp
  Engine/ac/display.h
  Engine/ac/global_api.cpp
  Engine/ac/global_character.cpp
  Engine/ac/global_overlay.cpp
  Engine/ac/global_overlay.h
  Engine/ac/overlay.cpp
  Engine/ac/overlay.h
Labels: context: code

#2653 SDL_sound: update to latest
  CMake/FetchSDL_Sound.cmake
  OSX/README.md
  Windows/README.md
  ci/linux/Dockerfile
  ci/windows/Dockerfile
  debian/README.md
  libsrc/download.sh
  libsrc/sha1sums
  version.json
Labels: context: audio

#2648 AGS 4: color properties have alpha component
  Common/ac/game_version.h
  Common/ac/gamesetupstructbase.cpp
  Common/ac/gamestructdefines.h
  Common/game/main_game_file.cpp
  Common/gfx/allegrobitmap.cpp
  Common/gui/guibutton.cpp
  Common/gui/guilabel.cpp
  Common/gui/guilistbox.cpp
  Common/gui/guimain.cpp
  Common/gui/guimain.h
  Common/gui/guitextbox.cpp
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/Resources/agsdefns.sh
  Editor/AGS.Editor/Tasks.cs
  Editor/AGS.Editor/Utils/ColorMapper.cs
  Editor/AGS.Types/AGS.Types.csproj
  Editor/AGS.Types/Attributes/SerializeAsHex.cs
  Editor/AGS.Types/Character.cs
  Editor/AGS.Types/Enums/ScriptAPIVersion.cs
  Editor/AGS.Types/GUI.cs
  Editor/AGS.Types/GUIButton.cs
  Editor/AGS.Types/GUILabel.cs
  Editor/AGS.Types/GUIListBox.cs
  Editor/AGS.Types/GUITextBox.cs
  Editor/AGS.Types/NormalGUI.cs
  Editor/AGS.Types/PropertyGridExtras/ColorUIEditor.cs
  Editor/AGS.Types/PropertyGridExtras/CustomColorConverter.cs
  Editor/AGS.Types/SerializeUtils.cs
  Editor/AGS.Types/Settings.cs
  Editor/AGS.Types/TextWindowGUI.cs
  Engine/ac/display.cpp
  Engine/ac/draw.cpp
  Engine/ac/drawingsurface.cpp
  Engine/ac/game.cpp
  Engine/ac/overlay.cpp
  Engine/ac/runtime_defines.h
  Engine/main/engine.cpp
Labels: context: graphics, ags 4, context: game logic

#2650 SDL upgrade to version 2.30.11
  Android/library/runtime/src/main/java/org/libsdl/app/HIDDeviceManager.java
  Android/library/runtime/src/main/java/org/libsdl/app/SDL.java
  Android/library/runtime/src/main/java/org/libsdl/app/SDLActivity.java
  Android/library/runtime/src/main/java/org/libsdl/app/SDLControllerManager.java
  CMake/FetchSDL2.cmake
  ci/linux/Dockerfile
  ci/windows/Dockerfile
  libsrc/download.sh
  libsrc/sha1sums
  version.json
Labels: backend: sdl2

#2657 Editor: support loading 8-bit images with Alpha in palette
  Common/gfx/image_file.cpp
  Editor/AGS.Editor/Panes/SpriteImportWindow.cs
  Editor/AGS.Editor/Utils/BitmapExtensions.cs
  Editor/AGS.Editor/Utils/SpriteTools.cs
  Editor/AGS.Native/SpriteFileWriter_NET.cpp
  Editor/AGS.Native/agsnative.cpp
  libsrc/allegro/include/allegro/palette.h
Labels: what: editor, context: editor assets

#2658 Refactor Character and Object Move functions, optimize WalkStraight
  Engine/ac/character.cpp
  Engine/ac/character.h
  Engine/ac/characterinfo_engine.cpp
  Engine/ac/global_character.cpp
  Engine/ac/global_game.cpp
  Engine/ac/object.cpp
  Engine/ac/object.h
Labels: what: engine, context: code

#2661 AGS 4: support alpha-blending DrawingSurface operations
  Common/CMakeLists.txt
  Common/font/ttffontrenderer.cpp
  Common/font/wfnfontrenderer.cpp
  Common/gfx/allegrobitmap.cpp
  Common/gfx/allegrobitmap.h
  Common/gfx/blender.cpp
  Common/gfx/blender.h
  Common/libsrc/alfont-2.0.9/alfont.c
  Common/libsrc/alfont-2.0.9/alfont.h
  Engine/CMakeLists.txt
  Engine/ac/drawingsurface.cpp
  Engine/ac/dynamicsprite.cpp
  Engine/ac/dynobj/scriptdrawingsurface.cpp
  Engine/ac/dynobj/scriptdrawingsurface.h
  Solutions/Common.Lib/Common.Lib.vcxproj
  Solutions/Common.Lib/Common.Lib.vcxproj.filters
  Solutions/Engine.App/Engine.App.vcxproj
  Solutions/Engine.App/Engine.App.vcxproj.filters
Labels: context: graphics, ags 4, context: script api

#2666 New compiler: incorrect compile time left bitshift overflow
  Compiler/script2/cs_compile_time.cpp
  Compiler/test2/cc_parser_test_2.cpp
Labels: ags 4, context: script compiler

#2669 Implement initial display selection
  Common/core/platform.h
  Engine/gfx/ali3dogl.cpp
  Engine/gfx/ali3dogl.h
  Engine/gfx/ali3dsw.cpp
  Engine/gfx/ali3dsw.h
  Engine/gfx/gfxdefines.h
  Engine/gfx/graphicsdriver.h
  Engine/main/config.cpp
  Engine/main/config.h
  Engine/main/engine.cpp
  Engine/main/engine_setup.cpp
  Engine/main/graphics_mode.cpp
  Engine/main/graphics_mode.h
  Engine/main/main.cpp
  Engine/platform/base/agsplatformdriver.cpp
  Engine/platform/base/agsplatformdriver.h
  Engine/platform/base/sys_main.cpp
  Engine/platform/base/sys_main.h
  Engine/platform/windows/acplwin.cpp
  Engine/platform/windows/gfx/ali3dd3d.cpp
  Engine/platform/windows/gfx/ali3dd3d.h
  Engine/platform/windows/setup/advancedpagedialog.cpp
  Engine/platform/windows/setup/basicpagedialog.cpp
  Engine/platform/windows/setup/basicpagedialog.h
  Engine/platform/windows/setup/windialog.cpp
  Engine/platform/windows/setup/windialog.h
  Engine/platform/windows/setup/winsetup.cpp
  Engine/resource/resource.h
  Engine/resource/version.rc
  OPTIONS.md
Labels: context: graphics mode, what: engine, what: winsetup

#2670 Editor: update properties referencing GUIs on GUI removal or id change
  Editor/AGS.Editor/Components/GuiComponent.cs
  Editor/AGS.Editor/Components/SettingsComponent.cs
  Editor/AGS.Types/AGS.Types.csproj
  Editor/AGS.Types/Game.cs
  Editor/AGS.Types/PropertyGridExtras/AudioClipTypeConverter.cs
  Editor/AGS.Types/PropertyGridExtras/AudioClipTypeTypeConverter.cs
  Editor/AGS.Types/PropertyGridExtras/FontTypeConverter.cs
  Editor/AGS.Types/PropertyGridExtras/GUIIndexTypeConverter.cs
  Editor/AGS.Types/PropertyGridExtras/RoomListTypeConverter.cs
  Editor/AGS.Types/PropertyGridExtras/ScriptListTypeConverter.cs
  Editor/AGS.Types/PropertyGridExtras/TranslationListTypeConverter.cs
  Editor/AGS.Types/Settings.cs
Labels: what: editor, context: ui/ux
