Repository adventuregamestudio/ags, pull requests merged in 2025-02, with the labels that each got.

#2673 Improve PlaceOnWalkableArea
  Common/gfx/allegrobitmap.h
  Engine/ac/character.cpp
  Engine/ac/character.h
  Engine/ac/route_finder.cpp
  Engine/ac/route_finder.h
Labels: context: game logic, context: performance

#2676 Editor: implement "Replace source paths" operation for sprites and audio clips
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/Components/AudioComponent.cs
  Editor/AGS.Editor/GUI/ReplaceFolderDialog.Designer.cs
  Editor/AGS.Editor/GUI/ReplaceFolderDialog.cs
  Editor/AGS.Editor/GUI/ReplaceFolderDialog.resx
  Editor/AGS.Editor/Panes/SpriteSelector.cs
  Editor/AGS.Editor/Utils/Utilities.cs
Labels: what: editor, context: editor assets, context: ui/ux

#2684 AGS 4: Script API: add eRound options and new Maths.Random()
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/characterinfo_engine.cpp
  Engine/ac/global_api.cpp
  Engine/ac/math.cpp
  Engine/ac/math.h
  Engine/script/script_api.h
Labels: ags 4, context: script api

#2693 New compiler: `as VARTYPE` clause in expressions
  Compiler/script2/cc_internallist.h
  Compiler/script2/cc_symboltable.cpp
  Compiler/script2/cc_symboltable.h
  Compiler/script2/cs_parser.cpp
  Compiler/script2/cs_parser.h
  Compiler/test2/cc_bytecode_test_0.cpp
  Compiler/test2/cc_bytecode_test_1.cpp
  Compiler/test2/cc_parser_test_0.cpp
Labels: ags 4, context: script api
