Repository adventuregamestudio/ags, pull requests merged in 2025-06, with the labels that each got.

#2741 Script API: implement Button.GraphicFlip
  Common/gui/guibutton.cpp
  Common/gui/guibutton.h
  Editor/AGS.Editor/Resources/agsdefns.sh
  Engine/ac/button.cpp
Labels: ags 4, context: script api

#2746 4.0: redesign Color Finder, parse colors in various notations
  Editor/AGS.Editor/Panes/PaletteEditor.Designer.cs
  Editor/AGS.Editor/Panes/PaletteEditor.cs
  Editor/AGS.Editor/Panes/PaletteEditor.resx
  Editor/AGS.Editor/Utils/ColorMapper.cs
  Editor/AGS.Types/PaletteEntry.cs
  Editor/AGS.Types/PropertyGridExtras/ColorUIEditor.cs
  Editor/AGS.Types/PropertyGridExtras/CustomColorConverter.cs
  Editor/AGS.Types/Utilities.cs
Labels: type: enhancement, what: editor, context: ui/ux

#2751 New compiler: Check arguments of format functions (`String.Format()` …) at compile time
  Compiler/script2/cc_symboltable.cpp
  Compiler/script2/cc_symboltable.h
  Compiler/script2/cs_parser.cpp
  Compiler/script2/cs_parser.h
  Compiler/script2/cs_scanner.cpp
  Compiler/test2/cc_bytecode_test_0.cpp
  Compiler/test2/cc_bytecode_test_1.cpp
  Compiler/test2/cc_parser_test_2.cpp
Labels: ags 4, context: script compiler

#2760 Editor: shutdown splash screen if app initialization failed
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/ApplicationController.cs
  Editor/AGS.Editor/GUI/GUIController.cs
  Editor/AGS.Editor/Program.cs
  Editor/AGS.Editor/Utils/CommandLineOptions.cs
Labels: what: editor

#2761 Editor: support a include/exclude file when making templates
  Common/util/string.h
  Editor/AGS.Editor.Tests/AGS.Editor.Tests.csproj
  Editor/AGS.Editor.Tests/Editor/Utilities/IncludeUtilsTests.cs
  Editor/AGS.Editor/AGSEditor.cs
  Editor/AGS.Editor/AGSEditor.csproj
  Editor/AGS.Editor/Tasks.cs
  Editor/AGS.Editor/Utils/IncludeUtils.cs
  Tools/data/include_utils.cpp
Labels: what: editor, context: editor assets
